## Pyhton Advanced Day 2

#### MySQL with Python

In [1]:
! pip install mysql-connector-python

# ! pip install pymysql

Requirement already satisfied: mysql-connector-python in c:\users\pvashishtha\anaconda3\lib\site-packages (8.0.31)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\pvashishtha\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.1)

In [2]:
# 1. connect to database
# 2. create a DB cursor
# 3. CRUD operations
# 4. close connection

In [35]:
# connect to database

host='localhost'
user='root'
password=''
database='product'
port=3366

import mysql.connector

In [36]:
try:
    conn=mysql.connector.connect(host=host,
                                user=user,
                                password=password,
                                database=database,
                                port=port)
    print(conn)
except:
    print('Database Not Connected!')

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000023771295A60>

In [5]:
# create cursor
try:
    cur=conn.cursor()
    print(cur)
except:
    print('Cursor Not Created!')

CMySQLCursor: (Nothing executed yet)

In [6]:
# insert 

sql='insert into product_sales values(12, "salt", 29.50, 250, "2023-01-08")'

cur.execute(sql)
conn.commit()
print(cur)

CMySQLCursor: insert into product_sales values(12, "sa..

In [7]:
# insert 

sql='insert into product_sales values(13, "detergent", 329.50, 150, "2023-01-02")'

cur.execute(sql)
conn.commit()
print(cur)

CMySQLCursor: insert into product_sales values(13, "de..

In [8]:
# insert many records at once
sql='insert into product_sales values(%s, %s, %s, %s, %s)'

vals=[
    (14, "toothpaste", 45.0, 120, "2022-11-14"),
    (15, "toothbrush", 15.0, 220, "2022-11-16"),
    (16, "cheese", 92.60, 70, "2022-12-27"),
    (17, "bread", 45.0, 40, "2023-01-09")
]

cur.executemany(sql, vals)
conn.commit()

In [9]:
# read data from DB
sql='select * from product_sales'
cur.execute(sql)

In [10]:
result=cur.fetchall()
for record in result:
    print('_______________________________________')
    print(f'PID: {record[0]}\nProduct: {record[1]}')
    print(f'Price: {record[2]}\nQty: {record[3]}')
    print(f'Mfg Date: {record[4]}')
    print('_______________________________________')

_______________________________________
PID: 10
Product: soap
Price: 35.9
Qty: 120
Mfg Date: 2022-12-07
_______________________________________
_______________________________________
PID: 11
Product: shampoo
Price: 99.99
Qty: 50
Mfg Date: 2022-11-09
_______________________________________
_______________________________________
PID: 12
Product: salt
Price: 29.5
Qty: 250
Mfg Date: 2023-01-08
_______________________________________
_______________________________________
PID: 13
Product: detergent
Price: 99.99
Qty: 150
Mfg Date: 2023-01-02
_______________________________________
_______________________________________
PID: 14
Product: toothpaste
Price: 45.0
Qty: 120
Mfg Date: 2022-11-14
_______________________________________
_______________________________________
PID: 15
Product: toothbrush
Price: 15.0
Qty: 220
Mfg Date: 2022-11-16
_______________________________________
_______________________________________
PID: 16
Product: cheese
Price: 92.6
Qty: 70
Mfg Date: 2022-12-27
_______________________________________
_______________________________________
PID: 17
Product: bread
Price: 45.0
Qty: 40
Mfg Date: 2023-01-09
_______________________________________

In [11]:
# update
sql='update product_sales set price=87.50 where pid=13'
cur.execute(sql)
conn.commit()

sql='select * from product_sales where pid=13'
cur.execute(sql)
result=cur.fetchall()
for record in result:
    print('_______________________________________')
    print(f'PID: {record[0]}\nProduct: {record[1]}')
    print(f'Price: {record[2]}\nQty: {record[3]}')
    print(f'Mfg Date: {record[4]}')
    print('_______________________________________')

_______________________________________
PID: 13
Product: detergent
Price: 87.5
Qty: 150
Mfg Date: 2023-01-02
_______________________________________

In [12]:
# delete

sql='delete from product_sales where pid=11'
cur.execute(sql)
conn.commit()

In [13]:
# fetch one record at a time - highest price product
sql='select * from product_sales order by price desc'
cur.execute(sql)
record=cur.fetchone() # fecthes one record only at a time
print('_______________________________________')
print(f'PID: {record[0]}\nProduct: {record[1]}')
print(f'Price: {record[2]}\nQty: {record[3]}')
print(f'Mfg Date: {record[4]}')
print('_______________________________________')

_______________________________________
PID: 16
Product: cheese
Price: 92.6
Qty: 70
Mfg Date: 2022-12-27
_______________________________________

In [21]:
# DROP | TRUNCATE
sql='drop table product_sales'
try:
    cur.execute(sql)
    conn.commit()
    print('Table Dropped')
except:
    print('DROP | TRUNC Error!')

Table Dropped

In [37]:
# close
cur.close()
conn.close()

#### Student Data

In [44]:
import mysql.connector
class Student:
    def __init__(self, host, user, password, database, port):
        self.host=host
        self.user=user
        self.password=password
        self.database=database
        self.port=port
        self.conn=None
        self.cur=None
        return None
    def get_connection(self):
        self.conn=mysql.connector.connect(host=self.host,
                                         user=self.user,
                                         password=self.password,
                                         database=self.database,
                                         port=self.port)
        self.cur=self.conn.cursor()
        return None
    def close_connection(self):
        self.cur.close()
        self.conn.close()
    def validate(self, email):
        if email.index('@')>0:
            return True
        else:
            return False
        return False
    def create_student_data(self):
        # take user inputs
        # call get_connection()
        # call validate()
        # insert using conn and cur
        # commit
        # call close_connection()
        roll=int(input('Roll No: '))
        name=input('Name: ')
        email=input('Email: ')
        course=input('Course: ')
        date=input('Start Date: ')
        try:
            self.get_connection()
            if self.validate(email):
                sql=f'insert into student values({roll},"{name}","{email}","{course}","{date}")'
                self.cur.execute(sql)
                self.conn.commit()
            else:
                print('Problem Creating Database Record!')
        except:
            print('Error!!!')
            raise
        else:
            print('Record Added!')
        finally:
            self.close_connection()

In [49]:
obj1=Student('localhost','root','','student',3366)
obj1.create_student_data()

Roll No: 120
Name: Saumya
Email: saumya@deloitte.com
Course: PHP
Start Date: 2023-01-09
Record Added!

### Reading SQL Data using Pandas

In [50]:
host='localhost'
user='root'
password=''
database='student'
port=3366

import mysql.connector

conn=mysql.connector.connect(host=host, user=user, 
                            password=password, database=database,
                            port=port)

import pandas as pd
sql="select * from student"
data=pd.read_sql(sql, conn)
data

C:\Users\pvashishtha\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

   roll     name                email  course      stdate
0   109  Prateek      pv@deloitte.com  Python  2023-01-02
1   110     riya    riya@deloitte.com    java  2022-12-01
2   120   Saumya  saumya@deloitte.com     PHP  2023-01-09

## RegEx

In [51]:
import re

In [53]:
re.__dir__()

['__name__',
 '__doc__',
 '__package__',
 '__loader__',
 '__spec__',
 '__file__',
 '__cached__',
 '__builtins__',
 'enum',
 'sre_compile',
 'sre_parse',
 'functools',
 '_locale',
 '__all__',
 '__version__',
 'RegexFlag',
 'ASCII',
 'A',
 'IGNORECASE',
 'I',
 'LOCALE',
 'L',
 'UNICODE',
 'U',
 'MULTILINE',
 'M',
 'DOTALL',
 'S',
 'VERBOSE',
 'X',
 'TEMPLATE',
 'T',
 'DEBUG',
 'error',
 'match',
 'fullmatch',
 'search',
 'sub',
 'subn',
 'split',
 'findall',
 'finditer',
 'compile',
 'purge',
 'template',
 '_special_chars_map',
 'escape',
 'Pattern',
 'Match',
 '_cache',
 '_MAXCACHE',
 '_compile',
 '_compile_repl',
 '_expand',
 '_subx',
 'copyreg',
 '_pickle',
 'Scanner']

#### search()

In [54]:
s='deloitte.com'

match=re.search(r'\.', s)
print(match)

<re.Match object; span=(8, 9), match='.'>

In [55]:
s='from Deloitte'
print(re.search('from', s))

<re.Match object; span=(0, 4), match='from'>

In [57]:
s='from Deloitte'
print(re.search('Del', s))

<re.Match object; span=(5, 8), match='Del'>

In [59]:
s='telecast deloitte'
print(re.search(r'\bte', s))

<re.Match object; span=(0, 2), match='te'>

In [60]:
s='telecast deloitte'
print(re.search(r'te\b', s))

<re.Match object; span=(15, 17), match='te'>

In [61]:
s='the begining of the rain'
print(re.search(r'\Athe', s))

<re.Match object; span=(0, 3), match='the'>

In [62]:
s='raining in the training'
print(re.search(r'\Bain', s))

<re.Match object; span=(1, 4), match='ain'>

In [63]:
s='hello 123 testing'
print(re.search(r'\d\d\d', s))

<re.Match object; span=(6, 9), match='123'>

In [64]:
s='hello 123 testing'
print(re.search(r'\s', s))

<re.Match object; span=(5, 6), match=' '>

In [66]:
re.search(r'\d\d', s)[0]

'12'

In [68]:
re.search(r'\d{5}', 'my mobile num is +91-9808766699. do not call!')

In [69]:
re.search(r'\d{10}', 'my mobile num is +91-9808766699. do not call!')[0]

'9808766699'

In [70]:
print(re.search(r'\W', "Hello! I am Alexa."))

<re.Match object; span=(5, 6), match='!'>

### findall()

In [71]:
s='Hi Alexa! recharge my mobile +91-9808123456'
print(re.findall(r'\d', s))

['9', '1', '9', '8', '0', '8', '1', '2', '3', '4', '5', '6']

In [73]:
s=' I have two mobile number viz 9808123456 and 9837771001'
print(re.findall(r'\d{10}',s))

['9808123456', '9837771001']

### compile()

In [74]:
pattern=re.compile(r'\d{10}')

In [76]:
print(pattern.search('my mobile is 9808123456 and 9837371201'))

<re.Match object; span=(13, 23), match='9808123456'>

In [77]:
print(pattern.findall('my mobile is 9808123456 and 9837371201'))

['9808123456', '9837371201']

In [78]:
s='''How are you all? I am feeling good today.
Do you know what is date today? Is it january 10.'''

In [79]:
pattern=re.compile(r'\w+')

In [80]:
print(pattern.search(s))

<re.Match object; span=(0, 3), match='How'>

In [81]:
print(pattern.findall(s))

['How', 'are', 'you', 'all', 'I', 'am', 'feeling', 'good', 'today', 'Do', 'you', 'know', 'what', 'is', 'date', 'today', 'Is', 'it', 'january', '10']

### split()

In [82]:
print(re.split(r'\W+', 'hello how are you? my rank is 100'))

['hello', 'how', 'are', 'you', 'my', 'rank', 'is', '100']

In [84]:
print(re.split(r'\s', 'hello how are you? my rank is 100.'))

['hello', 'how', 'are', 'you?', 'my', 'rank', 'is', '100.']

In [86]:
print(re.split(r'\d+', 'my rank is 100 and your rank is 99'))

['my rank is ', ' and your rank is ', '']

In [87]:
print(re.split(r'\.','192.168.56.234'))

['192', '168', '56', '234']

In [88]:
print(re.split(r'@','prateek@deloitte.com'))

['prateek', 'deloitte.com']

### sub()

In [89]:
# substitute the substring

In [92]:
s='I like to book Uber cabs. Uber is better.'
print(re.sub('UBER', 'OLA', s, flags=re.IGNORECASE))

I like to book OLA cabs. OLA is better.

In [93]:
s='I like to book Uber cabs. Uber is better.'
print(re.sub('UBER', 'OLA', s, flags=re.IGNORECASE, count=1))

I like to book OLA cabs. Uber is better.

In [98]:
s='Peter pipe has baught a pipe so that peter pipe can use the pipe'
print(re.sub('PIPE', 'POLE', s, flags=re.IGNORECASE, count=3))

Peter POLE has baught a POLE so that peter POLE can use the pipe

### Pattern Based Searching

In [99]:
s='I am not available for meeting from 16 January'
pattern='(\d{2}) ([A-Za-z]+)'
match=re.search(pattern, s)
print(match)

<re.Match object; span=(36, 46), match='16 January'>

In [100]:
print(match.start(), match.end())

36 46

In [101]:
for char in range(match.start(), match.end()):
    print(s[char], end='')

16 January

In [102]:
print(match[0])

16 January

In [103]:
print(match.group(1))

16

In [104]:
print(match.group(2))

January

In [105]:
#  find email id from str and extract it.

string='my email id is prateek_9090@deloitte.com. send email here'

In [109]:
pattern='([A-Za-z\_0-9]+)(@deloitte.com)'
match=re.search(pattern, string)
print(match.group(0))

prateek_9090@deloitte.com

In [110]:
# write a function code that returns number of blank spaces, 
# special characters and words in a long text

In [113]:
def counters(text):
    pattern_spaces='\s'
    pattern_spcl_chars='(\W|\_|\%)'
    pattern_words='\w+'
    
    spaces=len(re.findall(pattern_spaces, text))
    spcl_chars=len(re.findall(pattern_spcl_chars, text))- spaces
    words=len(re.findall(pattern_words, text))
    
    return spaces, spcl_chars, words

In [114]:
counters('hello deloitte! are you okay? I am, probably, fine.')

(8, 5, 9)