## Python Adv Day 1

### Python OOP- Classes & Objects

In [1]:
# Student as any object

In [3]:
class Student:
    name=''
    rollno=0
    course=''
        
    def enroll_student(self, rollno, name, course):
        self.rollno=rollno
        self.name=name
        self.course=course
    def modify_student_details(self, rollno, name, course):
        if self.rollno:
            self.name=name
            self.course=course
        else:
            print('Student does not exist')
    def remove_dropout_student(self, rollno):
        if self.rollno:
            del self.name
            del self.course
            self.rollno=0
        else:
            print('Student does not exist')

In [5]:
devika=Student()
arvind=Student()

In [8]:
arvind.enroll_student(101, 'Arvind', 'JAVA')

In [9]:
arvind.rollno

101

In [10]:
devika.enroll_student(102, 'Devika', 'Python')

In [11]:
devika.course

'Python'

In [12]:
devika.modify_student_details(102, 'Devika', 'C/C++')
devika.course

'C/C++'

In [15]:
devika.remove_dropout_student(102)

In [18]:
devika.rollno

0

In [ ]:
# Think of features and behaviors for RoboCar
class RoboCar:
    
    def park():
        pass
    def apply_brakes():
        pass
    def move_forward():
        pass
    def move_backward():
        pass
    def turn_right():
        pass
    def turn_left():
        pass
    def identify_objects():
        pass
    def identify_symbols():
        pass

In [19]:
# Ques. Create a class based implementation for an Employee (HR Scenario)

In [60]:
class Employee:
    def __init__(self, eid, name, dept): # constructor function
        self.eid=eid
        self.name=name
        self.dept=dept
        return None
    def __str__(self):
        return 'This is class Employee object.'
    def __repr__(self):
        return 'This is also string rep of object'
    def display_employee(self):
        print('Employee ID: ', self.eid)
        print('Full Name: ', self.name)
        print('Department: ',self.dept)
        return None
    def __del__(self): # destructor function
        print('Object removed from memory...')

In [61]:
emp1=Employee(700, 'Prateek','IT')
emp2=Employee(800,'Raj','DC')

Object removed from memory...

In [62]:
# Constructor:
# 1. always named as __init__()
# 2. called automatically while creating object
# 3. it is special method in class
# 4. used for initialization only

In [63]:
# desctructor is also called automatically when either object goes out 
# of scope, removed automatically by memory manager or 
# deleted explicitly

In [64]:
emp1.display_employee()

Employee ID:  700
Full Name:  Prateek
Department:  IT

In [65]:
emp2.display_employee()

Employee ID:  800
Full Name:  Raj
Department:  DC

In [66]:
del emp1

Object removed from memory...

In [67]:
print(emp2) # string representation from __str__

This is class Employee object.

In [68]:
str(emp2)

'This is class Employee object.'

In [69]:
repr(emp2)

'This is also string rep of object'

#### Other Special Functions

In [119]:
class Sample:
    def __init__(self, x):
        self.x=x
    def __add__(self, obj_reference):
        return self.x + obj_reference.x  
    def __sub__(self, obj_reference):
        return self.x - obj_reference.x
    def __mul__(self, obj_reference):
        return self.x * obj_reference.x  
    def __truediv__(self, obj_reference):
        return self.x / obj_reference.x  
    def __floordiv__(self, obj_reference):
        return self.x // obj_reference.x

In [120]:
ob1=Sample(100)
ob2=Sample(20)

In [121]:
print(ob1.x, ob2.x)

100 20

In [122]:
print(ob1+ob2)
print(ob1-ob2)
print(ob1*ob2)
print(ob1/ob2)
print(ob1//ob2)

120
80
2000
5.0
5

In [131]:
class Sample:
    def __init__(self, x):
        self.x=x
    def __lt__(self, obj_reference):
        return self.x<obj_reference.x
    def __gt__(self, obj_reference):
        return self.x>obj_reference.x
    def __le__(self, obj_reference):
        return self.x<=obj_reference.x
    def __ge__(self, obj_reference):
        return self.x>=obj_reference.x
    def __eq__(self, obj_reference):
        return self.x==obj_reference.x

In [132]:
ob1=Sample(100)
ob2=Sample(20)
print(ob1<ob2)
print(ob1>ob2)
print(ob1<=ob2)
print(ob1>=ob2)
print(ob1==ob2)

False
True
False
True
False

#### ceating new instance

In [139]:
class Employee:
    
    def __new__(cls):
        print('This is inside __new__')
        return object.__new__(cls)
    
    def __init__(self):
        print('This is from __init__')
        self.name='Prateek'
        return None
    def __del__(self):
        return 'Deleted'
    
obj=Employee()

This is inside __new__
This is from __init__

In [140]:
obj.name

'Prateek'

In [141]:
del obj

## Inheritance

In [164]:
# Single Inheritance

class A:
    def __init__(self, x):
        self.x=x
    def display_x(self):
        print('X= ',self.x)
        return None
        
class B(A):
    def __init__(self, x, y):
        A.__init__(self, x)
        self.y=y
    def display_y(self):
        print('Y= ',self.y)
        return None

In [165]:
obj_a=A(100)
obj_b=B(200,50)

In [166]:
obj_b.display_x()

X=  200

In [168]:
obj_b.display_y()

Y=  50

In [170]:
obj_b.y

50

In [181]:
# Example:

class Client:
    def __init__(self, cname, cid, ctype):
        self.cname=cname
        self.cid=cid
        self.ctype=ctype
        return None
    def disp_client_basic(self):
        print('Client ID: ', self.cid)
        print('Client Name: ', self.cname)
        print('Client Type: ', self.ctype)
        
class SoftClient(Client):
    def __init__(self, cname, cid, ctype, cloc, cemail):
        Client.__init__(self, cname, cid, ctype)
        self.cloc=cloc
        self.cemail=cemail
    def disp_client_full_details(self):
        self.disp_client_basic()
        print('Client Location: ', self.cloc)
        print('Client Email: ',self.cemail)

In [182]:
c1=Client('IBM', 100, 'Hardware Support')
c1.disp_client_basic()

Client ID:  100
Client Name:  IBM
Client Type:  Hardware Support

In [183]:
sc1=SoftClient('Microsoft', 200, 'Software Product','US','ms@exchange.com')
sc1.disp_client_basic()

Client ID:  200
Client Name:  Microsoft
Client Type:  Software Product

In [184]:
sc1.disp_client_full_details()

Client ID:  200
Client Name:  Microsoft
Client Type:  Software Product
Client Location:  US
Client Email:  ms@exchange.com

In [185]:
# checking instance

print(isinstance(c1, Client))

True

In [186]:
print(isinstance(c1, SoftClient))

False

In [187]:
print(isinstance(sc1, Client))

True

In [188]:
print(isinstance(sc1, SoftClient))

True

In [192]:
## Multi Level Inheritance
class A:
    def __init__(self, x):
        self.x=x
    def dispx(self):
        print('X= ',self.x)
        
class B(A):
    def __init__(self, x, y):
        A.__init__(self, x)
        self.y=y
    def dispy(self):
        self.dispx()
        print('Y= ',self.y)
        
class C(B):
    def __init__(self, x, y, z):
        B.__init__(self, x, y)
        self.z=z
    def dispz(self):
        self.dispy()
        print('Z= ',self.z)

In [193]:
a=A(50)
a.dispx()

X=  50

In [194]:
b=B(300,900)
b.dispx()
b.dispy()

X=  300
X=  300
Y=  900

In [195]:
c=C(15,35,75)
c.dispx()
c.dispy()
c.dispz()

X=  15
X=  15
Y=  35
X=  15
Y=  35
Z=  75

In [196]:
# Example
class Vehicle:
    def dispv(self):
        print('Vehicle Moves')
class Car(Vehicle):
    def dispc(self):
        print('Car has 4 wheels')
class BMW(Car):
    def dispbmw(self):
        print('BMW supports bi-fuel tech')

In [197]:
v=Vehicle()
v.dispv()

Vehicle Moves

In [198]:
c=Car()
c.dispv()
c.dispc()

Vehicle Moves
Car has 4 wheels

In [199]:
bmw=BMW()
bmw.dispv()
bmw.dispc()
bmw.dispbmw()

Vehicle Moves
Car has 4 wheels
BMW supports bi-fuel tech

In [200]:
# Hierarchical Inheritance

class A:
    def dispA(self):
        print('Class A')
class B(A):
    def dispB(self):
        self.dispA()
        print('Class B')
class C(A):
    def dispC(self):
        self.dispA()
        print('Class C')

In [201]:
b=B()
b.dispB()

Class A
Class B

In [202]:
c=C()
c.dispC()

Class A
Class C

In [203]:
# Example:

class iphone14:
    def disp(self):
        print('This is iphone 14 series')
class iphone14pro(iphone14):
    def disppro(self):
        self.disp()
        print('This has 3 cameras')
class iphone14plus(iphone14):
    def dispplus(self):
        self.disp()
        print('This has bigger screen')

In [204]:
pro=iphone14pro()
pro.disppro()

This is iphone 14 series
This has 3 cameras

In [205]:
plus=iphone14plus()
plus.dispplus()

This is iphone 14 series
This has bigger screen

In [218]:
# Multiple Inheritance
class EmpPersonal:
    def __init__(self, name, dob, city):
        self.name=name
        self.dob=dob
        self.city=city
    def disp_personal(self):
        personal_data='''Name: {0}\nDOB: {1}\nCity: {2}
        '''.format(self.name, self.dob, self.city)
        print(personal_data)
    
class EmpDept:
    def __init__(self, dept, job, salary):
        self.dept=dept
        self.job=job
        self.salary=salary
    def disp_department(self):
        department_data='''Department: {0}\nJob: {1}\nSalary: {2}
        '''.format(self.dept,self.job,self.salary)
        print(department_data)

class EmployeeData(EmpPersonal, EmpDept):
    def __init__(self, name, dob, city, dept, job, salary):
        EmpPersonal.__init__(self, name, dob, city)
        EmpDept.__init__(self, dept, job, salary)
    def display(self):
        self.disp_personal()
        self.disp_department()
        print('New Salary: ', self.salary*1.2)

In [219]:
emp1=EmployeeData('Prateek','18-11','Delhi','IT','Manager',20000)
emp2=EmployeeData('Srinivas','15-08','Chennai','HR','VP',50000)

In [220]:
emp1.display()

Name: Prateek
DOB: 18-11
City: Delhi

Department: IT
Job: Manager
Salary: 20000

New Salary:  24000.0

In [221]:
emp2.display()

Name: Srinivas
DOB: 15-08
City: Chennai

Department: HR
Job: VP
Salary: 50000

New Salary:  60000.0

In [ ]:
# create a class that accepts multiple employee data from user,
# calculates commission and updates salary
# displays full information when required for specific user
# display details of all employees

In [229]:
class Emp:
    def __init__(self):
        self.eid=input('Emp ID: ')
        self.name=input('Emp Name: ')
        self.dept=input('Emp Dept: ')
        self.salary=float(input('Emp Salary: '))
        self.comm=0
    def calc(self):
        self.salary=self.salary*1.3
        self.comm=self.salary*0.01
    def display(self):
        print('EID: {0}\nName: {1}\nDept: {2}'.format(self.eid, self.name, self.dept))
        print('New Salary: {0}\nCommission: {1}'.format(self.salary, self.comm))

In [230]:
li=[]
while True:
    ch=input('Do you wish to enter details: ')
    if ch.lower()=='no':
        break
    else:
        li.append(Emp())

Do you wish to enter details: yes
Emp ID: 101
Emp Name: prateek
Emp Dept: IT
Emp Salary: 24000
Do you wish to enter details: yes
Emp ID: 102
Emp Name: anjali
Emp Dept: HR
Emp Salary: 25000
Do you wish to enter details: no

In [231]:
print(len(li))

2

In [233]:
for i in range(len(li)):
    li[i].calc()

In [234]:
for i in range(len(li)):
    li[i].display()

EID: 101
Name: prateek
Dept: IT
New Salary: 31200.0
Commission: 312.0
EID: 102
Name: anjali
Dept: HR
New Salary: 32500.0
Commission: 325.0

In [235]:
e=input('Enter EID of person to search: ')
for i in range(len(li)):
    if li[i].eid==e:
        li[i].display()
        break

Enter EID of person to search: 102
EID: 102
Name: anjali
Dept: HR
New Salary: 32500.0
Commission: 325.0

### Polymorphism

In [246]:
class A:
    def __init__(self, x):
        self.x=x
    def update(self):
        self.x+=10
        
class B(A):
    def __init__(self,x):
        A.__init__(self, x)
    def update(self):
        A.update(self)
        self.x+=15

In [247]:
b=B(150)

In [248]:
b.update()
print(b.x)

175

### Access Modifiers- Public, Protected & Private

In [256]:
# public access - var and func is accessible outside class & inheritable

class Sample:
    x=10
    def disp(self):
        print(self.x)
class Derived(Sample):
    def do_nothing(self):
        Sample.disp(self)
obj=Derived()
obj.do_nothing()

10

In [264]:
# protected access - vars and func not accessible outside but inheritable

class Sample:
    _y=10
    def _dispy(self):
        print(self._y)
class Derived(Sample):
    def dispall(self):
        Sample._dispy(self)
        print('Parent Var: ',self._y)
class Third(Derived):
    def disp_sample_y(self):
        print('Parent Var: ',self._y)        
        
obj=Third()
obj.disp_sample_y()

Parent Var:  10

In [272]:
# private access - not inherited at all, not accessible outside class

class Sample:
    __z=20
    def __privatefun(self):
        print('private func')
    def displayz(self):
        print(self.__z)
        self.__privatefun()

In [273]:
obj=Sample()
obj.__z

AttributeError: 'Sample' object has no attribute '__z'

In [274]:
obj.displayz()

20
private func

In [275]:
obj.__privatefun()

AttributeError: 'Sample' object has no attribute '__privatefun'

In [283]:
# private access - not inherited at all, not accessible outside class

class Sample:
    __z=20
    def __privatefun(self):
        print('private func')
    def displayz(self):
        print(self.__z)
        self.__privatefun()
        
class Derived(Sample):
    def print_z(self):
        #print(self.__z)
        self.displayz()

In [284]:
obj=Derived()
obj.print_z()

20
private func

In [ ]:
class A:
    def __init():
        
class B(A):
    def __init__():

In [286]:
def disp():
    print('nothing')
def disp(x):
    print('x=',x)
def disp(x,y):
    print('x={0}, y={1}'.format(x,y))

In [293]:
disp()

TypeError: disp() missing 2 required positional arguments: 'x' and 'y'

In [291]:
str=20
print(str)

20

In [292]:
str('23')

TypeError: 'int' object is not callable