## Python & MySQL

In [1]:
! pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\pvashishtha\anaconda3\lib\site-packages (8.0.31)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\pvashishtha\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.1)

In [2]:
! pip install pymysql

Requirement already satisfied: pymysql in c:\users\pvashishtha\anaconda3\lib\site-packages (1.0.2)

In [3]:
# 1. Connect to Database
# 2. Create a DB Cursor
# 3. CRUD - Create, Read, update, Delete
# 4. Close the connection to DB

In [36]:
# connect to database

import mysql.connector

host='localhost'
user='root'
password=''
database='student'
port=3306

try:
    conn=mysql.connector.connect(host=host, user=user, password=password, 
                                 database=database, port=port)
    print(conn)
    
except:
    print('Database Not Connected!')

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000027EB416E670>

In [37]:
# create cursor
try:
    cur=conn.cursor()
    print(cur)
except:
    print('Cursor Not Created!')

CMySQLCursor: (Nothing executed yet)

In [9]:
# CRUD - INSERT

sql='insert into student_data values(104, "Ishita", "JAVA", "2022-12-06")'
cur.execute(sql)
conn.commit()

In [11]:
print(cur)

CMySQLCursor: insert into student_data values(104, "Is..

In [16]:
# Insert Many Records at once

sql='insert into student_data values(%s, %s, %s, %s)'
vals=[
    
    (105, "Srinivas", "PHP", "2022-08-09"),
    (106, "Tribhuvan", "C/C++", "2022-09-13"),
    (107, "Aditi", "Python", "2022-11-11")
]

cur.executemany(sql, vals)
conn.commit()

In [17]:
# CRUD- READ

sql='select * from student_data'
cur.execute(sql)

In [18]:
result=cur.fetchall()

for record in result:
    print('------------------------------')
    print('Roll No: {0}\n Name: {1}\n Course: {2}\n DOJ: {3}'.format(
    record[0], record[1], record[2], record[3]))
    print('------------------------------')

------------------------------
Roll No: 101
 Name: Prateek
 Course: Python
 DOJ: None
------------------------------
------------------------------
Roll No: 102
 Name: Rahul
 Course: JAVA
 DOJ: None
------------------------------
------------------------------
Roll No: 103
 Name: Anjali
 Course: AI
 DOJ: None
------------------------------
------------------------------
Roll No: 104
 Name: Ishita
 Course: JAVA
 DOJ: 2022-12-06
------------------------------
------------------------------
Roll No: 105
 Name: Srinivas
 Course: PHP
 DOJ: 2022-08-09
------------------------------
------------------------------
Roll No: 106
 Name: Tribhuvan
 Course: C/C++
 DOJ: 2022-09-13
------------------------------
------------------------------
Roll No: 107
 Name: Aditi
 Course: Python
 DOJ: 2022-11-11
------------------------------

In [29]:
# READ one record at a time
sql='select * from student_data order by roll desc'
cur.execute(sql)

record=cur.fetchone()
print('------------------------------')
print('Roll No: {0}\n Name: {1}\n Course: {2}\n DOJ: {3}'.format(
record[0], record[1], record[2], record[3]))
print('------------------------------')

------------------------------
Roll No: 107
 Name: Aditi
 Course: Python
 DOJ: 2022-11-11
------------------------------

In [40]:
import pandas as pd
sql='select * from student_data'
data=pd.read_sql(sql, conn)
data

C:\Users\pvashishtha\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

   roll       name  course         doj
0   101    Prateek  Python        None
1   102      Rahul    JAVA        None
2   103     Anjali      AI        None
3   104     Ishita    JAVA  2022-12-06
4   105   Srinivas     PHP  2022-08-09
5   106  Tribhuvan   C/C++  2022-09-13
6   107      Aditi  Python  2022-11-11

In [39]:
data

   roll       name  course         doj
0   101    Prateek  Python        None
1   102      Rahul    JAVA        None
2   103     Anjali      AI        None
3   104     Ishita    JAVA  2022-12-06
4   105   Srinivas     PHP  2022-08-09
5   106  Tribhuvan   C/C++  2022-09-13
6   107      Aditi  Python  2022-11-11

In [41]:
# CRUD - UPDATE

sql='update student_data set doj="2022-11-18" where roll=101'
cur.execute(sql)
conn.commit()
print('{0} rows updated in database'.format(cur.rowcount))

1 rows updated in database

In [42]:
# CRUD - DELETE

sql='delete from student_data where course="JAVA"'
cur.execute(sql)
conn.commit()
print('{0} row(s) deleted form database.'.format(cur.rowcount))

2 row(s) deleted form database.

In [43]:
# CRUD - DROP | TRUNCATE

sql='drop table student_data'
try:
    cur.execute(sql)
    print('Table Dropped!!!')
except:
    print('Drop Failed!, Chek Your Priviliges')

Table Dropped!!!

In [44]:
# close conn
cur.close()
conn.close()

In [45]:
conn.disconnect()

In [ ]:
# Problem:
# create a class that will implement following methods to interact with
# employee database
# get_connection()
    # get_emp_details_from_user()
    # validate_details()
    # insert_emp_data()
# update_emp_data()
# get_emp()
# get_all_emp()
# remove_emp()
# close_connection()

### create emp table for internal use

In [ ]:
class Employee:
    def __init__(self, host, user, password, database, port):
        self.host=host
        self.user=user
        self.password=password
        self.database=database
        self.port=port
        self.conn=''
        self.cur=''
        return None
    def get_connection(self):
        import mysql.connector
        try:
            self.conn=mysql.connector.connect(host=self.host, user=self.user,
                                         password=self.password,
                                          database=self.database,
                                          port=self.port)
            self.cur=self.conn.curosr()
        except:
            print('Connection/Cursor Failed!')
        return self.conn, self.cur
    def get_data_from_user(self):
        self.eid=input('Enter EID: ')
        self.name=input('Enter Name: ')
        self.email=input('Enter Email: ')
        if self.validate_data():
            self.insert_data()
        else:
            print('Data Validation Failed!')
        return None
    def validate_data(self):
        if self.email.index('@')>=0:
            return True
        else:
            return False
    def insert_data(self):
        sql='insert into emp values(%s,%s,%s)'%(self.eid, self.name, self.email)
        try:
            conn, cur=get_connection()
            cur.execute(sql)
            print('Data inserted!')
        except:
            print('Insert Error!')
        finally:
            close_connection()
        return None
    
    def close_connection(self):
        self.cur.close()
        self.conn.close()

## Python RegEx

In [46]:
import re

In [49]:
re.__dir__()

['__name__',
 '__doc__',
 '__package__',
 '__loader__',
 '__spec__',
 '__file__',
 '__cached__',
 '__builtins__',
 'enum',
 'sre_compile',
 'sre_parse',
 'functools',
 '_locale',
 '__all__',
 '__version__',
 'RegexFlag',
 'ASCII',
 'A',
 'IGNORECASE',
 'I',
 'LOCALE',
 'L',
 'UNICODE',
 'U',
 'MULTILINE',
 'M',
 'DOTALL',
 'S',
 'VERBOSE',
 'X',
 'TEMPLATE',
 'T',
 'DEBUG',
 'error',
 'match',
 'fullmatch',
 'search',
 'sub',
 'subn',
 'split',
 'findall',
 'finditer',
 'compile',
 'purge',
 'template',
 '_special_chars_map',
 'escape',
 'Pattern',
 'Match',
 '_cache',
 '_MAXCACHE',
 '_compile',
 '_compile_repl',
 '_expand',
 '_subx',
 'copyreg',
 '_pickle',
 'Scanner']

In [55]:
s='deloitte.com'

match=re.search(r'\.',s)
print(match)

<re.Match object; span=(8, 9), match='.'>

In [56]:
s='for Deloitte'
print(re.search(r'for', s))

<re.Match object; span=(0, 3), match='for'>

In [59]:
s='tell deloitte'
print(re.search(r'\bte', s))

<re.Match object; span=(0, 2), match='te'>

In [60]:
print(re.search(r'te\b', s))

<re.Match object; span=(11, 13), match='te'>

In [61]:
s='the wind and the rain'
print(re.search(r'\Athe',s))

<re.Match object; span=(0, 3), match='the'>

In [62]:
s='raining in the training'
print(re.search(r'\Bain',s))

<re.Match object; span=(1, 4), match='ain'>

In [65]:
s=' hello 123 testing'
print(re.search(r'\d\d\d',s))

<re.Match object; span=(7, 10), match='123'>

In [67]:
s='hello 123 testing'
print(re.search(r'\s',s))

<re.Match object; span=(5, 6), match=' '>

In [71]:
re.search(r'\s',s)[0]

' '

In [2]:
s='my mobile is +91-9808766699. dont save!'
print(re.search(r'\d{5}',s))

<re.Match object; span=(17, 22), match='98087'>
<re.Match object; span=(17, 22), match='98087'>

In [77]:
s='Hi, i am Alexa!'
print(re.search(r'\W',s))

<re.Match object; span=(2, 3), match=','>

### findall()

In [79]:
s='my mobile is +91-9808766699. dont save!'
print(re.findall(r'\d',s))

['9', '1', '9', '8', '0', '8', '7', '6', '6', '6', '9', '9']

In [4]:
s='my mobile is +91-9808766699 and +91-8869088887. dont save!'
print(re.findall(r'\d{10}',s))

['9808766699', '8869088887']

### compile()

In [81]:
pattern=re.compile('\d{10}')

In [82]:
print(pattern.search('my number is 1234567890'))

<re.Match object; span=(13, 23), match='1234567890'>

In [83]:
print(pattern.findall('my numbers are 9808766699 and 8869088887'))

['9808766699', '8869088887']

In [85]:
s='''How are you? I am feeling good today. 
Do you know what is date today? It is December 06.'''

In [86]:
pattern=re.compile('\w+')

In [87]:
print(pattern.search(s))

<re.Match object; span=(0, 3), match='How'>

In [88]:
print(pattern.findall(s))

['How', 'are', 'you', 'I', 'am', 'feeling', 'good', 'today', 'Do', 'you', 'know', 'what', 'is', 'date', 'today', 'It', 'is', 'December', '06']

### split()

In [89]:
print(re.split('\W+','hello how are you? my rank is 100'))

['hello', 'how', 'are', 'you', 'my', 'rank', 'is', '100']

In [90]:
print(re.split('\d+','my rank is 100 and your rank is 99'))

['my rank is ', ' and your rank is ', '']

In [91]:
print(re.split('\.','192.168.45.254'))

['192', '168', '45', '254']

### sub()

In [92]:
# substitute the substring

In [94]:
s='I like to book Uber cabs. Uber is better quality'
print(re.sub('UBER','OLA',s, flags=re.IGNORECASE))

I like to book OLA cabs. OLA is better quality

In [95]:
s='I like to book Uber cabs. Uber is better quality'
print(re.sub('UBER','OLA',s, flags=re.IGNORECASE, count=1))

I like to book OLA cabs. Uber is better quality

### Pattern Based Search

In [96]:
s='I am not available from 23 December'
pattern='(\d+) ([A-Za-z]+)'
match=re.search(pattern, s)
print(match)

<re.Match object; span=(24, 35), match='23 December'>

In [97]:
print(match.start(), match.end(), sep=' to ')

24 to 35

In [99]:
for char in range(match.start(), match.end()):
    print(s[char], end='')

23 December

In [100]:
print(match.group(0))

23 December

In [101]:
print(match.group(1))

23

In [102]:
print(match.group(2))

December

### Example:

In [110]:
#  find email id from str and extract it.

string='my email id is prateek_9090@deloitte.com. you can send me details here.'

In [111]:
pattern=r'([A-Za-z\_0-9]+)(@deloitte.com)'

In [112]:
match=re.search(pattern, string)

In [113]:
print(match.group(0))

prateek_9090@deloitte.com

In [114]:
# write a function code that returns number of blank spaces, 
# special characters and words in a long text

In [128]:
def counters(s):
    pattern_spaces='\s'
    pattern_spcl_chars='\W'
    pattern_words='\w+'
    
    space_count=len(re.findall(pattern_spaces,s))
    spcl_char_count=len(re.findall(pattern_spcl_chars,s))-space_count
    word_count=len(re.findall(pattern_words,s))
    
    return space_count, spcl_char_count, word_count

In [129]:
counters('hello, I am good!')

(3, 2, 4)