### Python Upskill Part-2

In [1]:
# Functions, File Handling, Data Structures, Exceptions

### Functions

In [2]:
# id(), type(), len() - inbuilt functions

In [3]:
# user defined functions

# def <func-name>(params_list):
    # .........

In [6]:
def myfun():
    print('Inside Function')
    return None

In [7]:
def myfun():
    pass

In [8]:
def find_sum(x, y):
    return x+y

In [10]:
a=20
b=40
find_sum(a,b)

60

In [14]:
def find_factorial(n):
    '''Function to calculate factorial of inetger n
    Usage: find_factorial(5) will return 120'''
    fact=1
    for i in range(1,n+1):
        fact=fact*i
    return fact

In [15]:
find_factorial(7)

5040

In [17]:
print(find_factorial.__doc__)

Function to calculate factorial of inetger n
    Usage: find_factorial(5) will return 120

In [27]:
def display(greet, name, company='Deloitte'):
    print(f'{greet}, {name}. Welcome to {company}')

In [28]:
greet='Good Morning!'
name='Prateek'
company='Deloitte USI'

display(greet, name, company)

Good Morning!, Prateek. Welcome to Deloitte USI

In [30]:
def display(greet, name, company):
    print(f'{greet}, {name}. Welcome to {company}')

In [32]:
display(name='Prateek', company='Deloitte', greet='Good Afternoon')

Good Afternoon, Prateek. Welcome to Deloitte

In [33]:
# recursion - phenomenon when a function calls itself

In [36]:
def factorial(n):
    if n<2:
        return 1
    else:
        return n*factorial(n-1)

In [37]:
factorial(6)

720

In [38]:
'''
6*5*4*3*2*1
5*4*3*2*1
4*3*2*1
3*2*1
2*1
1
'''

'\n6*5*4*3*2*1\n5*4*3*2*1\n4*3*2*1\n3*2*1\n2*1\n1\n'

In [41]:
def myfun(x):
    return x
def myfun(x,y):
    return x+y

In [42]:
myfun(10)

TypeError: myfun() missing 1 required positional argument: 'y'

In [43]:
sum([1,2,3,4,5])

15

In [44]:
sum=23

In [45]:
sum([2,3,4])

TypeError: 'int' object is not callable

In [46]:
# func are first class objects

In [47]:
def myfun():
    return 'Hello World!'

In [52]:
fun=myfun()

In [53]:
fun

'Hello World!'

In [54]:
x=myfun

In [55]:
x

In [56]:
x()

'Hello World!'

In [57]:
# generator

In [58]:
def mygen(n):
    for i in range(1, n+1):
        yield i

In [72]:
val=mygen(10)

In [73]:
val

In [75]:
next(val)

2

In [76]:
# Anonymous Functions - lambda

In [77]:
# lambda <params> : <expr>

In [78]:
f= lambda x: x**2

In [79]:
f

In [80]:
f(3)

9

In [83]:
f=lambda x,y,z,a,b: (x**y)%z+a+b

In [84]:
f(2,3,3,4,5)

11

In [94]:
def power(y):
    return lambda x: x**y

In [95]:
p2=power(2) # lambda x:x**2

In [96]:
p3=power(3) # lambda x:x**3

In [97]:
p2(4)

16

In [98]:
p3(4)

64

### Data Structures

In [99]:
# Sequences - Strings, Tuple, List
# Non-Sequences- Dictionary
# Sets

In [100]:
# tuple

In [101]:
t=tuple()

In [102]:
t=()

In [103]:
t=1,2,3

In [104]:
type(t)

tuple

In [105]:
t

(1, 2, 3)

In [106]:
t=(1,2,3,4,5)

In [107]:
t2=(10,20,30)
t=(1,2,3, 'hello', 3.14, 5+3j, t2, ('a','b','c'))

In [108]:
print(t)

(1, 2, 3, 'hello', 3.14, (5+3j), (10, 20, 30), ('a', 'b', 'c'))

In [109]:
# sequence - allows indexing, slicing

In [111]:
t[3]

'hello'

In [114]:
t[6]

(10, 20, 30)

In [115]:
t[6][1]

20

In [116]:
t[7][2]

'c'

In [119]:
t[4:]

(3.14, (5+3j), (10, 20, 30), ('a', 'b', 'c'))

In [120]:
t[-1]

('a', 'b', 'c')

In [127]:
t[::-1]

(('a', 'b', 'c'), (10, 20, 30), (5+3j), 3.14, 'hello', 3, 2, 1)

In [122]:
# tuple are immutable

In [124]:
t[0]=100

TypeError: 'tuple' object does not support item assignment

In [128]:
type(t)

tuple

In [129]:
len(t)

8

In [130]:
id(t)

2569684271552

In [131]:
# List

In [132]:
li=list()

In [133]:
li=[]

In [134]:
li=[1,2,3,4]

In [136]:
print(type(li))

<class 'list'>

In [137]:
len(li)

4

In [138]:
li=[1,2,3, 'hello', 3+4j, (10,20,30), ['a','b','c']]

In [139]:
# List are mutable

In [140]:
# indexing and slicing
li[3]

'hello'

In [141]:
li[5][2]

30

In [142]:
li

[1, 2, 3, 'hello', (3+4j), (10, 20, 30), ['a', 'b', 'c']]

In [144]:
li[3]='welcome'

In [145]:
li

[1, 2, 3, 'welcome', (3+4j), (10, 20, 30), ['a', 'b', 'c']]

In [147]:
li[5][1]=50

TypeError: 'tuple' object does not support item assignment

In [148]:
li[5]=50

In [150]:
li

[1, 2, 3, 'welcome', (3+4j), 50, ['a', 'b', 'c']]

In [151]:
t=(1,2,3, 'hello', [10,20,30])

In [154]:
t[-1][1]=200

In [155]:
t

(1, 2, 3, 'hello', [10, 200, 30])

In [156]:
t[-1]=200

TypeError: 'tuple' object does not support item assignment

In [157]:
# list in mutable - add, remove, change seq

In [158]:
# Inbuilt Functions for List

In [159]:
li=[1,2,3,4,5]

In [160]:
# insert(index, val)
li.insert(0, 100)

In [161]:
li

[100, 1, 2, 3, 4, 5]

In [162]:
li.insert(3, 200)
li

[100, 1, 2, 200, 3, 4, 5]

In [164]:
li[3]=300
li

[100, 1, 2, 300, 3, 4, 5]

In [165]:
# append(val)
li.append(500)
li

[100, 1, 2, 300, 3, 4, 5, 500]

In [166]:
# remove(val)
li.remove(2)

In [167]:
li

[100, 1, 300, 3, 4, 5, 500]

In [168]:
# pop(index)
li.pop(2)

300

In [169]:
li

[100, 1, 3, 4, 5, 500]

In [170]:
# extend(list)
li2=['a','b','c']

li.extend(li2)
li

[100, 1, 3, 4, 5, 500, 'a', 'b', 'c']

In [171]:
# sort() - modifies original list to sorted list
li=[1,4,6,7,3,2,1,4,6,7,9,0,5,4,3]
li.sort()
li

[0, 1, 1, 2, 3, 3, 4, 4, 4, 5, 6, 6, 7, 7, 9]

In [172]:
# sorted(list) - does not change list, returns sorted version
li=[1,4,6,7,3,2,1,4,6,7,9,0,5,4,3]
print(sorted(li))
print(li)

[0, 1, 1, 2, 3, 3, 4, 4, 4, 5, 6, 6, 7, 7, 9]
[1, 4, 6, 7, 3, 2, 1, 4, 6, 7, 9, 0, 5, 4, 3]

In [173]:
# reverse()
li=[1,4,6,7,3,2,1,4,6,7,9,0,5,4,3]
li.reverse()
li

[3, 4, 5, 0, 9, 7, 6, 4, 1, 2, 3, 7, 6, 4, 1]

In [175]:
# reversed(list)
li=[1,4,6,7,3,2,1,4,6,7,9,0,5,4,3]
print(list(reversed(li)))
print(li)

[3, 4, 5, 0, 9, 7, 6, 4, 1, 2, 3, 7, 6, 4, 1]
[1, 4, 6, 7, 3, 2, 1, 4, 6, 7, 9, 0, 5, 4, 3]

In [180]:
li=[1,4,6,7,3,2,1,4,6,7,9,0,5,4,3]
li.sort(reverse=True) # sort in descending order
li

[9, 7, 7, 6, 6, 5, 4, 4, 4, 3, 3, 2, 1, 1, 0]

In [181]:
li=[1,4,6,7,3,2,1,4,6,7,9,0,5,4,3]
sorted(li, reverse=True)

[9, 7, 7, 6, 6, 5, 4, 4, 4, 3, 3, 2, 1, 1, 0]

In [184]:
# count(element)
li=[1,4,6,7,3,2,1,4,6,7,9,0,5,4,3]
li.count(2)

1

In [185]:
for element in li:
    print(f'{element} occurs {li.count(element)} times')

1 occurs 2 times
4 occurs 3 times
6 occurs 2 times
7 occurs 2 times
3 occurs 2 times
2 occurs 1 times
1 occurs 2 times
4 occurs 3 times
6 occurs 2 times
7 occurs 2 times
9 occurs 1 times
0 occurs 1 times
5 occurs 1 times
4 occurs 3 times
3 occurs 2 times

In [186]:
# Dictionary

In [187]:
# key:value pairs

In [188]:
d=dict()

In [189]:
d={}

In [190]:
d={'a':10, 'b':20, 'c':30}

In [192]:
d['a']

10

In [193]:
d.keys()

dict_keys(['a', 'b', 'c'])

In [195]:
d.values()

dict_values([10, 20, 30])

In [196]:
d.items()

dict_items([('a', 10), ('b', 20), ('c', 30)])

In [197]:
for key in d.keys():
    print(d[key])

10
20
30

In [198]:
for value in d.values():
    print(value)

10
20
30

In [200]:
for key, val in d.items():
    print(f'd[{key}]=>{val}')

d[a]=>10
d[b]=>20
d[c]=>30

In [201]:
for i in d:
    print(i)

a
b
c

In [202]:
# fromkeys(list, def_val)
li=[10,20,30,40,50]
d=dict.fromkeys(li, 0)

In [203]:
d

{10: 0, 20: 0, 30: 0, 40: 0, 50: 0}

In [204]:
# dict keys are immutable and unique
# dict values are mutable and can be repetive

In [205]:
d.get(10)

0

In [206]:
d={'a':10, 'b':20,'c':30,'d':40,'e':50}

In [207]:
d

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50}

In [208]:
# pop(key)
d.pop('d')

40

In [209]:
d

{'a': 10, 'b': 20, 'c': 30, 'e': 50}

In [210]:
# popitem()
d.popitem()

('e', 50)

In [216]:
# update({key:val})
d.update({'g':2000})
d

{'a': 10, 'b': 20, 'c': 30, 'g': 2000, 'h': 900}

In [214]:
d['h']=900

In [215]:
d

{'a': 10, 'b': 20, 'c': 30, 'g': 200, 'h': 900}

In [217]:
# setdefault(key, val)
d.setdefault('g', 3000)

2000

In [218]:
d

{'a': 10, 'b': 20, 'c': 30, 'g': 2000, 'h': 900}

In [219]:
d.setdefault('k', 3000)

3000

In [220]:
d

{'a': 10, 'b': 20, 'c': 30, 'g': 2000, 'h': 900, 'k': 3000}

In [221]:
# copy, # clear

In [223]:
li

[10, 20, 30, 40, 50]

In [224]:
li2=li # deep copy

In [225]:
li2

[10, 20, 30, 40, 50]

In [226]:
li2[0]=100
li2

[100, 20, 30, 40, 50]

In [227]:
li

[100, 20, 30, 40, 50]

In [228]:
# copy() - creates shallow copy
li2=li.copy()

In [229]:
li2[0]=2000
li2

[2000, 20, 30, 40, 50]

In [231]:
li

[100, 20, 30, 40, 50]

In [232]:
# clear()
li.clear()
li

[]

In [233]:
d.clear()
d

{}

In [234]:
del li

In [235]:
del d

In [236]:
del t

In [237]:
t=tuple()
li=list()
d=dict()

In [238]:
# sets

In [239]:
s={1,2,3,4,5}

In [240]:
s=set()

In [241]:
li=[1,2,3,1,2,4,1,5,6,7,5,5,7,8,9,0,1,2,3,4,5,6,3,2,1]

In [242]:
s=set(li)

In [243]:
s

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [244]:
# add(val)
s.add(10)
s

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [245]:
# remove(val)
s.remove(4)
s

{0, 1, 2, 3, 5, 6, 7, 8, 9, 10}

In [246]:
# copy and # clear

In [247]:
s1={10,20,30,40,50,60}
s2={0,50,60,70,80,90,100}

In [248]:
s1.union(s2)

{0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100}

In [249]:
s1.intersection(s2)

{50, 60}

In [250]:
s1.difference(s2)

{10, 20, 30, 40}

In [251]:
li=[300,400,500]
print(s)

{0, 1, 2, 3, 5, 6, 7, 8, 9, 10}

In [252]:
s.update(li)
s

{0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 300, 400, 500}

In [253]:
li=[1,2,3,1,2,4,1,5,6,7,5,5,7,8,9,0,1,2,3,4,5,6,3,2,1]
for el in set(li):
    print(f'{el} occurs {li.count(el)} times')

0 occurs 1 times
1 occurs 5 times
2 occurs 4 times
3 occurs 3 times
4 occurs 2 times
5 occurs 4 times
6 occurs 2 times
7 occurs 2 times
8 occurs 1 times
9 occurs 1 times

### map, filter, reduce

In [254]:
# filter

In [256]:
# filter(func, iterable) - filter vlaues in iterable using func criteria

In [257]:
def positives(x):
    if x>=0:
        return x

In [259]:
list(filter(positives, [1,2,3,4,-3,-4,-5,0,9]))

[1, 2, 3, 4, 9]

In [260]:
# lambda with filter

In [261]:
list(filter(lambda x:x>0, [1,2,3,4,-3,-4,-5,0,9]))

[1, 2, 3, 4, 9]

In [263]:
# map(func, iterable) - 
# maps a common functionality of func to each iterable value

In [264]:
li=[1,2,3,4,5]

def sqr(x):
    return x**2

In [265]:
list(map(sqr, li))

[1, 4, 9, 16, 25]

In [266]:
# lambda with map
list(map(lambda x:x**3, li))

[1, 8, 27, 64, 125]

In [267]:
list(map(lambda x:x+10, li))

[11, 12, 13, 14, 15]

In [268]:
# reduce(agg_func, iter)

In [269]:
li=[1,2,3,4,5]
from functools import reduce
print(reduce(lambda x,y:x+y, li))

15

In [270]:
print(reduce(lambda x,y:x*y, li))

120