### Python Basics Day 3

##### Functions Cont...

In [2]:
# write a function that receives a string and checks whether the
# given string/text is a single sentence or multiline of text.

def check_multiline(text):
    if '\n' in text:
        print('Multiline')
    else:
        print('Single Line')
    return None

In [3]:
s1='this is single line text'
s2='''this is multiline of text
this may be caught by smart function'''
check_multiline(s1)
check_multiline(s2)

Single Line
Multiline

In [4]:
# write a function to accept string argument and replace all
# vowels in string with "*" symbol.

def encode_vowels(text):
    # code here...
    new_text=''
    for char in text:
        if char.lower() in 'aeiou':
            new_text+='*'
        else:
            new_text+=char
    return new_text

s1='happy birthday paradox enabled'
encode_vowels(s1)

'h*ppy b*rthd*y p*r*d*x *n*bl*d'

In [7]:
# write a function to accept string argument and replace all
# vowels in string with "*" symbol.

def encode_vowels_ver2(text):
    # code here...
    for char in 'aeiou':
        text=text.replace(char, '*')
    return text

s1='happy birthday paradox enabled'
encode_vowels_ver2(s1)

'h*ppy b*rthd*y p*r*d*x *n*bl*d'

In [10]:
def encode_vowels_ver3(text):
    # code here...
    for char in text:
        if char.lower() in 'aeiou':
            text=text.replace(char, '*')
    return text

s1='happy birthday paradox enabled'
encode_vowels_ver3(s1)

'h*ppy b*rthd*y p*r*d*x *n*bl*d'

## Data Structures

#### Sequence

In [11]:
# strings
# tuple
# list

#### TUPLES

In [12]:
# sequnces, immutable, ordered, heterogeneous values,

In [13]:
t=tuple()

In [14]:
t=(1,2,3,4,5)

In [15]:
type(t)

tuple

In [16]:
len(t)

5

In [17]:
t[0]

1

In [18]:
t[3]

4

In [19]:
t[2:4]

(3, 4)

In [20]:
t2=(23, 78.45, True, 4+3j, 'Prateek', t)
print(t2)

(23, 78.45, True, (4+3j), 'Prateek', (1, 2, 3, 4, 5))

In [21]:
t2[5]

(1, 2, 3, 4, 5)

In [22]:
t2[5][2]

3

In [23]:
t3=1,2,3
t3

(1, 2, 3)

In [25]:
t2[1]=3.14

TypeError: 'tuple' object does not support item assignment

In [26]:
t2=t2[:4]
t2

(23, 78.45, True, (4+3j))

In [28]:
t3=t2

In [29]:
t3

(23, 78.45, True, (4+3j))

In [30]:
t2

(23, 78.45, True, (4+3j))

In [31]:
t2

(23, 78.45, True, (4+3j))

In [32]:
t2[::-1]

((4+3j), True, 78.45, 23)

In [38]:
tup4=t+t2
print(tup4)

(1, 2, 3, 4, 5, 23, 78.45, True, (4+3j))

#### LIST

In [44]:
# sequence, index ref, mutable, heterogeneous values

In [42]:
li=list()

In [43]:
li=[1,2,3,4,5]

In [45]:
li=[23, 45.23, 'Prateek', 4-2j, False, (5,6,7,8), [10,20,30]]

In [46]:
li[2]

'Prateek'

In [47]:
li[3:6]

[(4-2j), False, (5, 6, 7, 8)]

In [48]:
li[::-1]

[[10, 20, 30], (5, 6, 7, 8), False, (4-2j), 'Prateek', 45.23, 23]

In [50]:
li[0]=12330

In [51]:
li[0]

12330

In [52]:
li

[12330, 45.23, 'Prateek', (4-2j), False, (5, 6, 7, 8), [10, 20, 30]]

In [53]:
tup1=(1,2,3, [40,50,60])

In [56]:
tup1[3][0]=90

In [57]:
tup1

(1, 2, 3, [90, 50, 60])

In [60]:
li[5][1]=67

TypeError: 'tuple' object does not support item assignment

In [63]:
li_rev=list(reversed(li))

In [64]:
li_rev

[[10, 20, 30], (5, 6, 7, 8), False, (4-2j), 'Prateek', 45.23, 12330]

In [65]:
tup_rev=tuple(reversed(tup1))

In [66]:
tup_rev

([90, 50, 60], 3, 2, 1)

In [68]:
li=[2,5,1,8,4,90,43,12]

In [69]:
list(sorted(li))

[1, 2, 4, 5, 8, 12, 43, 90]

In [70]:
tup=(2,5,1,8,4,90,43,12)
tuple(sorted(tup))

(1, 2, 4, 5, 8, 12, 43, 90)

In [71]:
li1=[1,2,3,4]
li2=[10,20,30,40]

li3=li1+li2
li3

[1, 2, 3, 4, 10, 20, 30, 40]

In [73]:
li1*3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

#### List Functions

In [74]:
# append()
li=[1,2,3,4,5]
print(li)
li.append(90)
print(li)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 90]

In [75]:
# count()
li=[1,2,3,1,3,2,4,5,1,6,3,2,1]
li.count(1)

4

In [76]:
# copy()
li=[1,2,3,5]
li2=li.copy()
print(li2)

[1, 2, 3, 5]

In [77]:
li1=[10,20,30]
li2=li1
li2

[10, 20, 30]

In [78]:
li2[0]=900
li2

[900, 20, 30]

In [79]:
li1

[900, 20, 30]

In [81]:
li2=li1.copy()
li2

[900, 20, 30]

In [82]:
li2[0]=999
li2

[999, 20, 30]

In [83]:
li1

[900, 20, 30]

In [87]:
# index()
li1=[10,20,30,'hello', 'hi', 4-3j, 'hi', 'hi']
li1.index('hi')

4

In [88]:
# reverse()
li=[90,80,70,60,50]
li.reverse()
li

[50, 60, 70, 80, 90]

In [89]:
# sort()
li=[1,4,7,2,8,9,2,4,6]
li.sort()
li

[1, 2, 2, 4, 4, 6, 7, 8, 9]

In [92]:
# insert(index, val)
li=[1,2,3,4,5]
li.insert(3, 300)
li

[1, 2, 3, 300, 4, 5]

In [94]:
# remove(val)
li=[200,300,400,500,400, 400,600]
li.remove(400)
li

[200, 300, 500, 400, 400, 600]

In [95]:
# pop(index)
li=[200,300,400,500,400, 400,600]
li.pop(3)
li

[200, 300, 400, 400, 400, 600]

In [96]:
# clear()
li=[1,2,3,4,5]
li.clear()
li

[]

In [97]:
# extend(2nd_list)
li1=[1,2,3]
li2=[100,200,300]
li1.extend(li2)
li1

[1, 2, 3, 100, 200, 300]

In [101]:
# write a code that accepts comma separated list of integervalues from
# user create a list object from these values and find sum of values.
# Example: Input: 2,3,4,5,6 
# output: Sum=20

vals=input().split(',')
for i in range(len(vals)):
    vals[i]=int(vals[i])
print('Sum=', sum(vals))

2,3,4,5,6
Sum= 20

#### List Comprehension

In [102]:
li=[]
for i in range(10,91):
    li.append(i)
li

[10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90]

In [104]:
li=[num for num in range(10,91)]
print(li)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90]

In [105]:
li=[num+100 for num in li]
print(li)

[110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190]

In [110]:
print('Sum=',sum([int(num) for num in input().split(',')]))

2,3,4,5,6,7,8
Sum= 35

In [115]:
tup=(x for x in range(10))

In [116]:
tup

In [127]:
# Write a function that receives a list as argument
# finds the odd numbers in list and change them to zero

def change_list_odds(li):
    for indx in range(len(li)):
        if li[indx]%2!=0:
            li[indx]=0
    return li

In [128]:
new_li=[1,2,3,4,5,6,7,8,9]
updated_li=change_list_odds(new_li)
print(updated_li)

[0, 2, 0, 4, 0, 6, 0, 8, 0]

In [129]:
print(new_li) # pass by reference

[0, 2, 0, 4, 0, 6, 0, 8, 0]

In [131]:
def change(x):
    x=x*5
    return x

val=100
print(change(val))
print(val)

500
100

In [124]:
def change_list_odds_ver2(li):
    return [x if x%2==0 else 0 for x in li]

In [125]:
new_li=[1,2,3,4,5,6,7,8,9]
updated_li=change_list_odds_ver2(new_li)
print(updated_li)

[0, 2, 0, 4, 0, 6, 0, 8, 0]

In [ ]:
# write a function code that accepts two arguments N and K.
# create a list L with N elements, all set to initial value as zero.
# If K is even, set all even index values in list L as 1
# Else, If K is odd, set all odd index values in list L as 1
# finally print the list. (consider "0" index as even index)

# Example: N=5, K=43
# output: [0,1,0,1,0]

# Example: N=5, K=26
# output: [1,0,1,0,1]

In [136]:
def alternating(N, K):
    li=[0]*N
    if K%2==0:
        li=[1 if indx%2==0 else 0 for indx in range(N)]
    else:
        li=[1 if indx%2!=0 else 0 for indx in range(N)]
    return li

In [137]:
alternating(5, 43)

[0, 1, 0, 1, 0]

In [138]:
alternating(5, 26)

[1, 0, 1, 0, 1]

In [141]:
# Question:
# given a list, arrange all negative numbers of the list after all 
# positive numbers

# example: list=[1,2,-4,-5,7,-3,6,9,-1,2,3]
# after processing=> [1,2,7,6,9,2,3,-4,-5,-3,-1]

In [159]:
li=[1,2,-4,-5,7,-3,6,9,-1,2,3]
pos=[]
neg=[]
for num in li:
    if num<0:
        neg.append(num)
    else:
        pos.append(num)
li=pos+neg
del pos
del neg
print(li)

[1, 2, 7, 6, 9, 2, 3, -4, -5, -3, -1]

In [160]:
li=[1,2,-4,-5,7,-3,6,9,-1,2,3]
indx=0
k=0
N=len(li)
while k<N:
    if li[indx]<0:
        li.append(li[indx])
        li.pop(indx)
        indx-=1
    indx+=1
    k+=1
print(li)

[1, 2, 7, 6, 9, 2, 3, -4, -5, -3, -1]

In [161]:
li=[1,2,-4,-5,7,-3,6,9,-1,2,3]
indx=0
for k in range(len(li)):
    if li[indx]<0:
        li.append(li[indx])
        li.pop(indx)
        indx-=1
    indx+=1
print(li)

[1, 2, 7, 6, 9, 2, 3, -4, -5, -3, -1]

In [ ]:
# write a function that checks whether given number is prime or not
# if not prime, find the factorial of the number by calling another 
# function and return the result back to calling statement.

# Example Run:
# find_fact(7) - Prime Number, Factorial Not Calculated
# find_fact(4) - Not Prime, Factorial is: 24

In [162]:
# RECURSION
def find_fact(n):
    if n<=1:
        return 1
    else:
        return n*find_fact(n-1)
    return None

In [171]:
def check_prime(n):
    from math import sqrt
    for i in range(2, round(sqrt(n))+1):
        if n%i==0:
            return 'Not Prime, '+str(find_fact(n))
    return 'Prime, Factorial Not Calculated'

In [174]:
li=[3,5,7,6,8,9]
for num in li:
    print(check_prime(num))

Prime, Factorial Not Calculated
Prime, Factorial Not Calculated
Prime, Factorial Not Calculated
Not Prime, 720
Not Prime, 40320
Not Prime, 362880

### Dictionaries

In [175]:
# key-value pairs
# key:value => d={k1:v1, k2:v2, k3:v3}
# keys= k1,k2,k3
# values=v1,v2,v3
# no order is guarantied
# key can be any valid object
# value can be any valid object

# keys are immutable
# values can be modified

In [176]:
d=dict()

In [177]:
d={1:10, 2:30, 3:30, 4:40}

In [178]:
d.keys()

dict_keys([1, 2, 3, 4])

In [179]:
d.values()

dict_values([10, 30, 30, 40])

In [180]:
d.items()

dict_items([(1, 10), (2, 30), (3, 30), (4, 40)])

In [181]:
d={'name':'prateek','age':37,'city':'delhi','salary':24000}
print(d.keys())
print(d.values())

dict_keys(['name', 'age', 'city', 'salary'])
dict_values(['prateek', 37, 'delhi', 24000])

In [183]:
d1={'name':'sarthak','marks':[20,30,32,45,67,32]}
d2={'name':'manya','marks':[34,56,21,45,67,32]}

In [186]:
D={101: d1, 102: d2}
D

{101: {'name': 'sarthak', 'marks': [20, 30, 32, 45, 67, 32]},
 102: {'name': 'manya', 'marks': [34, 56, 21, 45, 67, 32]}}

In [187]:
d1['name']

'sarthak'

In [188]:
d2['marks']

[34, 56, 21, 45, 67, 32]

In [191]:
D[102]['name']

'manya'

In [193]:
# pop(key)
d={1:10, 2:20, 3:30}
d.pop(2) # removes key-value pair and returns value

20

In [194]:
# popitem()
d={1:10, 2:20, 3:30}
d.popitem() # removes and return key-value pair as tuple, last in order

(3, 30)

In [205]:
# fromkeys(list, common_default_value)
li=['a','b','c','d','e']
d=dict()
d=d.fromkeys(li, 0)
d

{'a': 0, 'b': 0, 'c': 0, 'd': 0, 'e': 0}

In [206]:
d['a']=100
d

{'a': 100, 'b': 0, 'c': 0, 'd': 0, 'e': 0}

In [207]:
d['K']=990
d

{'a': 100, 'b': 0, 'c': 0, 'd': 0, 'e': 0, 'K': 990}

In [208]:
for key in d.keys():
    d[key]=d[key]+2**3
    print(key, '=>', d[key])

a => 108
b => 8
c => 8
d => 8
e => 8
K => 998

In [209]:
# get(key)
d.get('c')

8

In [210]:
# update({key:value})
d.update({'R':3932})
d

{'a': 108, 'b': 8, 'c': 8, 'd': 8, 'e': 8, 'K': 998, 'R': 3932}

In [211]:
# copy()
d2=d.copy()
d2

{'a': 108, 'b': 8, 'c': 8, 'd': 8, 'e': 8, 'K': 998, 'R': 3932}

In [212]:
d2['R']=45
d2

{'a': 108, 'b': 8, 'c': 8, 'd': 8, 'e': 8, 'K': 998, 'R': 45}

In [213]:
d

{'a': 108, 'b': 8, 'c': 8, 'd': 8, 'e': 8, 'K': 998, 'R': 3932}

In [214]:
# clear()
d2.clear()
d2

{}

In [216]:
# setdefault(key, value)
d.setdefault('R', 56) 
# does nothing if key exists and return values against key

3932

In [217]:
# setdefault(key, value)
d.setdefault('Q', 56)
# if key does not exist, insert key-value pair and return value

56

In [218]:
d

{'a': 108, 'b': 8, 'c': 8, 'd': 8, 'e': 8, 'K': 998, 'R': 3932, 'Q': 56}

#### Sets

In [220]:
# collectrion of values
# values are distinct, no repeat
# set operations- union, intersection, difference
# homogeneous values

In [221]:
s=set()

In [222]:
s={1,2,3,4,2,5,7,1,2,7,8,9,2,4,6}
s

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [223]:
li=[1,2,3,4,2,5,7,1,2,7,8,9,2,4,6]
s=set(li)
s

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [224]:
s1={1,2,3,4,5,6,7,8,9}
s2={2,4,6,8,10,12,14}

In [225]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14}

In [226]:
s1.intersection(s2)

{2, 4, 6, 8}

In [227]:
s1.difference(s2)

{1, 3, 5, 7, 9}

In [228]:
s2.difference(s1)

{10, 12, 14}

In [229]:
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [231]:
# add(val)
s1.add(12)
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 12}

In [232]:
# discard(val)
s1.discard(5)
s1

{1, 2, 3, 4, 6, 7, 8, 9, 12}

In [233]:
# remove(val)
s1.remove(9)
s1

{1, 2, 3, 4, 6, 7, 8, 12}

In [234]:
# update(iterable/set)
s1.update({20,30,40})
s1

{1, 2, 3, 4, 6, 7, 8, 12, 20, 30, 40}

In [235]:
s1.update([100,200,300,10,20,40])
s1

{1, 2, 3, 4, 6, 7, 8, 10, 12, 20, 30, 40, 100, 200, 300}

In [236]:
# pop()
s1.pop()

1

In [237]:
s1.pop()

2

In [238]:
# copy()
s3=s1.copy()
s3

{3, 4, 6, 7, 8, 10, 12, 20, 30, 40, 100, 200, 300}

In [239]:
# clear()
s3.clear()
s3

set()

In [242]:
# write a function that receives a list and prints the count
# or frequency of occurence of each element in list

def get_freq(li):
    for num in set(li):
        print(num, '=>', li.count(num))
    return None

get_freq([2,1,3,4,5,6,3,2,1,3,4,5,7,9,8,4,2,1,3,5,6,2,2,1,1,])

1 => 5
2 => 5
3 => 4
4 => 3
5 => 3
6 => 2
7 => 1
8 => 1
9 => 1

#### Lambda Functions

In [243]:
# anonymous function in python
# a function without name

In [244]:
lambda x,y: x**y

In [245]:
power=lambda x,y: x**y

In [246]:
power(2,3)

8

In [247]:
power(4,6)

4096

In [257]:
def calc(n):
    return lambda x : x**n

In [258]:
calc(3)

In [259]:
p3=calc(3) # lambda x:x**3
p4=calc(4) # lambda x:x**4
p5=calc(5) # lambda x:x**5

In [260]:
p3(12)

1728

In [261]:
p4(12)

20736

In [262]:
p5(12)

248832

### map() with Lambda

In [266]:
# map(func, iterable)
# applies func to each element of iterable
def find_sqr(n):
    return n**2
li=[2,3,4,5,6,7]
list(map(find_sqr, li)) # find_sqr applied to every value in list li

[4, 9, 16, 25, 36, 49]

In [267]:
list(map(lambda x: x**3, li)) # cube of every element of list li

[8, 27, 64, 125, 216, 343]

#### filter() and lambda

In [271]:
# filter(func, iter)

def filter_data(n):
    if n <100:
        return False
    else: 
        return True
    
li=[10,34,78,102,3099,23]

list(filter(filter_data, li))

[102, 3099]

In [272]:
print(li, list(filter(lambda x:True if x<100 else False, li )))

[10, 34, 78, 102, 3099, 23] [10, 34, 78, 23]

### reduce() and lambda

In [273]:
# reduce(func, iter)
# reduces list of values to single aggregated value

In [280]:
from functools import reduce
def find_sum(x,y):
    return x+y
li=[10,34,78,102,3099,23]
reduce(find_sum, li)

3346

In [281]:
reduce(lambda x,y:x+y, li)

3346

In [282]:
# 10+34 =44
# 44+78 =122
# 122+102 = 224
# 224+3099 =3323
# 3323+23 =3346

### Variable Number of Arguments

In [283]:
def func(x,y):
    return x+y

def func2(x,y,z):
    return x+y+z

In [284]:
func(20,30)

50

In [285]:
func2(2,4,8)

14

In [288]:
# var args
def sum_numbers(*args):
    sum_num=0
    for num in args:
        sum_num+=num
    return sum_num

In [289]:
sum_numbers(2,3,4)

9

In [290]:
sum_numbers(2,3,4,7,9,1,4)

30

In [291]:
def display(**kwargs):
    for key in kwargs.keys():
        print(key, '=>', kwargs[key])

In [292]:
display(name='prateek',marks=98)

name => prateek
marks => 98

In [293]:
display(name='prateek',marks=98, course='Python', duration=2)

name => prateek
marks => 98
course => Python
duration => 2

In [298]:
def display(*args, **kwargs):
    print(args)
    print(kwargs)

In [299]:
display(2,3,4, name='prateek')

(2, 3, 4)
{'name': 'prateek'}

In [300]:
display()

()
{}

In [301]:
def display(x,y, *args, **kwargs):
    print(x,y)
    print(args)
    print(kwargs)

In [306]:
display(100,200, 300, 400, a=3.14, b=2.71)

100 200
(300, 400)
{'a': 3.14, 'b': 2.71}

In [312]:
# write a program code to modify the dictionary key provided by user
# d={10:100, 20:200, 30:300}
#Example: input=> old_key, new_key (20, 50)
# output: d={10:100, 50:200, 30:300}

d={10:100, 20:200, 30:300}
print('Original: ',d)
old_key=int(input())
new_key=int(input())
d.update({new_key:d[old_key]})
d.pop(old_key)
print('Updated: ',d)

Original:  {10: 100, 20: 200, 30: 300}
20
50
Updated:  {10: 100, 30: 300, 50: 200}

In [314]:
# Take N as integer from user and create a dictionary that contains
# 1....N as keys and cube of 1...N as values
#Example: input=>4
# output: {1:1, 2:8, 3:27, 4:64}

N=int(input())
d={x:x**3 for x in range(N)}
print(d)

10
{0: 0, 1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729}

In [333]:
# write a function that takes dictionary as input and
# prints dictionary sorted by keys

def sort_dict_by_keys(d):
    for key in sorted(d.keys()):
        print(key, '=>', d[key])
    return None

sort_dict_by_keys({10:100,40:400,20:230,6:600,70:786})

6 => 600
10 => 100
20 => 230
40 => 400
70 => 786

In [337]:
def sort_dict_by_keys(d):
    return dict(sorted(d.items()))
sort_dict_by_keys({10:100,40:400,20:230,6:600,70:786})

{6: 600, 10: 100, 20: 230, 40: 400, 70: 786}

### Documentation Strings

In [341]:
def add_numbers(x,y):
    '''Function to calculate sum of two numbers
    Example: add_numbers(2,3) returns 5
    input type integer | float
    return type integer | float'''
    return x+y

In [342]:
add_numbers(2,3)

5

In [344]:
print(add_numbers.__doc__)

Function to calculate sum of two numbers
    Example: add_numbers(2,3) returns 5
    input type integer | float
    return type integer | float

In [345]:
import math
print(math.log2.__doc__)

Return the base 2 logarithm of x.

In [347]:
print(math.radians.__doc__)

Convert angle x from degrees to radians.

In [348]:
print(sorted.__doc__)

Return a new list containing all items from the iterable in ascending order.

A custom key function can be supplied to customize the sort order, and the
reverse flag can be set to request the result in descending order.

## Formatting Strings

### format()

In [350]:
name='Prateek'
company='Deloitte'

print("Welcome to ", company, ", ", name, '!')

Welcome to  Deloitte ,  Prateek !

In [351]:
print("Welcome to {0}, {1} !".format(company, name))

Welcome to Deloitte, Prateek !

In [352]:
print(f"Welcome to {company}, {name} !")

Welcome to Deloitte, Prateek !

In [353]:
print("Value of PI is {0}".format(22/7))

Value of PI is 3.142857142857143

In [355]:
print("Value of PI is {0:.2f}".format(22/7))

Value of PI is 3.14

In [356]:
print('Value is: {0}'.format(183.678))

Value is: 183.678

In [357]:
print('Value is: {0:e}'.format(183.678))

Value is: 1.836780e+02

In [358]:
print('Binary Value: {0:b}'.format(78))

Binary Value: 1001110

In [359]:
print("{0:<16} | {1:^16} | {2:>16}".format('Deloitte','Deloitte','Deloitte'))

Deloitte         |     Deloitte     |         Deloitte

In [360]:
print("{0} {3} {2} {1}".format('Deloitte','USI','India','Inc.'))

Deloitte Inc. India USI

In [361]:
print("{0:<16} | {0:^16} | {0:>16}".format('Deloitte'))

Deloitte         |     Deloitte     |         Deloitte

In [366]:
company='Deloitte'
print(f'{company:<20} | {company:>20}')

Deloitte             |             Deloitte

In [368]:
# Write a Python function that accepts your date of birth as a parameter 
# and prints your age

def get_age(date):
    d=date.split('-')
    print(2023-int(d[2]))
    return None
get_age('22-08-2002')

21

In [373]:
import datetime
t=datetime.datetime.now()
t.year

2023

### OS module

In [374]:
import os

In [375]:
os.name

'nt'

In [376]:
os.getcwd()

'C:\\Users\\pvashishtha\\Desktop\\Python Basics'

In [377]:
os.mkdir("C:\\Users\\pvashishtha\\Desktop\\Python Basics\\trial")

In [378]:
os.chdir("C:\\Users\\pvashishtha\\Desktop\\Python Basics\\trial")

In [379]:
os.getcwd()

'C:\\Users\\pvashishtha\\Desktop\\Python Basics\\trial'

In [380]:
os.chdir("C:\\Users\\pvashishtha\\Desktop\\Python Basics")

In [381]:
os.rmdir("C:\\Users\\pvashishtha\\Desktop\\Python Basics\\trial")

In [383]:
os.rename('first_script.py', 'first.py')

In [384]:
os.getlogin()

'pvashishtha'

In [385]:
os.getpid()

21772

In [386]:
os.listdir()

['.ipynb_checkpoints',
 'first.py',
 'Python Basics Day 1.ipynb',
 'Python Basics Day 2.ipynb',
 'Python Basics Day 3.ipynb']

In [387]:
os.listdir("C:\\Users\\pvashishtha\\Desktop")

['.ipynb_checkpoints',
 'aditi_resume_v2.pdf',
 'Deloitte Remote Assistance.lnk',
 'Deloitte- Tech (Python)',
 'desktop.ini',
 'FDN_DWH_ETL Fundamentals_Testing_Agile Fundamentals_1wk',
 'FDN_Python_2wk',
 'FDN_SQL_Adv SQL_1wk',
 'Following are the agenda items that I would like to discuss.docx',
 'GCP',
 'Microsoft Teams.lnk',
 'object_oriented_python_tutorial.pdf',
 'OneDrive.lnk',
 'P7 AA week 5 roster DTA faculty.xlsx',
 'PRE_SQL_PLSQL_4d',
 'PV',
 'Python Basics',
 'subjective_Python_.docx',
 'Week 4 - Internal.xlsx']

In [389]:
os.getenv('path')

'C:\\Users\\pvashishtha\\Anaconda3;C:\\Users\\pvashishtha\\Anaconda3\\Library\\mingw-w64\\bin;C:\\Users\\pvashishtha\\Anaconda3\\Library\\usr\\bin;C:\\Users\\pvashishtha\\Anaconda3\\Library\\bin;C:\\Users\\pvashishtha\\Anaconda3\\Scripts;C:\\WINDOWS\\system32;C:\\WINDOWS;C:\\WINDOWS\\System32\\Wbem;C:\\WINDOWS\\System32\\WindowsPowerShell\\v1.0\\;C:\\WINDOWS\\System32\\OpenSSH\\;C:\\Users\\pvashishtha\\AppData\\Local\\Programs\\Python\\Python38;C:\\Users\\pvashishtha\\AppData\\Local\\Programs\\Python\\Python38\\Scripts;C:\\Users\\pvashishtha\\AppData\\Local\\Microsoft\\WindowsApps;C:\\Program Files\\Microsoft SQL Server\\Client SDK\\ODBC\\170\\Tools\\Binn\\;C:\\Program Files (x86)\\Microsoft SQL Server\\150\\Tools\\Binn\\;C:\\Program Files\\Microsoft SQL Server\\150\\Tools\\Binn\\;C:\\Program Files\\Microsoft SQL Server\\150\\DTS\\Binn\\;C:\\Program Files (x86)\\Microsoft SQL Server\\150\\DTS\\Binn\\;C:\\Program Files\\Azure Data Studio\\bin;C:\\Users\\pvashishtha\\Anaconda3\\Scripts;C:\\Users\\pvashishtha\\Anaconda3;C:\\Users\\pvashishtha\\Anaconda3\\Scripts;C:\\Users\\pvashishtha\\AppData\\Local\\Programs\\Python\\Python38;C:\\Users\\pvashishtha\\AppData\\Local\\Programs\\Python\\Python38\\Scripts;C:\\Users\\pvashishtha\\AppData\\Local\\Microsoft\\WindowsApps;C:\\Users\\pvashishtha\\AppData\\Local\\Programs\\Microsoft VS Code\\bin;C:\\Users\\pvashishtha\\Anaconda3\\condabin;C:\\Users\\pvashishtha\\Anaconda3\\Scripts;C:\\Program Files\\Azure Data Studio\\bin;C:\\Users\\pvashishtha\\Anaconda3;'

In [390]:
os.stat('C:\\Users\\pvashishtha\\Desktop\\object_oriented_python_tutorial.pdf')

os.stat_result(st_mode=33206, st_ino=41376821576472884, st_dev=1320782998, st_nlink=1, st_uid=0, st_gid=0, st_size=3479286, st_atime=1672635724, st_mtime=1670214040, st_ctime=1670214039)

In [391]:
os.times()

nt.times_result(user=77.609375, system=19.515625, children_user=0.0, children_system=0.0, elapsed=0.0)

### Time Module

In [392]:
import time

In [394]:
time.time()

1675858915.4942772

In [395]:
time.ctime()

'Wed Feb  8 17:52:18 2023'

In [397]:
li=['one','two','three','four','five','Go!!']
for val in li:
    print(val)
    time.sleep(1.5)

one
two
three
four
five
Go!!

In [400]:
result=time.localtime(time.time())
result.tm_year

2023

In [403]:
result.tm_mon

2

In [405]:
result.tm_mday

8

In [406]:
print(result.tm_hour, result.tm_min, result.tm_sec)

17 54 30

In [407]:
result

time.struct_time(tm_year=2023, tm_mon=2, tm_mday=8, tm_hour=17, tm_min=54, tm_sec=30, tm_wday=2, tm_yday=39, tm_isdst=0)

In [408]:
time.strftime("%m/%d/%Y, %H:%M:%S", time.localtime())

'02/08/2023, 17:57:43'

## Random Module

In [409]:
import random

In [410]:
random.random()

0.01732622246138593

In [412]:
random.randint(500,800)

782

In [413]:
li=[1,2,3,4,5,6]
random.choice(li)

2

In [416]:
li=['one','two','three','four','five','five','six']
random.choice(li)

'five'

In [417]:
random.randrange(800,900)

812

In [418]:
random.seed(42)
random.random()

0.6394267984578837

In [421]:
random.uniform(10,20)

12.750293183691193

In [422]:
random.gauss(0,1)

0.2735990065583831

In [424]:
li=[1,2,3,4,5]

# map()
list(map(lambda x: x**2, li))

[1, 4, 9, 16, 25]

In [426]:
list(filter(lambda x: x%2!=0, li))

[1, 3, 5]

In [427]:
list(filter(lambda x: x%2==0, li))

[2, 4]

In [430]:
reduce(lambda x,y: x+y, li)

15

In [434]:
d={1:10, 2:20, 3:30}

In [435]:
print(d.setdefault(2, 40))
print(d)

20
{1: 10, 2: 20, 3: 30}

In [436]:
print(d.setdefault(5,50))
print(d)

50
{1: 10, 2: 20, 3: 30, 5: 50}