### Python Basics Day 2

### Formatting Strings

In [2]:
print('welcome to %s, have a happy journey in your career here!'%('deloitte'))

welcome to deloitte, have a happy journey in your career here!

In [3]:
print('welcome to %s, you will be serving %s'%('deloitte usi','consulting'))

welcome to deloitte usi, you will be serving consulting

In [5]:
name='Prateek'
company='Deloitte USI'
text='welcome %s to %s'%(name, company)
print(text)

welcome Prateek to Deloitte USI

#### format()

In [6]:
name=input('Enter your name')
comp=input('Enter company')

msg='Hi {0}, welcome to {1}'.format(name, comp)
print(msg)

Enter your nameprateek
Enter companydeloitte
Hi prateek, welcome to deloitte

In [7]:
print('you have {0} account balance'.format(15000))

you have 15000 account balance

In [10]:
name='prateek'
comp='deloitte'
print(f'welcome {name} to {comp}')

welcome prateek to deloitte

In [11]:
name=input('Enter your name')
comp=input('Enter company')

msg='Hi {1}, welcome to {0}'.format(name, comp)
print(msg)

Enter your nameprateek
Enter companydeloitte
Hi deloitte, welcome to prateek

In [12]:
pi=3.1456982351
print(f'Value of PI is {pi}')

Value of PI is 3.1456982351

In [13]:
pi=3.1456982351
print(f'Value of PI is {pi:.2f}')

Value of PI is 3.15

In [15]:
# justify your text in formatted string
text=input()

print(f'{text:<20} | {text:^20} | {text:>20}')

deloitte
deloitte             |       deloitte       |             deloitte

In [19]:
# Write a python script that accepts user password and checks if has:
# 1. Length of minimum 8 characters
# 2. alphanumeric composition
# 3. No blank spaces
# If it follows all criteria, then print "True" else print "False"
password=input('Enter your password: ')
status=len(password)>=8 and password.isalnum() and password.count(' ')==0
print(status)

Enter your password: prateek 18
False

### Flow Control

In [21]:
# Branching - IF-ELSE
# Repetition- LOOP
# Jump to a Code- FUNCTIONS

#### IF - ELSE Conditions- conditional statements

In [ ]:
# if <condition>:     # header
    #block of code    # with indentation

In [25]:
a=10
if a>5:
    print('Hurray! "a" is greater than 5')
print('After IF')

Hurray! "a" is greater than 5
After IF

In [26]:
a=1
if a>5:
    print('Hurray! "a" is greater than 5')
print('After IF')

After IF

In [27]:
# if <condn>:
    # block of code- action 1
# else:
    # block of code- action 2

In [30]:
a=10
if a>10:
    print('a more than 10')
else:
    print('a is less than 10')
print('after if-else')

a is less than 10
after if-else

In [31]:
a=100
if a>10:
    print('a more than 10')
else:
    print('a is less than 10')
print('after if-else')

a more than 10
after if-else

In [32]:
# Find the largest of 2 numbers given as input from user
a=int(input())
b=int(input())
if a>b:
    print('a is larger')
else:
    print('b is larger')
print('Done!')

23
67
b is larger
Done!

In [33]:
# Find the largest of 3 numbers given as input from user
a=int(input())
b=int(input())
c=int(input())
if a>b:
    if a>c:
        print('a is largest')
    else:
        print('c is largest')
else:
    if b>c:
        print('b is largest')
    else:
        print('c is largest')
    
print('Done!')

23
12
67
c is largest
Done!

In [35]:
a=int(input())
b=int(input())
c=int(input())

if a>b and a>c:
    print('a is largest')
if b>a and b>c:
    print('b is largest')
if c>a and c>b:
    print('c is largest')

23
45
45

In [36]:
a=int(input())
b=int(input())
c=int(input())

if a>b and a>c:
    print('a is largest')
else:
    if b>a and b>c:
        print('b is largest')
    else:
        print('c is largest')
print('done')

23
45
67
c is largest

In [37]:
# if -elif - else ladder

In [44]:
a=62
if a>=90:
    print('more than 90')
elif a>=70 and a<90:
    print('more than 70 and less than 90')
elif a>=50 and a<70:
    print('more than 50 and less than 70')
else:
    print('no condition match')

more than 50 and less than 70

In [48]:
# write a program that tells the grade of marks obtained:
# if more than equal to 90: grade A
# if more than equal to 75 and less tha 90: grade B
# from range 60 to 74.99, grade C
# else failure
marks=float(input())
grade=''
if marks>=90:
    grade='A'
elif 75<=marks<=89.99:
    grade='B'
elif 60<=marks<=74.99:
    grade='C'
else:
    grade='F'
    
print(f'Final Grades: {grade}')

78.65
Final Grades: B

In [55]:
# Write a script to find whether given year is leap yer or not
year=int(input())

if year%100==0:
    if year%400==0:
        print('Leap Year')
    else:
        print('Not a leap year')
else:
    if year%4==0:
        print('Leap Year')
    else:
        print('Not a leap year')

1700
Not a leap year

#### Loop Control

In [56]:
# WHILE Loop
# FOR Loop

In [57]:
# While Loop

# iterator variable
# while <condition>:           # header
    # block of code            # repetive
    # iterator-update          # defines the condition for next iteration

In [59]:
# iterator
i=0
while i<10:
    print(f'value of i={i}')
    i+=1
print('outside loop')

value of i=0
value of i=1
value of i=2
value of i=3
value of i=4
value of i=5
value of i=6
value of i=7
value of i=8
value of i=9
outside loop

In [61]:
# Write a script using while loop to find all leap years between
# 2000 and 2023

year=2000
while year<=2023:
    if year%100==0:
        if year%400==0:
            print('Leap Year:', year)
        else:
            pass
    else:
        if year%4==0:
            print('Leap Year:', year)
        else:
            pass
    year+=1

Leap Year: 2000
Leap Year: 2004
Leap Year: 2008
Leap Year: 2012
Leap Year: 2016
Leap Year: 2020

In [69]:
# Write a code to check whether given number is prime or not
num=int(input())
i=2
while i<num//2+1:
    if num%i==0:
        print('Not a prime number')
        print(i)
        break
    else:
        pass
    i+=1
else:
    print('Prime Number')

282589933
Not a prime number
283

In [72]:
# Write a code to find the factorial of a given number
# n = n*n-1*n-2....3*2*1

n=int(input())
i=1
fact=1
while i<=n:
    fact*=i
    i+=1
print(f'Factorial of {n} is {fact}')

8
Factorial of 8 is 40320

In [73]:
# Find all 3 digit prime numbers
num=100
while num<1000:
    i=2
    while i<num//2+1:
        if num%i==0:
            break
        else:
            pass
        i+=1
    else:
        print('Prime Number: ', num)
    num+=1

Prime Number:  101
Prime Number:  103
Prime Number:  107
Prime Number:  109
Prime Number:  113
Prime Number:  127
Prime Number:  131
Prime Number:  137
Prime Number:  139
Prime Number:  149
Prime Number:  151
Prime Number:  157
Prime Number:  163
Prime Number:  167
Prime Number:  173
Prime Number:  179
Prime Number:  181
Prime Number:  191
Prime Number:  193
Prime Number:  197
Prime Number:  199
Prime Number:  211
Prime Number:  223
Prime Number:  227
Prime Number:  229
Prime Number:  233
Prime Number:  239
Prime Number:  241
Prime Number:  251
Prime Number:  257
Prime Number:  263
Prime Number:  269
Prime Number:  271
Prime Number:  277
Prime Number:  281
Prime Number:  283
Prime Number:  293
Prime Number:  307
Prime Number:  311
Prime Number:  313
Prime Number:  317
Prime Number:  331
Prime Number:  337
Prime Number:  347
Prime Number:  349
Prime Number:  353
Prime Number:  359
Prime Number:  367
Prime Number:  373
Prime Number:  379
Prime Number:  383
Prime Number:  389
Prime Number:  397
Prime Number:  401
Prime Number:  409
Prime Number:  419
Prime Number:  421
Prime Number:  431
Prime Number:  433
Prime Number:  439
Prime Number:  443
Prime Number:  449
Prime Number:  457
Prime Number:  461
Prime Number:  463
Prime Number:  467
Prime Number:  479
Prime Number:  487
Prime Number:  491
Prime Number:  499
Prime Number:  503
Prime Number:  509
Prime Number:  521
Prime Number:  523
Prime Number:  541
Prime Number:  547
Prime Number:  557
Prime Number:  563
Prime Number:  569
Prime Number:  571
Prime Number:  577
Prime Number:  587
Prime Number:  593
Prime Number:  599
Prime Number:  601
Prime Number:  607
Prime Number:  613
Prime Number:  617
Prime Number:  619
Prime Number:  631
Prime Number:  641
Prime Number:  643
Prime Number:  647
Prime Number:  653
Prime Number:  659
Prime Number:  661
Prime Number:  673
Prime Number:  677
Prime Number:  683
Prime Number:  691
Prime Number:  701
Prime Number:  709
Prime Number:  719
Prime Number:  727
Prime Number:  733
Prime Number:  739
Prime Number:  743
Prime Number:  751
Prime Number:  757
Prime Number:  761
Prime Number:  769
Prime Number:  773
Prime Number:  787
Prime Number:  797
Prime Number:  809
Prime Number:  811
Prime Number:  821
Prime Number:  823
Prime Number:  827
Prime Number:  829
Prime Number:  839
Prime Number:  853
Prime Number:  857
Prime Number:  859
Prime Number:  863
Prime Number:  877
Prime Number:  881
Prime Number:  883
Prime Number:  887
Prime Number:  907
Prime Number:  911
Prime Number:  919
Prime Number:  929
Prime Number:  937
Prime Number:  941
Prime Number:  947
Prime Number:  953
Prime Number:  967
Prime Number:  971
Prime Number:  977
Prime Number:  983
Prime Number:  991
Prime Number:  997

In [75]:
# Write program to find total number of consonents in a string and 
# convert it to upper case if count is even, else to lower case if 
# count is odd.

s=input().lower()
vowels=s.count('a')+s.count('e')+s.count('i')+s.count('o')+s.count('u')
consonents=len(s)-vowels-s.count(' ')
print(f'Consonents Count: {consonents}')

if consonents%2==0:
    print(s.upper())
else:
    print(s.lower())

hello deloitte i am feeling happy here
Consonents Count: 18
HELLO DELOITTE I AM FEELING HAPPY HERE

#### for loop

In [80]:
# range()- generates enumeration of numbers

# range(n)- enumerates over 0 to n-1
# range(m, n)- enumerates over m to n-1
# range(m, n, k)- enumerates over m to n-1 with k increment/decrement

In [81]:
range(10) # 0 to 9
# 0,1,2,3,4,5,6,7,8,9

range(0, 10)

In [82]:
range(5, 15) # 5 to 14
# 5,6,7,8,9,10,11,12,13,14

range(5, 15)

In [ ]:
range(5, 10, 2) # 5 to 9 with increment of 2
# 5, 7, 9

In [ ]:
# for iterable in range(n):        # header
    # block
    # block

In [84]:
for i in range(10):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [85]:
for i in range(5, 15):
    print(i, end=' ')

5 6 7 8 9 10 11 12 13 14

In [86]:
for i in range(5, 20, 3):
    print(i, end=' ')

5 8 11 14 17

In [87]:
for char in 'PRATEEK':
    print(char, end=' ')

P R A T E E K

In [92]:
# Write code using for loop to check prime number
num=int(input())
for i in range(2, num//2+1):
    if num%i==0:
        print('NOT PRIME')
        break
else:
    print('PRIME NUMBER')

232
NOT PRIME

In [94]:
# write code using for lopp to find factorial
n=int(input())
fact=1
for i in range(1, n+1):
    fact*=i
print('Factorial: ', fact)

7
Factorial:  5040

In [98]:
for i in range(20, 10, -2):
    print(i)

20
18
16
14
12

In [102]:
# continue
# forces to next iteration without executing further statements

In [105]:
i=0
while i<10:
    if i%2==0:
        i+=1
        continue
    print(i)
    i+=1

1
3
5
7
9

In [106]:
for i in range(10):
    if i%3==0:
        continue
    print(i)

1
2
4
5
7
8

In [112]:
for i in range(100):
    if i>7:
        continue
    print(i)
else:
    print('Loop Over')

0
1
2
3
4
5
6
7
Loop Over

#### ternary operator

In [113]:
# action1 if condition else action2

In [114]:
marks=89
if marks>90:
    print('Grade A')
else:
    print('Grade B')

Grade B

In [115]:
'Grade A' if marks>90 else 'Grade B'

'Grade B'

In [116]:
x=15
y=20

x if x>y else y

20

In [118]:
marks=78

'Grade A' if marks>90 else ('Grade B' if 75<marks<90 else 'Grade C')

'Grade B'

In [124]:
# write a program code that displays all integers between 0 and 100 that are
# divisible by 5 and are multiples of 7 as well.
i=0
while i<101:
    if i%5==0 and i%7==0:
        print(i)
    i+=1

0
35
70

In [127]:
for i in range(101):
    if i%5==0 and i%7==0:
        print(i)

0
35
70

In [132]:
# write a program that accepts an inetegr from user and performs check
# if the number is 3 digit number or not, if not print 'INVALID'
# else prints the number in reverse order of appearing digits.
n=int(input())
if 100<=n<=999:
    temp=n
    while temp>0:
        print(temp%10, end='')
        temp=temp//10
else:
    print('INVALID')

567
765

In [133]:
n=int(input())
if 100<=n<=999:
    print(int(str(n)[::-1]))
else:
    print('INVALID')

687
786

In [135]:
# Write a code to print:
# *
# * *
# * * *
# * * * *
# * * * * *
# * * * * * *
n=6
for i in range(1, n+1):
    print('* '*i)

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [139]:
# Write a code to print:
# 1
# 2 3
# 4 5 6
# 7 8 9 10
n=10
i=1
k=1
while i<n+1:
    j=1
    while j<=i:
        print(k, end=' ')
        k+=1
        j+=1
    print()
    i+=1

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31 32 33 34 35 36
37 38 39 40 41 42 43 44 45
46 47 48 49 50 51 52 53 54 55

In [141]:
# Write a code to print

#     1     
#    2 2    
#   3 3 3   
#  4 4 4 4
# 5 5 5 5 5
n=9
for i in range(1, n+1):
    print(' '*(n-i)+(str(i)+' ')*i)

        1
       2 2
      3 3 3
     4 4 4 4
    5 5 5 5 5
   6 6 6 6 6 6
  7 7 7 7 7 7 7
 8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9

In [144]:
# Write a code to generate and print fibonacci series
# N numbers
# e.g.  0,1,1,2,3,5,8,13,21,34,55,89.....
n=int(input())
prev1=0
prev2=1
print(prev1, prev2, sep=',', end=',')
for num in range(n-2):
    next_term=prev1+prev2
    print(next_term, end=',')
    prev1=prev2
    prev2=next_term
print('\b')

20
0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,1597,2584,4181

In [148]:
# Write a program code to find whther given number is 
# 3 digit AMSTRONG number or not.
# if number provided is not 3 digit, print INVALID NUMBER
# else if number is AMSTRONG print AMSTRONG NUMBER
# else print NOT AMSTRONG
# Test Cases: 1. 371 => AMSTRONG NUMBER
# 2. 689 => NOT AMSTRONG
# 3. 7890 => INVALID NUMBER

# Hint: A number is amstrong is sum of cube of its didgit is same as number
# itself. Example: 371 => 3**3 + 7**3 + 1**3 =371

n=int(input())
s=0
if 100<=n<=999:
    temp=n
    while temp>0:
        s+=(temp%10)**3
        temp//=10
    if s==n:
        print('AMSTRONG NUMBER')
    else:
        print('NOT AMSTRONG')
else:
    print('INVALID NUMBER')

674
NOT AMSTRONG

In [159]:
# Write a code that rotates a string characters N times
# Example: Input=> ROTATION,  N=3, OUTPUT=> ATIONROT
n=int(input())
s='ROTATION'
n=n%len(s)
for i in range(n):
    s=s[1:]+s[0]
print(s)

128900
TIONROTA

In [162]:
# find all 3 digit AMSTRONG numbers
for n in range(100,1000):
    s=0
    temp=n
    while temp>0:
        s+=(temp%10)**3
        temp//=10
    if s==n:
        print(n)
    else:
        pass

153
370
371
407

### Functions - UDF

In [164]:
# def <function-name>(argument-list):                 # header
    # block of code

In [165]:
def message():
    print('hello world')

In [166]:
# call a function
message()

hello world

In [168]:
def message(msg):
    print(f'Hello, {msg}')

In [170]:
message('Good Evening!')

Hello, Good Evening!

In [171]:
def find_sum_2(x, y):
    s=x+y
    print(s)

In [172]:
find_sum_2(34, 89)

123

In [173]:
# return statement

In [174]:
def find_sum(x,y):
    s=x+y
    return s

In [176]:
su=find_sum(45, 78)

In [177]:
print(su)

123

In [178]:
# Functions can have default arguments
def find_sum(x, y=10):
    s=x+y
    return s

In [179]:
find_sum(20, 30)

50

In [180]:
find_sum(45)

55

In [181]:
# default arguments must always follow non-default arguments

In [182]:
def find_sum(x=5, y):
    s=x+y
    return s

SyntaxError: non-default argument follows default argument (1476988404.py, line 1)

In [183]:
def area_circle(radius, pi=3.14):
    return pi*radius**2

In [184]:
area_circle(3.5, 22/7)

38.5

In [185]:
area_circle(3.5)

38.465

In [186]:
# Calling Function with keyword arguments

In [187]:
def msg(name, company, location):
    return f'Hello {name}, Welcome to {company}. Your Location is {location}'

In [188]:
msg('Prateek','Deloitte USI','Bengaluru')

'Hello Prateek, Welcome to Deloitte USI. Your Location is Bengaluru'

In [189]:
msg('Bengaluru','Deloitte USI','Prateek')

'Hello Bengaluru, Welcome to Deloitte USI. Your Location is Prateek'

In [191]:
msg(location='Bengaluru', company='Deloitte USI', name='Prateek')

'Hello Prateek, Welcome to Deloitte USI. Your Location is Bengaluru'

In [192]:
def find_max(a,b,c):
    if a>b and a>c:
        return a
    elif b>a and b>c:
        return b
    else:
        return c

In [193]:
find_max(20,32,13)

32

In [194]:
print(f'Maximum Number: {find_max(20,30,44)}')

Maximum Number: 44

In [195]:
# Write a function code to calculate factorial of number passed as argument
def find_factorial(n):
    if n<2:
        return 1
    else:
        f=1
        for i in range(2, n+1):
            f*=i
        else:
            return f

In [201]:
find_factorial(8)

40320

###### Recursion

In [203]:
# when function calls itself within its definition

In [204]:
def find_factorial(n):
    if n<2:
        return 1
    else:
        return n*find_factorial(n-1)

In [205]:
find_factorial(7)

5040

In [208]:
# Write a code that generates fibonacci series of N terms using recursion
def fib(n):
    if n<=1:
        return n
    else:
        return fib(n-1)+fib(n-2)

In [210]:
N=int(input())
for i in range(N):
    print(fib(i), end=' ')

20
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181

In [217]:
# Write a function "Lucky_Number(dob)" where dob is of format DDMMYYYY (e.g. 01021985)
# This function should calculate sum of digits of dob brought down to single digit
# 0+1+0+2+1+9+8+5 = 26  =>   2+6 = 8         return 8

def Lucky_Number(dob):
    s=0
    while dob>0:
        s+=dob%10
        dob//=10
    if s<=9:
        return s
    else:
        return Lucky_Number(s)

In [218]:
dob=int(input())
Lucky_Number(dob)

01021995

9

In [219]:
# A naughty boy has a hopping hop, he moves all over 
# places in a specific pattern.
# He moves 1 step in first hop
# He moves 2 step in second hop
# He moves 3 step in third hop
# He then repeats the pattern forever.

# Given certain number of hops, and starting position
# assumed as '0', find the position he will reach.
# Write function for the same.

def find_pos(n):
    pos=0
    pos+=(n//3)*6
    rem=n%3
    if rem==1:
        pos+=1
    elif rem==2:
        pos+=3
    else:
        pass
    return pos

In [227]:
find_pos(720*12)

17280

In [6]:
def find_pos(n):
    pos=0
    pos+=(n//3)*6 + round((n%3)*1.4)
    return pos

In [8]:
find_pos(50)

99

In [15]:
# Using function,
# for a given position, determine whether it is reachable
# using the pattern of naughty boy or not
def check(pos):
    if pos%3==0 or pos%6==1:
        return True
    else:
        return False

In [16]:
check(99)

True

#### Functions As First Class Objects in Python

In [17]:
def msg():
    return 'hello'

In [18]:
# a function can be stored as object

In [19]:
x=msg

In [20]:
print(x)

<function msg at 0x000001CE9A6A8D30>

In [21]:
msg()

'hello'

In [22]:
x()

'hello'

In [23]:
# function can be nested,
# function can be passed as argument,
# function can be returned from another function

In [43]:
def outer(func):
    def inner():
        print(func())
        return None
    return inner

In [44]:
inner_reference=outer(msg)

In [45]:
inner_reference()

hello

'hello'

### Lambda Functions

In [48]:
# Inline Anonymous Function
# Accepts any number of args
# evaluates a single statement/expression
# we use keyword lambda to define it

In [50]:
sqr= lambda x:x**2

In [51]:
sqr(4)

16

In [52]:
# power of lambda functions
def power(y):
    return lambda x : x**y

In [53]:
p2=power(2) # lambda x:x**2
p3=power(3) # lambda x:x**3
p4=power(4) # lambda x:x**4

In [55]:
p2(3)

9

In [56]:
p3(3)

27

In [57]:
p4(3)

81

#### Function as Generator

In [58]:
# generators are special type functions
# instead of return it use "yield"

In [59]:
def getint(start, end):
    for i in range(start, end):
        yield i

In [60]:
seq=getint(20, 30)

In [73]:
# next()
next(seq)

StopIteration:

In [75]:
# Create a lambda function implementation that
# calculates number of words in a given sentence
scount=lambda s:s.count(' ')+1

In [76]:
scount('hello how are you today')

5

In [77]:
scount=lambda s:len(s.split())
scount('hello how are you today')

5

In [78]:
'hello how are you  today'.split()

['hello', 'how', 'are', 'you', 'today']

In [81]:
get_percent=lambda marks, mx_marks:round(marks/mx_marks*100, 2)
get_percent(345, 600)

57.5