## Python Basics Day 3

#### Data Structures

In [1]:
# Sequences:
    # string
    # tuple
    # list
# Non-Seqeunces Collection
    # Dictionary
    # Set

#### Tuple

In [2]:
# collection of values
# can store heterogeneous data- diff data types
# can store any valid python object
# IMMUTABLE- can not be modified/ but can be replaced
# indexed, sliced

In [3]:
# tuple()
t=tuple()

In [4]:
print(type(t))

<class 'tuple'>

In [6]:
t=tuple((1,2,3,4,5))

In [7]:
t=(1,2,3,4,5)

In [8]:
t=()

In [9]:
t=(1,2,3, 'hello','hi', 3.14, (3-2j), False)

In [10]:
t=(1,2,3, 'hello',(10,20,30), 3.14, (3-2j), False)

In [11]:
t=(1,2,3,4,5)

In [12]:
# indexing
t[0]

1

In [13]:
t[-1]

5

In [14]:
t[::-1]

(5, 4, 3, 2, 1)

In [15]:
t

(1, 2, 3, 4, 5)

In [16]:
t=(1,2,3, 'hello',(10,20,30), 3.14, (3-2j), False)

In [17]:
t[3]

'hello'

In [18]:
t[4]

(10, 20, 30)

In [19]:
t[4][0]

10

In [20]:
t[4][::-1]

(30, 20, 10)

In [21]:
type(t)

tuple

In [22]:
len(t)

8

In [23]:
id(t)

1865595760832

In [24]:
# slicing
t=(1,2,3,4,5,6,7,8,9)
t[:]

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [25]:
t[:5]

(1, 2, 3, 4, 5)

In [26]:
t[5:8]

(6, 7, 8)

In [28]:
# count()
t=(1,2,3,45,2,1,6,8,6,5,2,2,1,1,1,6,1,8,5)
t.count(1)

6

In [31]:
# index()
t.index(45)

3

In [33]:
t[0]=100

TypeError: 'tuple' object does not support item assignment

In [35]:
t1=(1,2,3)
t2=(10,20,30)
t3=t1+t2
t3

(1, 2, 3, 10, 20, 30)

In [36]:
# inbuilt functions for iterables

In [37]:
# sum()
sum(t)

106

In [38]:
# max()
max(t)

45

In [39]:
# min()
min(t)

1

In [41]:
t=(1,2,3, 3.14, True)
max(t)

3.14

In [42]:
min(t)

1

In [51]:
t=('Samar', 'sandhya', 'sanya')
max(t)

'sanya'

In [52]:
min(t)

'Samar'

In [48]:
# iterations
t=(10,20,30,40,60,90)

for num in t:
    print(num)

10
20
30
40
60
90

In [53]:
t=('a','b','c','arun','Paresh', 'sathvik')

In [54]:
max(t)

'sathvik'

In [55]:
min(t)

'Paresh'

In [58]:
# From a tuple that contains marks of 5 subjects
# find the percentage and division
# 60-100 : First
# 45-59 : Second
# 33-45 : Third
# <33 : Fail
t=(78,87,90,67,73)
per=sum(t)

In [64]:
t=()
for i in range(5):
    t=t+(int(input()),)

23
45
67
87
90

### Lists

In [72]:
# list()
l=list()

In [74]:
print(type(l))

<class 'list'>

In [75]:
id(l)

1865596353216

In [76]:
l=[1,2,3,4,5]
l

[1, 2, 3, 4, 5]

In [77]:
l=[1,2,3, 'hello',3.789, True, (3-2j)]

In [78]:
l=[1,2,3, 'hi', 3.145, (19,20,21), [100,200,300], True]
l

[1, 2, 3, 'hi', 3.145, (19, 20, 21), [100, 200, 300], True]

In [79]:
l[5]

(19, 20, 21)

In [80]:
l[5][1]

20

In [81]:
l[6]

[100, 200, 300]

In [82]:
l[6][2]

300

In [83]:
l=[1,2,3, (100,200,[1.5, 2.5, 3.5])]

In [84]:
l[3][2][1]

2.5

In [85]:
l[:3]

[1, 2, 3]

In [86]:
l[-1]

(100, 200, [1.5, 2.5, 3.5])

In [87]:
l[::-1]

[(100, 200, [1.5, 2.5, 3.5]), 3, 2, 1]

In [88]:
for item in l:
    print(item)

1
2
3
(100, 200, [1.5, 2.5, 3.5])

In [89]:
len(l)

4

In [90]:
# list are mutable
l=[1,2,3,4,5]

In [91]:
l[3]=400

In [92]:
l

[1, 2, 3, 400, 5]

In [93]:
l=[10,20,30,40,50]
for i in range(len(l)):
    l[i]=l[i]*1.5
print(l)

[15.0, 30.0, 45.0, 60.0, 75.0]

##### List Methods

In [94]:
# count()
l=[1,2,3,1,2,1,2,1,2,3,5,6,4,2,2,2,4,67]
l.count(2)

7

In [95]:
# index()
l.index(5)

10

In [97]:
# insert(index, value)
l=[1,2,3,4,5]
l.insert(2, 200)
l

[1, 2, 200, 3, 4, 5]

In [98]:
l[2]=20
l

[1, 2, 20, 3, 4, 5]

In [99]:
l.insert(100, 10)
l

[1, 2, 20, 3, 4, 5, 10]

In [102]:
l.insert(-10, 90)
l

[90, 1, 2, 20, 3, 4, 5, 30, 50, 10]

In [103]:
# append(val) - end of the list
l.append(500)
l

[90, 1, 2, 20, 3, 4, 5, 30, 50, 10, 500]

In [104]:
# remove(val)
l.remove(20)
l

[90, 1, 2, 3, 4, 5, 30, 50, 10, 500]

In [105]:
# pop(index)
l.pop(3)
l

[90, 1, 2, 4, 5, 30, 50, 10, 500]

In [106]:
l.pop()

500

In [107]:
# concatenation
l1=[1,2,3]
l2=[10,20,30]
l3=l1+l2
l3

[1, 2, 3, 10, 20, 30]

In [114]:
l=[1,2,4,5,6,2,1,3,5,2]
idx=l.index(2,2) # index(val, occurence)
l.pop(idx)
l

[1, 2, 4, 5, 6, 1, 3, 5, 2]

In [127]:
# sort()- sort the list making change to original list 
    # object
l=[26, 19, 20, 7, 11, 12, 30, 15, 3, 17, 21, 2, 10, 6, 5, 
  4, 18, 19, 21, 17, 9, 19, 18, 5, 20, 27, 16, 10, 23, 8, 
  8, 4, 18]

In [128]:
l.sort()

In [129]:
print(l)

[2, 3, 4, 4, 5, 5, 6, 7, 8, 8, 9, 10, 10, 11, 12, 15, 16, 17, 17, 18, 18, 18, 19, 19, 19, 20, 20, 21, 21, 23, 26, 27, 30]

In [130]:
# sorted()- inbuilt python function
# NOT a list function
# will not change original object

l=[26, 19, 20, 7, 11, 12, 30, 15, 3, 17, 21, 2, 10, 6, 5, 
  4, 18, 19, 21, 17, 9, 19, 18, 5, 20, 27, 16, 10, 23, 8, 
  8, 4, 18]

sorted(l)

[2,
 3,
 4,
 4,
 5,
 5,
 6,
 7,
 8,
 8,
 9,
 10,
 10,
 11,
 12,
 15,
 16,
 17,
 17,
 18,
 18,
 18,
 19,
 19,
 19,
 20,
 20,
 21,
 21,
 23,
 26,
 27,
 30]

In [131]:
l

[26,
 19,
 20,
 7,
 11,
 12,
 30,
 15,
 3,
 17,
 21,
 2,
 10,
 6,
 5,
 4,
 18,
 19,
 21,
 17,
 9,
 19,
 18,
 5,
 20,
 27,
 16,
 10,
 23,
 8,
 8,
 4,
 18]

In [132]:
# reverse()- list function to reverse a list object
# original object will change
l=[1,2,3,4,5,6,7,8,9]
l.reverse()
print(l)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [134]:
# reversed()- python inbuilt function
# NOT a list func
# will not change list, returns reversed form of values
l=[1,2,3,4,5,6,7,8,9]
list(reversed(l))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [135]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [137]:
# sort(reverse=True/False)
l=[1,9,4,7,2,1,4,8,7,56,32,16]
l.sort(reverse=True) # descending order
l

[56, 32, 16, 9, 8, 7, 7, 4, 4, 2, 1, 1]

In [138]:
l=[1,9,4,7,2,1,4,8,7,56,32,16]
sorted(l, reverse=True)

[56, 32, 16, 9, 8, 7, 7, 4, 4, 2, 1, 1]

In [139]:
# extend()
# extends a list by another list values
l=[1,2,3,4]
l2=['a','b','c']

l.extend(l2)
l

[1, 2, 3, 4, 'a', 'b', 'c']

In [140]:
# copy a list to another

In [141]:
l1=[1,2,3,4,5]

In [142]:
l2=l1

In [144]:
l2

[1, 2, 3, 4, 5]

In [145]:
l2[0]=100

In [146]:
l2

[100, 2, 3, 4, 5]

In [147]:
l1

[100, 2, 3, 4, 5]

In [155]:
# copy() - deep copy
l1=[1,2,3,4,5]
l2=l1.copy()
print(l1)
l2[0]=100
print(l1, l2, sep='\n')

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[100, 2, 3, 4, 5]

In [156]:
# clear()
l.clear()
l

[]

In [157]:
# del
del l

In [158]:
# Accept a integer from user N and create a list that has 
# cube of first N integers.
N=int(input('Enter number of terms: '))
li=[]
for i in range(1, N+1):
    li.append(i**3)
print(li)

Enter number of terms: 10
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [159]:
# list comprehension
N=int(input('Enter number of terms: '))
li=[x**3 for x in range(1,N+1)]
li

Enter number of terms: 10

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [160]:
# Write a function rotate_list(li, n) that rotates list 
# by "n" times. 
# Example: Input=>   [1,2,3,4,5,6,7,8]
# n=4      Output=> [5,6,7,8,1,2,3,4]

In [168]:
def rotate_list(li,n):
    n=n%len(li)
    for r in range(n):
        li.append(li.pop(0))
    return li

In [169]:
rotate_list([1,2,3,4,5,6,7,8], 415)

[8, 1, 2, 3, 4, 5, 6, 7]

In [170]:
def rotate_list(li,n):
    n=n%len(li)
    li=li[n:]+li[:n]
    return li

In [171]:
rotate_list([1,2,3,4,5,6,7,8], 415)

[8, 1, 2, 3, 4, 5, 6, 7]

In [178]:
# Write a program that accepts comma separated integers
# values from user and forms a list of those values
# to find sum, min, and max
# Example: Input=> 1,2,3,4,5,6,7

li=[int(x) for x in input().split(',')]

print(f'List: {li}')
print(f'Sum: {sum(li)}')
print(f'Max: {max(li)}')
print(f'Min: {min(li)}')

1,2,3,4,5,6,7,8,9
List: [1, 2, 3, 4, 5, 6, 7, 8, 9]
Sum: 45
Max: 9
Min: 1

In [181]:
# Write a python function alternate(s) that accepts a 
# string and converts it as follows:

# If string has EVEN length, then it should start with
# Upper case letter and print alternate character as
# upper case and remaining alternate as lower

# If string has ODD length, then it should start with
# Lower case letter and print alternate character as
# Lower case and remaining alternate as Upper

# Example: prateek => length=7 Output=> pRaTeEk
s=input()
if len(s)%2==0:
    for i in range(len(s)):
        if i%2==0:
            print(s[i].upper(), end='')
        else:
            print(s[i].lower(), end='')
else:
    for i in range(len(s)):
        if i%2==0:
            print(s[i].lower(), end='')
        else:
            print(s[i].upper(), end='')

shruti
ShRuTi

In [185]:
# using a list given below, find sum of all even numbers
# and odd numbers

li=[1,4,2,5,8,9,5,6,6,3,12,14,13,17,19,12]
sum_even=0
sum_odd=0
for num in li:
    if num%2==0:
        sum_even+=num
    else:
        sum_odd+=num
print(f'Even Sum: {sum_even}')
print(f'Odd Sum: {sum_odd}')

Even Sum: 64
Odd Sum: 72

In [186]:
sum_even=sum([x for x in li if x%2==0])
sum_odd=sum([x for x in li if x%2!=0])
print(f'Even Sum: {sum_even}')
print(f'Odd Sum: {sum_odd}')

Even Sum: 64
Odd Sum: 72

In [187]:
# Arrange the list vaues such that all even numbers
# will be arranged after all odd numbers
# maintaining the order of appearence in list
# Example: li=[1,10,3,12,5,6,7,8]
#    OUTPUT=> [1,3,5,7,10,12,6,8]
even=[]
odd=[]
li=[1,10,3,12,5,6,7,8]
for el in li:
    if el%2==0:
        even.append(el)
    else:
        odd.append(el)
print(f'List Updated: {odd+even}')

List Updated: [1, 3, 5, 7, 10, 12, 6, 8]

In [189]:
# write a program to find frequency of 
# each unique element in a list
li=[1,2,5,1,3,1,4,5,2,1,6,7,1]
check=[]
for num in li:
    if num not in check:
        print(f'{num} => {li.count(num)}')
        check.append(num)

1 => 5
2 => 2
5 => 2
3 => 1
4 => 1
6 => 1
7 => 1

In [191]:
# write a code to find distance of all numbers in a list
# from maximum value. Also find pair with maximum distance
# in these pairs.
li=[2,5,1,36,59,8,5,1,23]
mx=max(li)
md=-1
mdnode=0
for node in li:
    print(f'Distance {mx} - {node}: {mx-node}')
    if mx-node>md:
        md=mx-node
        mdnode=node
print(f'Max Distance Pair: {mx}-{mdnode}')
print(f'Max Distance: {md}')

Distance 59 - 2: 57
Distance 59 - 5: 54
Distance 59 - 1: 58
Distance 59 - 36: 23
Distance 59 - 59: 0
Distance 59 - 8: 51
Distance 59 - 5: 54
Distance 59 - 1: 58
Distance 59 - 23: 36
Max Distance Pair: 59-1
Max Distance: 58

In [193]:
# Write a python function code "alternating(li)" that
# checks if the list has alternating values or not.
# It returns True if vaues are alternating
# Else return False
#Example: Input=> alternating([1,4,2,7,3,5]) => True
#         Input=> alternating([1,6,3,2,5,9]) => False
#         Input=> alternating([1,3,2,2,5,1]) => False
#         Input=> alternating([9,5,7,8,2,4]) => False
def alternating(li):
    status=True
    for i in range(1, len(li)-1):
        if (li[i-1]>=li[i]>=li[i+1]) or (li[i-1]<=li[i]<=li[i+1]):
            status=False
            break
    return status

In [194]:
alternating([1,4,2,7,3,5])

True

In [195]:
alternating([1,6,3,2,5,9])

False

In [196]:
alternating([1,3,2,2,5,1])

False

In [197]:
alternating([9,5,7,8,2,4])

False