## Python Advance Day 2

In [1]:
! pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\pvashishtha\anaconda3\lib\site-packages (8.0.31)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\pvashishtha\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.1)

In [3]:
# 1. connect to Database
# 2. create a cursor
# 3. CRUD- create, read, update, delete
# 4. close the connection

In [4]:
import mysql.connector

In [5]:
host='localhost'
user='root'
password=''
database='hr'
port=3306

In [6]:
# connect to database
try:
    conn=mysql.connector.connect(host=host,
                                user=user,
                                password=password,
                                database=database,
                                port=port)
    print(conn)
except:
    print('Database not connected!')

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000224795E5F40>

In [7]:
# create cursor object
try:
    cur=conn.cursor()
    print(cur)
except:
    print('Cursor could not be created!')

CMySQLCursor: (Nothing executed yet)

In [8]:
# INSERT
sql='insert into employee values(104, "Srikant", "2023-03-07", "BHuvaneshwar", 22)'

cur.execute(sql)
conn.commit()

In [9]:
# INSSERT MANY RECORDS
sql='insert into employee values(%s, %s, %s, %s, %s)'
values=[
    (105, "Akshit", "2022-12-09", "Ajmer", 22),
    (106, "Drishti", "2023-01-03", "Delhi", 23),
    (107, "Sarfaraz", "2023-02-28", "Ghaziabad", 21)
]

cur.executemany(sql, values)
conn.commit()

In [10]:
# READ from DB
# read all records or multiple records at once
sql='select * from employee'
cur.execute(sql)

In [11]:
resultset=cur.fetchall()

In [12]:
for record in resultset:
    print('----------------------------------------')
    print(f'EID: {record[0]}\nName: {record[1]}')
    print(f'DOJ: {record[2]}\nCity: {record[3]}')
    print(f'Department ID: {record[4]}')
    print('----------------------------------------')

----------------------------------------
EID: 101
Name: Prateek
DOJ: 2022-07-11
City: Delhi
Department ID: 21
----------------------------------------
----------------------------------------
EID: 102
Name: Nandini
DOJ: 2023-03-01
City: Mumbai
Department ID: 23
----------------------------------------
----------------------------------------
EID: 104
Name: Srikant
DOJ: 2023-03-07
City: BHuvaneshw
Department ID: 22
----------------------------------------
----------------------------------------
EID: 105
Name: Akshit
DOJ: 2022-12-09
City: Ajmer
Department ID: 22
----------------------------------------
----------------------------------------
EID: 106
Name: Drishti
DOJ: 2023-01-03
City: Delhi
Department ID: 23
----------------------------------------
----------------------------------------
EID: 107
Name: Sarfaraz
DOJ: 2023-02-28
City: Ghaziabad
Department ID: 21
----------------------------------------

In [16]:
# read selective data from database - filtering
sql='select * from employee where city="Delhi"'
cur.execute(sql)
resultset=cur.fetchall()
for record in resultset:
    print('----------------------------------------')
    print(f'EID: {record[0]}\nName: {record[1]}')
    print(f'DOJ: {record[2]}\nCity: {record[3]}')
    print(f'Department ID: {record[4]}')
    print('----------------------------------------')

----------------------------------------
EID: 101
Name: Prateek
DOJ: 2022-07-11
City: Delhi
Department ID: 21
----------------------------------------
----------------------------------------
EID: 106
Name: Drishti
DOJ: 2023-01-03
City: Delhi
Department ID: 23
----------------------------------------

In [18]:
# read records after projection
sql='select eid, ename, deptid from employee where city="Delhi"'
cur.execute(sql)
resultset=cur.fetchall()
for record in resultset:
    print('----------------------------------------')
    print(f'EID: {record[0]}\nName: {record[1]}')
    print(f'Department ID: {record[2]}')
    print('----------------------------------------')

----------------------------------------
EID: 101
Name: Prateek
Department ID: 21
----------------------------------------
----------------------------------------
EID: 106
Name: Drishti
Department ID: 23
----------------------------------------

In [19]:
# READ one record at a time form cursor
sql='select eid, ename, deptid from employee where city="Delhi"'
cur.execute(sql)

In [22]:
record=cur.fetchone()
print('-------------------------')
print(f'EID: {record[0]}\nName: {record[1]}\nDept: {record[2]}')

-------------------------

TypeError: 'NoneType' object is not subscriptable

In [23]:
print(cur)

CMySQLCursor: select eid, ename, deptid from employee ..

In [24]:
# Read all data and Display data as Table
import pandas as pd
sql='select * from employee'
data=pd.read_sql(sql, conn)
data

C:\Users\pvashishtha\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

   eid     ename         doj        city  deptid
0  101   Prateek  2022-07-11       Delhi      21
1  102   Nandini  2023-03-01      Mumbai      23
2  104   Srikant  2023-03-07  BHuvaneshw      22
3  105    Akshit  2022-12-09       Ajmer      22
4  106   Drishti  2023-01-03       Delhi      23
5  107  Sarfaraz  2023-02-28   Ghaziabad      21

In [26]:
# UPDATE
sql='update employee set city="Bhuvaneshwar" where eid=104'
cur.execute(sql)
conn.commit()

In [27]:
# DELETE
sql='delete from employee where deptid=23'
cur.execute(sql)
conn.commit()

In [28]:
# ALTER
sql='alter table employee modify column eid int primary key'
cur.execute(sql)
conn.commit()

In [29]:
# UPDATE
sql='update employee set city="Hyd" where deptid=22'
cur.execute(sql)
conn.commit()
print(f'{cur.rowcount} records updated.')

2 records updated.

In [30]:
# DELETE
sql='delete from employee where deptid=22'
cur.execute(sql)
conn.commit()
print(f'{cur.rowcount} records deleted.')

2 records deleted.

In [31]:
# TRUNCATE
sql='truncate table employee'
try:
    cur.execute(sql)
    conn.commit()
except:
    print('Can not truncate table')
else:
    print('Table truncated successfully!')

Table truncated successfully!

In [32]:
# DROP
sql='drop table employee'
try:
    cur.execute(sql)
    conn.commit()
except:
    print('Can not drop table')
else:
    print('Table dropped successfully!')
finally:
    cur.close()
    conn.close()
    print('Connection and Cursor Closed...')

Table dropped successfully!
Connection and Cursor Closed...

#### Practice Question:

In [34]:
# Problem:
# create a class that will implement following methods to interact with
# employee database
# get_connection()
# get_emp_details_from_user()
# validate_details()
# insert_emp_data()
# update_emp_data()
# get_emp()
# get_all_emp()
# remove_emp()
# close_connection()

### create emp table for internal use:
### create table emp(eid int, name varchar(20), email varchar(20));

In [35]:
import mysql.connector
class Employee:
    def __init__(self, host, user, password, database, port):
        self.host=host
        self.user=user
        self.password=password
        self.database=database
        self.port=port
        return None
    def get_connection(self):
        self.conn=mysql.connector.connect(host=self.host,
                                         user=self.user,
                                         password=self.password,
                                         database=self.database,
                                         port=self.port)
        self.cur=self.conn.cursor()
        return None
    def get_details_from_user(self):
        self.eid=int(input('Enter ID: '))
        self.name=input('Enter Name: ')
        self.email=input('Enter Email: ')
        return None
    def validate_email(self):
        if self.email.count('@')==1:
            return True
        else:
            return False
    def insert_data(self):
        self.get_details_from_user()
        validation=self.validate_email()
        if validation:
            sql=f'insert into emp values({self.eid}, "{self.name}", "{self.email}")'
            self.cur.execute(sql)
            self.conn.commit()
            print(f'{self.cur.rowcount} record added.')
        else:
            print('Data Validation Failed!')
        return None
    def get_emp(self, eid):
        sql=f'select * from emp where eid={eid}'
        self.cur.execute(sql)
        rec=self.cur.fetchone()
        print(f'EID: {rec[0]}\nName: {rec[1]}\nEmail: {rec[2]}')
        return None
    def get_all_emp(self):
        sql=f'select * from emp'
        self.cur.execute(sql)
        result=self.cur.fetchall()
        for rec in result:
            print(f'EID: {rec[0]}\nName: {rec[1]}\nEmail: {rec[2]}')
        return None
    def update_email(self, eid, email):
        sql=f'update emp set email="{email}" where eid={eid}'
        self.cur.execute(sql)
        self.conn.commit()
        print(f'{self.cur.rowcount} records updated.')
        return None
    def remove_emp(self, eid):
        sql=f'delete from emp where eid={eid}'
        self.cur.execute(sql)
        self.conn.commit()
        print(f'{self.cur.rowcount} records deleted.')
        return None
    def close_connection(self):
        self.cur.close()
        self.conn.close()
        return None

In [36]:
e1=Employee('localhost', 'root', '', 'hr', 3306)

In [37]:
e1.get_connection()

In [41]:
e1.insert_data()

Enter ID: 103
Enter Name: Tejeshwai
Enter Email: tejeshwai@deloitte.com
1 record added.

In [42]:
e1.get_emp(102)

EID: 102
Name: Siddhath
Email: sid@deloitte.com

In [43]:
e1.get_all_emp()

EID: 101
Name: Prateek
Email: prateek@deloitte.com
EID: 102
Name: Siddhath
Email: sid@deloitte.com
EID: 103
Name: Tejeshwai
Email: tejeshwai@deloitte.c

In [44]:
e1.update_email(103, 'tej@deloitte.com')

1 records updated.

In [45]:
e1.get_emp(103)

EID: 103
Name: Tejeshwai
Email: tej@deloitte.com

In [46]:
e1.remove_emp(103)

1 records deleted.

In [47]:
e1.get_all_emp()

EID: 101
Name: Prateek
Email: prateek@deloitte.com
EID: 102
Name: Siddhath
Email: sid@deloitte.com

In [48]:
e1.close_connection()

### Python RegEx

In [50]:
# Regular Expressions - set of chars that represents a pattern in text

In [51]:
import re

In [52]:
print(dir(re))

['A', 'ASCII', 'DEBUG', 'DOTALL', 'I', 'IGNORECASE', 'L', 'LOCALE', 'M', 'MULTILINE', 'Match', 'Pattern', 'RegexFlag', 'S', 'Scanner', 'T', 'TEMPLATE', 'U', 'UNICODE', 'VERBOSE', 'X', '_MAXCACHE', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '__version__', '_cache', '_compile', '_compile_repl', '_expand', '_locale', '_pickle', '_special_chars_map', '_subx', 'compile', 'copyreg', 'enum', 'error', 'escape', 'findall', 'finditer', 'fullmatch', 'functools', 'match', 'purge', 'search', 'split', 'sre_compile', 'sre_parse', 'sub', 'subn', 'template']

### search()

In [55]:
s='deloitte.com'
# search the given pattern in text, returns match object
match=re.search(r'\.com', s)
print(match)

<re.Match object; span=(8, 12), match='.com'>

In [56]:
s=' for deloitte'
print(re.search(r'for', s))

<re.Match object; span=(1, 4), match='for'>

In [57]:
s='tell deloitte'
print(re.search(r'\bte', s))

<re.Match object; span=(0, 2), match='te'>

In [58]:
s='tell deloitte'
print(re.search(r'te\b', s))

<re.Match object; span=(11, 13), match='te'>

In [59]:
s='the rain and the wind'
print(re.search(r'\Athe', s))

<re.Match object; span=(0, 3), match='the'>

In [61]:
s='today is 18 april'
print(re.search(r'\d\d', s))

<re.Match object; span=(9, 11), match='18'>

In [63]:
s='today is 18 april'
print(re.search(r'\d+', s))

<re.Match object; span=(9, 11), match='18'>

In [64]:
s='today is 18 april'
print(re.search(r'\s', s))

<re.Match object; span=(5, 6), match=' '>

In [65]:
s='Alexa! Please recharge my mobile +91-9808766699'
print(re.search(r'\d{10}', s))

<re.Match object; span=(37, 47), match='9808766699'>

In [66]:
s='Alexa! Please recharge my mobile +91-9808766699'
print(re.search(r'\W', s))

<re.Match object; span=(5, 6), match='!'>

#### findall()

In [67]:
s='Alexa! Please recharge my mobile +91-9808766699'
print(re.findall(r'\W', s))

['!', ' ', ' ', ' ', ' ', ' ', '+', '-']

In [68]:
s='Alexa! Please recharge my mobile +91-9808766699'
print(re.findall(r'\d', s))

['9', '1', '9', '8', '0', '8', '7', '6', '6', '6', '9', '9']

In [69]:
s='Alexa! Please recharge my mobile +91-9808766699 and +91-8869088887'
print(re.findall(r'\d{10}', s))

['9808766699', '8869088887']

#### compile()

In [70]:
pattern=re.compile(r'\d{10}')

In [71]:
print(pattern.search('my number is 9808766699'))

<re.Match object; span=(13, 23), match='9808766699'>

In [72]:
print(pattern.findall('my numbers are 9808766699 and 8869088887'))

['9808766699', '8869088887']

In [73]:
text='''Hi!, how are you all? I am feeling good today.
Did you notice the pattern on the walls outside?'''
pattern=re.compile(r'\w+')

In [74]:
print(pattern.search(text))

<re.Match object; span=(0, 2), match='Hi'>

In [75]:
print(pattern.findall(text))

['Hi', 'how', 'are', 'you', 'all', 'I', 'am', 'feeling', 'good', 'today', 'Did', 'you', 'notice', 'the', 'pattern', 'on', 'the', 'walls', 'outside']

#### splir()

In [76]:
print(re.split(r'\s', 'hello, how are you? my rank is 90.'))

['hello,', 'how', 'are', 'you?', 'my', 'rank', 'is', '90.']

In [79]:
print(re.split(r'\W+', 'hello, how are you? my rank is 90.'))

['hello', 'how', 'are', 'you', 'my', 'rank', 'is', '90', '']

In [80]:
print(re.split(r'\.', '192.168.1.54'))

['192', '168', '1', '54']

In [81]:
print(re.split(r'@', 'prateek@deloitte.com'))

['prateek', 'deloitte.com']

#### sub()

In [82]:
# substitute the substring

In [83]:
s='I like to book Uber cabs. Uber is better.'
print(re.sub('UBER', 'Ola', s))

I like to book Uber cabs. Uber is better.

In [84]:
s='I like to book Uber cabs. Uber is better.'
print(re.sub('UBER', 'Ola', s, flags=re.IGNORECASE))

I like to book Ola cabs. Ola is better.

In [85]:
s='I like to book Uber cabs. Uber is better.'
print(re.sub('UBER', 'Ola', s, flags=re.IGNORECASE, count=1))

I like to book Ola cabs. Uber is better.

### pattern based search

In [86]:
s='I am not available from 27 April'
pattern='(\d+) ([A-Za-z]+)'
match=re.search(pattern, s)
print(match)

<re.Match object; span=(24, 32), match='27 April'>

In [87]:
print(match.start(), match.end(), sep=' to ')

24 to 32

In [89]:
for indx in range(match.start(), match.end()):
    print(s[indx], sep='', end='')

27 April

In [90]:
match.group(0)

'27 April'

In [91]:
match.group(1)

'27'

In [92]:
match.group(2)

'April'

### Examples:

In [96]:
#  find email id from str and extract it.

string='my email id is prateek_9090@deloitte.com. you can send me details here.'

In [97]:
pattern=r'([A-Za-z\_0-9]+)(@deloitte.com)'

In [98]:
print(re.search(pattern, string))

<re.Match object; span=(15, 40), match='prateek_9090@deloitte.com'>

In [99]:
print(re.search(pattern, string).group(0))

prateek_9090@deloitte.com

In [100]:
# write a function code that returns number of blank spaces, 
# special characters and words in a long text

In [104]:
def counter(s):
    pattern_spaces=r'\s+'
    pattern_spcl_chars=r'\W'
    pattern_words=r'\w+'
        
    space_count=len(re.findall(pattern_spaces, s))
    spcl_chars_count=len(re.findall(pattern_spcl_chars, s))-space_count
    word_count=len(re.findall(pattern_words, s))
    
    return space_count, spcl_chars_count, word_count

counter('hello, I am good! How about you?')

(6, 3, 7)

In [102]:
# sample output=> (6, 3, 7)