In [1]:
! pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [5]:
! pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.31-cp39-cp39-win_amd64.whl (7.9 MB)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\pvashishtha\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.1)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.31

In [18]:
import mysql.connector
host='localhost'
port=3306
user='root'
password=''
database='try'
conn=mysql.connector.connect(host=host, user=user, password=password, database=database)
print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000014C9D7EE4C0>

In [19]:
import pymysql
host='localhost'
port=3306
user='root'
password=''
database='try'
conn=pymysql.connect(host=host, user=user, password=password, database=database)
print(conn)

<pymysql.connections.Connection object at 0x0000014C9D6DF730>

In [20]:
cur=conn.cursor()

In [21]:
cur.execute('insert into student values(101, "Prateek","Meerut")')

1

In [23]:
conn.commit()

In [27]:
sql='insert into student values(%s, %s, %s)'
val=[
    (102, "Aditi", "Meerut"),
    (103, "Saksham", "Delhi"),
    (104, "Dolly", "Gurugram")
]
cur.executemany(sql, val)
conn.commit()

In [28]:
cur.execute('select * from student')
result=cur.fetchall()
for row in result:
    print(row)

(101, 'Prateek', 'Meerut')
(102, 'Aditi', 'Meerut')
(103, 'Saksham', 'Delhi')
(104, 'Dolly', 'Gurugram')

In [30]:
cur.rowcount

4