## Python Advance Day 2

#### OOP Examples

In [26]:
class Employee:
    fullname=None
    department=None
    eid=None
    designation=None
    leave=None
    date=None
    
    def __init__(self, fullname, dept, eid, dsg):
        self.fullname=fullname
        self.department=dept
        self.eid=eid
        self.designation=dsg
        self.leave=0
        self.date=''
        return None
    def show_basic_info(self):
        data=f'''
        Emp ID: {self.eid}
        Full Name: {self.fullname}
        Department: {self.department}
        Designation: {self.designation}
        PL/CL: {self.leave}
        Next PL/CL Date={self.date}'''
        print(data)
    def apply_leave(self):
        self.date=input()
        print('Leave Applied for: ', self.date)
        
class Manager(Employee):
    team_size=None
    project_title=None
    def __init__(self, fname, dept, eid, dsg, ts, pt):
        Employee.__init__(self, fname, dept, eid, dsg)
        self.team_size=ts
        self.project_title=pt
        return None
    def show_basic_info(self):
        Employee.show_basic_info(self)
        data=f'''
        Team Size: {self.team_size}
        Project: {self.project_title}'''
        print(data)
    def approve_leave(self, obj):
        obj.leave+=1

In [37]:
emp=Employee('Prateek V', 'DTA', 1022, 'Trainee')
emp.show_basic_info()

        Emp ID: 1022
        Full Name: Prateek V
        Department: DTA
        Designation: Trainee
        PL/CL: 0
        Next PL/CL Date=

In [38]:
mgr=Manager('Sachin','Tax',1034,'Exec Manager', 12, 'ABC Corp.')

In [39]:
mgr.show_basic_info()

        Emp ID: 1034
        Full Name: Sachin
        Department: Tax
        Designation: Exec Manager
        PL/CL: 0
        Next PL/CL Date=

        Team Size: 12
        Project: ABC Corp.

In [40]:
emp.apply_leave()

10-Oct-23
Leave Applied for:  10-Oct-23

In [42]:
mgr.approve_leave(emp)

In [43]:
emp.show_basic_info()

        Emp ID: 1022
        Full Name: Prateek V
        Department: DTA
        Designation: Trainee
        PL/CL: 1
        Next PL/CL Date=10-Oct-23

In [44]:
emp.apply_leave()

10-Nov-23
Leave Applied for:  10-Nov-23

In [46]:
mgr.approve_leave(emp)

In [47]:
emp.show_basic_info()

        Emp ID: 1022
        Full Name: Prateek V
        Department: DTA
        Designation: Trainee
        PL/CL: 2
        Next PL/CL Date=10-Nov-23

#### Access Modifiers

In [49]:
# Public Member- Accesible anywhere by object and inheritance
# Protected Member- Accesibleby object and only in inherited class
# Private Member- Not accesible outside class by object or inheritance

In [61]:
# public members
class Parent:
    var1=None
    def __init__(self, var1):
        self.var1=var1
    def show(self):
        print(f'Var1: {self.var1}')
        
class Child(Parent):
    def __init__(self, var1):
        Parent.__init__(self, var1)
    def show_here(self):
        self.var1+=20
        Parent.show(self)

In [62]:
p=Parent(100)

In [63]:
p.var1

100

In [64]:
p.show()

Var1: 100

In [65]:
c=Child(200)

In [66]:
c.var1

200

In [67]:
c.show()

Var1: 200

In [70]:
c.show_here()

Var1: 260

In [71]:
# Protected members- Name starts with '_' (underscore) symbol
class Parent:
    _var1=None
    def __init__(self, var1):
        self._var1=var1
    def _show(self):
        print(f'Var1: {self._var1}')
        
class Child(Parent):
    def __init__(self, var1):
        Parent.__init__(self, var1)
    def show_here(self):
        self._var1+=20
        Parent._show(self)

In [72]:
p=Parent(50)
p._var1

50

In [73]:
p._show()

Var1: 50

In [74]:
c=Child(80)
c._var1

80

In [75]:
c._show()

Var1: 80

In [76]:
c.show_here()

Var1: 100

In [93]:
# Private members- not be called outside, nor inherited
# Use '__' (double underscore)
    
class Parent:
    __var1=None
    def __init__(self, var1):
        self.__var1=var1
    def __show(self):
        print(f'Var1: {self.__var1}')
    def access_member(self):
        self.__show()
        
class Child(Parent):
    def __init__(self, var1):
        Parent.__init__(self, var1)
    def show_here(self):
        self.__var1+=20
        Parent.__show(self)

In [94]:
p=Parent(400)
p.__var1

AttributeError: 'Parent' object has no attribute '__var1'

In [95]:
p.__show()

AttributeError: 'Parent' object has no attribute '__show'

In [96]:
c=Child(500)
c.__var1

AttributeError: 'Child' object has no attribute '__var1'

In [97]:
c.__show()

AttributeError: 'Child' object has no attribute '__show'

In [98]:
c.show_here()

AttributeError: 'Child' object has no attribute '_Child__var1'

In [99]:
p.access_member()

Var1: 400

### Working with MySQL Database

In [101]:
! pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\pvashishtha\anaconda3\lib\site-packages (8.0.31)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\pvashishtha\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.1)

In [102]:
import mysql.connector

In [103]:
# create connection parameters
host='localhost'
user='root'
password=''
port=3390
database='employee'

In [104]:
# establish connection
try:
    conn=mysql.connector.connect(host=host,
                                user=user,
                                password=password,
                                port=port,
                                database=database)
    print(conn)
except:
    print('Connection could not be created!')

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001A9A9E00940>

In [105]:
# create a Cursor object
try:
    cur=conn.cursor()
    print(cur)
except:
    print('Cursor not created')

CMySQLCursor: (Nothing executed yet)

In [106]:
# READING DATABASE
sql='select * from emp where eid=101'
cur.execute(sql)

In [108]:
result=cur.fetchone()

In [109]:
print(result)

(101, 'Prateek', 'Vashishtha', 'Meerut', 90, 24000.0, datetime.date(2022, 7, 11))

In [110]:
print('====================')
print(f'EID: {result[0]}')
print(f'FIRST NAME: {result[1]}')
print(f'LAST NAME: {result[2]}')
print(f'CITY: {result[3]}')
print(f'DEPT: {result[4]}')
print(f'SALARY: {result[5]}')
print(f'DOJ: {result[6]}')
print('====================')

====================
EID: 101
FIRST NAME: Prateek
LAST NAME: Vashishtha
CITY: Meerut
DEPT: 90
SALARY: 24000.0
DOJ: 2022-07-11
====================

In [111]:
# READING MULTIPLE RECORDS
sql='select * from emp'
cur.execute(sql)

In [118]:
result=cur.fetchone()

In [119]:
print('====================')
print(f'EID: {result[0]}')
print(f'FIRST NAME: {result[1]}')
print(f'LAST NAME: {result[2]}')
print(f'CITY: {result[3]}')
print(f'DEPT: {result[4]}')
print(f'SALARY: {result[5]}')
print(f'DOJ: {result[6]}')
print('====================')

====================

TypeError: 'NoneType' object is not subscriptable

In [120]:
# FETCHING ALL DATA AT ONCE
sql='select * from emp'
cur.execute(sql)
result=cur.fetchall()

In [121]:
result

[(101,
  'Prateek',
  'Vashishtha',
  'Meerut',
  90,
  24000.0,
  datetime.date(2022, 7, 11)),
 (102, 'Simant', 'Setu', 'Ranchi', 90, 25000.0, datetime.date(2022, 9, 25)),
 (103, 'Amit', 'Kumar', 'Mumbai', 93, 12000.0, datetime.date(2023, 1, 15))]

In [122]:
for record in result:
    print('====================')
    print(f'EID: {record[0]}')
    print(f'FIRST NAME: {record[1]}')
    print(f'LAST NAME: {record[2]}')
    print(f'CITY: {record[3]}')
    print(f'DEPT: {record[4]}')
    print(f'SALARY: {record[5]}')
    print(f'DOJ: {record[6]}')
    print('====================')

====================
EID: 101
FIRST NAME: Prateek
LAST NAME: Vashishtha
CITY: Meerut
DEPT: 90
SALARY: 24000.0
DOJ: 2022-07-11
====================
====================
EID: 102
FIRST NAME: Simant
LAST NAME: Setu
CITY: Ranchi
DEPT: 90
SALARY: 25000.0
DOJ: 2022-09-25
====================
====================
EID: 103
FIRST NAME: Amit
LAST NAME: Kumar
CITY: Mumbai
DEPT: 93
SALARY: 12000.0
DOJ: 2023-01-15
====================

In [123]:
# INSERT INTO DATABASE
sql='insert into emp values(104, "Sachin", "Goyal", "Jaipur", 95, 18000, "2023-09-10")'
cur.execute(sql)

In [125]:
conn.commit()

In [127]:
eid=int(input('enter EID: '))
fname=input('enter Fname: ')
lname=input('enter Lname: ')
city=input('enter City: ')
dept=int(input('enter Dept: '))
sal=float(input('enter Salary: '))
doj=input('enter DOJ: ')

enter EID: 107
enter Fname: Aditi
enter Lname: Agarwal
enter City: Raipur
enter Dept: 94
enter Salary: 19000
enter DOJ: 2023-09-16

In [129]:
sql=f'insert into emp values({eid}, "{fname}", "{lname}", "{city}", {dept}, {sal}, "{doj}")'
cur.execute(sql)
conn.commit()

In [132]:
# INSERT MULTIPLE RECORDS
sql=f'insert into emp values(%s,%s,%s,%s,%s,%s,%s)'
data=[
    (108, "Arun", "Kumar", "Aluva", 90, 20000, "2023-08-18"),
    (109, "Harshit", "Tyagi", "Ghaziabad", 92, 19000, "2023-08-23"),
    (110, "Krati", "Verma", "Badaun", 91, 23000, "2022-12-30")
]

In [133]:
cur.executemany(sql, data)
conn.commit()

In [135]:
# update the city for EID=101 to Bengaluru
sql='update emp set city="Bengaluru" where eid=101'
cur.execute(sql)
conn.commit()

In [136]:
# Allowing 15% increment to all, update all salaries
sql='update emp set salary=salary*1.15'
cur.execute(sql)
conn.commit()

In [137]:
# Delete the record(s) which have salary less than 15000
sql='delete from emp where salary<15000'
cur.execute(sql)
conn.commit()

In [138]:
cur.close()
conn.close()

In [ ]:
# Write an object oriented code to perform databaseoperations for Employee
# Create a class Employee, work with emp database to perform
# 1. Create new employee data
# 2. Update employee details like city, department, etc
# 3. Delete any employee data
# 4. Show specific employee data
# 5. Show all employee report
# 6. Also, validate data before entering into database

In [160]:
class Employee:
    def __init__(self, host, user, password, port, database):
        import mysql.connector
        self.host=host
        self.user=user
        self.password=password
        self.port=port
        self.database=database
    def get_connection(self):
        try:
            self.conn=mysql.connector.connect(host=self.host,
                                             user=self.user,
                                             password=self.password,
                                             port=self.port,
                                             database=self.database)
            self.cur=self.conn.cursor()
        except:
            print('Some error creating connection or cursor')
            self.conn=None
            self.cur=None
    def validate_dept(self,dept):
        if 90<=dept<=99:
            return True
        return False
    def create_user(self, eid, fname, lname, city, dept, sal, doj):
        sql=f'insert into emp values({eid},"{fname}","{lname}","{city}",{dept},{sal},"{doj}")'
        if self.validate_dept(dept):
            self.cur.execute(sql)
            self.conn.commit()
        else:
            print('Department not allowed!')
        print(f'{self.cur.rowcount} row(s) inserted!')
    def delete_user(self, eid):
        sql=f'delete from emp where eid={eid}'
        self.cur.execute(sql)
        self.conn.commit()
        print(f'{self.cur.rowcount} row(s) deleted!')
    def update_user_city(self, eid, city):
        sql=f'update emp set city="{city}" where eid={eid}'
        self.cur.execute(sql)
        self.conn.commit()
        print(f'{self.cur.rowcount} row(s) updated!')
    def show(self,result):
        print(f'EID: {result[0]}')
        print(f'FIRST NAME: {result[1]}')
        print(f'LAST NAME: {result[2]}')
        print(f'CITY: {result[3]}')
        print(f'DEPT: {result[4]}')
        print(f'SALARY: {result[5]}')
        print(f'DOJ: {result[6]}')
        print('====================')
    def show_user(self, eid):
        sql=f'select * from emp where eid={eid}'
        self.cur.execute(sql)
        result=self.cur.fetchone()
        self.show(result)
    def show_all_users(self):
        sql=f'select * from emp'
        self.cur.execute(sql)
        result=self.cur.fetchall()
        for row in result:
            self.show(row)
    def close_connection(self):
        self.cur.close()
        self.conn.close()
        return True
    def __del__(self):
        return 'Object Deleted!'

In [162]:
obj=Employee('localhost','root','',3390,'employee')

In [163]:
obj.get_connection()

In [164]:
obj.create_user(111, 'Sumit','Agarwal','Delhi',99,28000,'2023-09-11')

1 row(s) inserted!

In [165]:
obj.update_user_city(102, 'Mumbai')

0 row(s) updated!

In [166]:
obj.delete_user(102)

0 row(s) deleted!

In [167]:
obj.show_user(101)

EID: 101
FIRST NAME: Prateek
LAST NAME: Vashishtha
CITY: Bengaluru
DEPT: 90
SALARY: 27600.0
DOJ: 2022-07-11
====================

In [168]:
obj.show_all_users()

EID: 101
FIRST NAME: Prateek
LAST NAME: Vashishtha
CITY: Bengaluru
DEPT: 90
SALARY: 27600.0
DOJ: 2022-07-11
====================
EID: 104
FIRST NAME: Sachin
LAST NAME: Goyal
CITY: Jaipur
DEPT: 95
SALARY: 20700.0
DOJ: 2023-09-10
====================
EID: 107
FIRST NAME: Aditi
LAST NAME: Agarwal
CITY: Raipur
DEPT: 94
SALARY: 21850.0
DOJ: 2023-09-16
====================
EID: 108
FIRST NAME: Arun
LAST NAME: Kumar
CITY: Aluva
DEPT: 90
SALARY: 23000.0
DOJ: 2023-08-18
====================
EID: 109
FIRST NAME: Harshit
LAST NAME: Tyagi
CITY: Ghaziabad
DEPT: 92
SALARY: 21850.0
DOJ: 2023-08-23
====================
EID: 110
FIRST NAME: Krati
LAST NAME: Verma
CITY: Badaun
DEPT: 91
SALARY: 26450.0
DOJ: 2022-12-30
====================
EID: 111
FIRST NAME: Sumit
LAST NAME: Agarwal
CITY: Delhi
DEPT: 99
SALARY: 28000.0
DOJ: 2023-09-11
====================
EID: 111
FIRST NAME: Sumit
LAST NAME: Agarwal
CITY: Delhi
DEPT: 99
SALARY: 28000.0
DOJ: 2023-09-11
====================

In [169]:
obj.close_connection()

True

In [170]:
del obj

#### RegEx

In [172]:
import re

In [173]:
print(dir(re))

['A', 'ASCII', 'DEBUG', 'DOTALL', 'I', 'IGNORECASE', 'L', 'LOCALE', 'M', 'MULTILINE', 'Match', 'Pattern', 'RegexFlag', 'S', 'Scanner', 'T', 'TEMPLATE', 'U', 'UNICODE', 'VERBOSE', 'X', '_MAXCACHE', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '__version__', '_cache', '_compile', '_compile_repl', '_expand', '_locale', '_pickle', '_special_chars_map', '_subx', 'compile', 'copyreg', 'enum', 'error', 'escape', 'findall', 'finditer', 'fullmatch', 'functools', 'match', 'purge', 'search', 'split', 'sre_compile', 'sre_parse', 'sub', 'subn', 'template']

#### Search()

In [174]:
# re.search(pattern, string)- returns match object

In [179]:
s='deloitte.com'
match=re.search('\.', s)
print(match)

<re.Match object; span=(8, 9), match='.'>

In [180]:
s='tell deloitte'
match=re.search(r'^te', s)
print(match)

<re.Match object; span=(0, 2), match='te'>

In [181]:
s='tell deloitte'
match=re.search(r'te$', s)
print(match)

<re.Match object; span=(11, 13), match='te'>

In [185]:
s='deloitte"s project 120 is awesome'
match=re.search('\d{3}', s)
print(match)

<re.Match object; span=(19, 22), match='120'>

In [190]:
s='my mobile number is +91-9837777890'
print(re.search('\d{10}',s))

<re.Match object; span=(24, 34), match='9837777890'>

In [194]:
s='my mobile number is +91-9837777890'
print(re.search('\d+$',s))

<re.Match object; span=(24, 34), match='9837777890'>

#### findall()

In [197]:
s='I have two mobiles, +91-9808799900 and +91-98377725678'
print(re.findall(r'\d{10}', s))

['9808799900', '9837772567']

In [200]:
s='Alexa! kindly recharge my mobile +91-9808766699'
print(re.findall(r'\d{10}', s))

['9808766699']

In [201]:
s='Alexa! kindly recharge my mobile +91-9808766699'
print(re.findall(r'\d', s))

['9', '1', '9', '8', '0', '8', '7', '6', '6', '6', '9', '9']

In [202]:
s='Alexa! kindly recharge my mobile +91-9808766699'
print(re.findall(r'\w', s))

['A', 'l', 'e', 'x', 'a', 'k', 'i', 'n', 'd', 'l', 'y', 'r', 'e', 'c', 'h', 'a', 'r', 'g', 'e', 'm', 'y', 'm', 'o', 'b', 'i', 'l', 'e', '9', '1', '9', '8', '0', '8', '7', '6', '6', '6', '9', '9']

In [204]:
s='Alexa! kindly recharge my mobile +91-9808766699'
print(re.findall(r'\w+', s))

['Alexa', 'kindly', 'recharge', 'my', 'mobile', '91', '9808766699']

In [205]:
s='Alexa! kindly recharge my mobile +91-9808766699'
print(re.findall(r'\W', s))

['!', ' ', ' ', ' ', ' ', ' ', '+', '-']

In [206]:
s='Alexa! kindly recharge my mobile +91-9808766699'
print(re.findall(r'\s', s))

[' ', ' ', ' ', ' ', ' ']

In [207]:
s='Alexa! kindly recharge my mobile +91-9808766699'
print(re.findall(r'\S', s))

['A', 'l', 'e', 'x', 'a', '!', 'k', 'i', 'n', 'd', 'l', 'y', 'r', 'e', 'c', 'h', 'a', 'r', 'g', 'e', 'm', 'y', 'm', 'o', 'b', 'i', 'l', 'e', '+', '9', '1', '-', '9', '8', '0', '8', '7', '6', '6', '6', '9', '9']

In [208]:
s='Alexa! kindly recharge my mobile +91-9808766699'
print(re.findall(r'\S+', s))

['Alexa!', 'kindly', 'recharge', 'my', 'mobile', '+91-9808766699']

#### Compile()

In [209]:
pattern=re.compile(r'\d{10}')

In [210]:
re.search(pattern, 'my mobile 9808777788')
re.search(pattern, 'my mobile 9887687123')
re.search(pattern, 'my mobile 2974839830')

In [212]:
re.findall(pattern, '123456789000 and 9876543210 are numbers')

['1234567890', '9876543210']

In [222]:
# For a given string, find number of words, blank spaces and 
# special characters
s='''I am good. how are you? do you know what is date today?
I'm sure you know that date is 27.'''

words=len(re.findall(r'\S+',s))
spaces=len(re.findall(r'\s',s))
spchars=len(re.findall(r'\W',s))-spaces

print(f'Words:{words}\nSpaces:{spaces}\nSp. Chars:{spchars}')

Words:21
Spaces:20
Sp. Chars:5

#### Split()

In [224]:
re.split(r'\W+','hello, how are you?')

['hello', 'how', 'are', 'you', '']

In [225]:
re.split(r'\s+','hello, how are you?')

['hello,', 'how', 'are', 'you?']

In [226]:
re.split(r'\.','192.168.19.56')

['192', '168', '19', '56']

#### Sub()

In [227]:
# sub(old_substr, new_substr, string, options)
# substite old substr with new substr within string

In [228]:
s='I like to ride Uber cabs, Uber is better.'

In [231]:
print(re.sub('uber', 'ola', s))

I like to ride Uber cabs, Uber is better.

In [232]:
print(re.sub('uber', 'ola', s, flags=re.IGNORECASE))

I like to ride ola cabs, ola is better.

In [233]:
print(re.sub('uber', 'ola', s, flags=re.IGNORECASE, count=1))

I like to ride ola cabs, Uber is better.

In [234]:
# searching through a match object

In [235]:
s='I am not available on 19 November'

In [236]:
pattern=re.compile(r'(\d{2})(\s)([A-Za-z]+)')
match=re.search(pattern, s)

In [237]:
print(match)

<re.Match object; span=(22, 33), match='19 November'>

In [238]:
print(match.start(), match.end(), sep=' to ')

22 to 33

In [240]:
s[match.start(): match.end()]

'19 November'

In [241]:
print(match.group(0))

19 November

In [242]:
print(match.group(1))

19

In [243]:
print(match.group(2))

In [246]:
print(match.group(3))

November

In [289]:
# find the email id & extract from the statement string.

s='my email id is prateek_9090@deloitte.com you can text me details here.'

In [290]:
print(re.search(r'(\w+)(@)([A-Za-z]+)(\.)(\w{2,3})\s',s))

<re.Match object; span=(15, 41), match='prateek_9090@deloitte.com '>

#### utility modules

In [291]:
from datetime import date

In [294]:
dt=date.today()
print(f'year: {dt.year}')
print(f'month: {dt.month}')
print(f'day: {dt.day}')

year: 2023
month: 10
day: 3

In [295]:
from datetime import datetime

In [297]:
datetime.now()

datetime.datetime(2023, 10, 3, 18, 4, 30, 960032)

In [298]:
dt=datetime.now()
print(f'year: {dt.year}')
print(f'month: {dt.month}')
print(f'day: {dt.day}')
print(f'hour: {dt.hour}')
print(f'minute: {dt.minute}')
print(f'second: {dt.second}')

year: 2023
month: 10
day: 3
hour: 18
minute: 5
second: 34

In [299]:
ts=datetime.now().timestamp()
ts

1696336565.588229

In [300]:
from datetime import time

In [301]:
time()

datetime.time(0, 0)

In [302]:
time(18,30,0)

datetime.time(18, 30)

In [303]:
dt=datetime(2001,11,19,1,15,4)

In [304]:
dt.timestamp()

1006112704.0

In [305]:
# find age of person by dob
day=int(input('Enter Birth Day: '))
month=int(input('Enter Birth Month: '))
year=int(input('Enter Birth Year: '))

dt1=datetime(year=year, month=month, day=day)
dt2=datetime.today()

Enter Birth Day: 19
Enter Birth Month: 11
Enter Birth Year: 2001

In [307]:
dt=dt2-dt1
dt

datetime.timedelta(days=7988, seconds=65685, microseconds=376923)

In [309]:
dt.days/365

21.884931506849316

In [317]:
dt1=datetime(year=1971, month=1, day=1)
dt2=datetime(year=1970, month=1, day=2)
dt2-dt1

datetime.timedelta(days=-364)

In [318]:
dt1.timestamp()

31516200.0

In [325]:
365*24*60*60*53+280*60*60

1672416000

In [323]:
datetime.now().timestamp()

1696337449.679775