#### Python Basics- Hello World
<i> hello world is always the first program

In [1]:
print("Hello World")

Hello World

#### print() function

In [2]:
# print() functionality
# print("value/text", "val/text", end='\n', sep=' ', 
#                      file=file, flush=True|False)

In [5]:
print('prateek', "vashishtha", 90, 3.14)
print('second line text')

prateek vashishtha 90 3.14
second line text

In [8]:
print('prateek', "vashishtha", 90, 3.14, sep='\n', end='@')
print('second line text')

prateek
vashishtha
90
3.14@second line text

#### input() function

In [10]:
# input() returns string

input('Enter a number: ')

Enter a number: 789

'789'

#### variables

In [11]:
# variables

a=10

In [13]:
print(a)

10

In [14]:
## naming convention

# start with letter
# can have numbers after letters
# it can have underscore symbol

first_name='Prateek'

In [15]:
first-name='Prateek'

SyntaxError: cannot assign to operator (3922294228.py, line 1)

In [16]:
a,b,c=10,20,30
print(a,b,c)

10 20 30

In [19]:
a=10
b=300
a,b=b,a #swapping values
print(a,b)

300 10

#### type()

In [21]:
a=30
b='prateek'
c=45.89

print(type(a), type(b), type(c))

<class 'int'> <class 'str'> <class 'float'>

### id()

In [29]:
a=100
id(a)

1992590185936

In [30]:
b=300
id(b)

1992698852720

In [31]:
a=300
id(a)

1992698852400

### chr() and ord()

In [32]:
chr(65)

'A'

In [33]:
chr(97)

'a'

In [34]:
ord('A')

65

In [36]:
ord(' ')

32

In [37]:
number=22/7
print(number)

3.142857142857143

In [1]:
num=910**785
print(num)

7038708375013531964052379338051128083487074598408887865067002435963413067838177122971015825196473604725606307357462662730433472370405501752513125266080075657079365211572263205555127585890851402662745374346917227774877294857421144901410498718657031334578267379644740317121851336551582892405673017011896605854837582695096512716132573302256164074280293573615524584129062173456873505823463483983210519134593060804942484888038106750999132937788681723189210078249507404907035398426625594806047270533505184788025781898964920059308435430820498581968862555998151128840578703674573462401389191268589251164795421565905053464598199779529417691012411064395868254328425731872736988966495506999029708631149825117648685338026674395993657543774785364944029155941442094276683702498806038736449604513547976865132832232891003424396286755036889786288804652712678779722237887392357114383764242438387525825317626307042365626036367396731647306878362014973744359464817342332639512255580305459428340688208957524656278457035295210478528887982798494964409846047090851986595618468180902685367786706550343477542197210087854944895108191856149454370182708685676551055788740819413827718308467693559220735007693872478874147982411274775089819254820016323395196894585206250283491067546020139266752176687858309028799437398538897612455413143427152628973268566543184945505328482172206235370813499851690776839403175640610584651208822658786264049621997192686168635058351724316091005170228569332629592825371117472182508905075476318805497058256151276689178402043685152806122068265100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [10]:
# input() function return value

x=input('Enter a number: ')
print(x)

Enter a number: 678
678

In [11]:
type(x)

str

## Type Conversion

In [12]:
# int to str
# str to int
print(x)
print(type(x))
x=int(x) # explicit conversion
print(type(x))

678
<class 'str'>
<class 'int'>

In [13]:
a=3.45
a=str(a)
print(type(a))

<class 'str'>

In [15]:
# str to float
a
temp=float(a)
temp

3.45

In [16]:
num=int(input('Enter Number: '))
type(num)

Enter Number: 789

int

### Strings

In [17]:
# 1. single quoted
# 2. double quoted
# 3. triple quoted by using any of single or double quote symbols

In [18]:
s='this is singkle quoted string'

In [19]:
s="this is double quoted string"

In [20]:
s='''this is triple quoted string.
this allows multiple lines of text
if you don\'t believe try it yourself!'''

In [21]:
s="""this is also triple quoted.
multi line text
same as above in single quotes"""

### Basic Mathematical Operators

In [24]:
# addition +
# substraction -
# division /
# multiplication *
# integer division //
# exponent **

a=100
b=300

print('a+b= ',a+b)
print('a-b= ',a-b)
print('a/b=',a/b)
print('a*b= ',a*b)
print('b//a= ',b//a)
print('b**3= ',b**3)

a+b=  400
a-b=  -200
a/b= 0.3333333333333333
a*b=  30000
b//a=  3
b**3=  27000000

In [26]:
# integer division

print(45//4)

11

In [27]:
# exponential **

print(9**4)

6561

In [37]:
# Modulus operator %

print(63%10)

3

In [39]:
# complex number

print((45+6j)+(8+9j))

(53+15j)

#### Write a code to extract digits of a number like 45678

In [42]:
x=45678

print(x%10, end='')
x=x//10
print(x%10, end='')
x=x//10
print(x%10, end='')
x=x//10
print(x%10, end='')
x=x//10
print(x%10, end='')

87654

### Comparison Operator

In [28]:
# <, >, <=, >=, !=, ==
# True | False

print(10<20)

True

In [30]:
print(10==15)

False

### Bitwise Operators

In [32]:
# &- bitwise AND, |- bitwise OR,

print(True | True)
print(True & False)

True
False

In [33]:
print((10<20)&(20<30))

True

In [35]:
print((10<20)|(120<30))

True

### Logical Operators

In [36]:
# AND, OR, NOT

x=100
print((x<1000) and (x==100))

True

### Other Operators

In [44]:
# MEMBERSHIP OPERATOR - "in" and "not in"

# IDENTITY OPERATORS - "is" and "is not"

### Assignment Operators

In [46]:
x=10

x+=10
print(x)
x-=5
print(x)
x/=2
print(x)
x*=5
print(x)
x%=3
print(x)
x**=4
print(x)

20
15
7.5
37.5
1.5
5.0625

##### Shifting bitwise

In [47]:
x=8

# 0000 1000 << 2

# 0010 0000 = 32

print(x<<2)

32

In [48]:
print(x>>1)

4

In [49]:
# 23+16/4-3*5**2
print(23+16/4-3*5**2)

# 23+16/4-3*25
# 23+4-75
# 27-75
# -48

-48.0

In [52]:
print(23+16/(4-3)*5**2)

423.0

### Flow Control

#### Conditional Control using if-else

In [58]:
x=5

if x>10: # header
    print('inside if block') #indentation provided
    print('more than 10')
print('outside if block')

outside if block

In [59]:
# if-else

x=5

if x>5:
    print('inside if block')
    print('x is more than 5')
else:
    print('inside else block')
    print('x is not more than 5')
print('outise if-else blocks')

inside else block
x is not more than 5
outise if-else blocks

In [61]:
# find largest number from 2 numbers
x=100
y=200

if x>y:
    print('x is larger')
else:
    print('y is larger')

y is larger

In [62]:
# find largest number from given 3 numbers

a=20
b=5
c=30

# nested if-else
if a>b:
    if a>c:
        print('a is largest')
    else:
        print('c is largest')
else:
    if b>c:
        print('b is largest')
    else:
        print('c is largest')

c is largest

In [67]:
a=20
b=30
c=30

if a>=b and a>=c:
    print('a is largest')
if b>=a and b>=c:
    print('b is largest')
if c>=a and c>=b:
    print('c is largest')

b is largest
c is largest

In [68]:
# if-elif-else ladder

In [71]:
a=20
b=30
c=30

if a>b and a>c:
    print('a is largest')
elif b>a and b>c:
    print('b is largest')
elif c>a and c>b:
    print('c is largest')
else:
    print('there is some equality')

there is some equality

In [76]:
# accept marks as input from user and evaluate the grade for student

# 91-100 A grade
# 76-90 B grade
# 60-75 C grade
# 40-59 D grade
# below 40 F grade

# Then based on grade calculate GPA range with formula:
    # A=10, B=8, C=6, D=4, F=0

grade='E'
marks=int(input('Enter Total Marks(0-100): '))

if marks>=91 and marks<=100:
    grade='A'
elif marks>=76:
    grade='B'
elif marks>=60:
    grade='C'
elif marks>=40:
    grade='D'
else:
    grade='F'

print(grade)

Enter Total Marks(0-100): 92
A

In [78]:
if grade=='A':
    print('GPA is upto 10')

GPA is upto 10

In [79]:
# Accept total salary from user and calculate tax as per given slab:
# upto 4,99,999 - NO TAX
# 5,00,000 - tax is 12,500
# 5,00,001-10,00,000 tax is 10% of value in between range
# 10,00,001-20,00,000 tax is 20% of value in range
# over 20,00,001 tax is 30% of value above 20,00,000

# Example: total_salary= 13,50,000

# tax till 5,00,000 is 12,500
# tax 5L to 10L is 10% of 5,00,000 i.e. 50,000
# tax for val between 10L to 20L is 20% of 3,50,000 i.e. 70,000

# total_tax= 12,500+50,000+70,000 = 1,32,500/-

In [85]:
sal=int(input())
tax=0
if sal<500000:
    tax=0
else:
    tax=12500
    if sal>500000 and sal<1000000:
        tax=tax+((sal-500000)*0.1)
    if sal>1000000 and sal<2000000:
        tax=tax+50000+((sal-1000000)*0.2)
    if sal>2000000:
        tax=tax+250000+((sal-2000000)*0.3)
print(tax)

480000
0

## Loop Controls

In [86]:
print('Deloitte')

Deloitte

In [87]:
# while loop
# for loop

In [89]:
# WHILE LOOP

i=0             # initialisation
while i<5:      #condition check
    print('Deloitte')
    i+=1        #increment
print('after loop')

Deloitte
Deloitte
Deloitte
Deloitte
Deloitte
after loop

In [94]:
# write a code to print fibonacci series of N values
# 0,1,1,2,3,5,8,13,21,34,55,.....

a=0
b=1
n=int(input())
i=0
print(a,b,sep=' ', end=' ')
while i<n:
    c=a+b
    print(c, end=' ')
    a=b
    b=c
    i+=1

15
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987

### break statement

In [96]:
i=0
while i<100:
    print('value of i is: ',i)
    i+=1
    if i>15:
        break    # termination

value of i is:  0
value of i is:  1
value of i is:  2
value of i is:  3
value of i is:  4
value of i is:  5
value of i is:  6
value of i is:  7
value of i is:  8
value of i is:  9
value of i is:  10
value of i is:  11
value of i is:  12
value of i is:  13
value of i is:  14
value of i is:  15

### Continue statement

In [98]:
i=0
while i<50:
    i+=1
    if i%2==0:
        continue     # skip iteration
    print('value is: ',i)

value is:  1
value is:  3
value is:  5
value is:  7
value is:  9
value is:  11
value is:  13
value is:  15
value is:  17
value is:  19
value is:  21
value is:  23
value is:  25
value is:  27
value is:  29
value is:  31
value is:  33
value is:  35
value is:  37
value is:  39
value is:  41
value is:  43
value is:  45
value is:  47
value is:  49

### FOR LOOP

In [99]:
for i in range(7):  # range(n)- enumerate values o to n-1
    print(i)

0
1
2
3
4
5
6

In [100]:
for i in range(15,25): # range(n,m) - enumerate values from n to m-1
    print(i)

15
16
17
18
19
20
21
22
23
24

In [101]:
for i in range(10,50,5): 
    # range(n,m,k) - enumerate from n to m-1 with increment of k
    print(i)

10
15
20
25
30
35
40
45

In [102]:
x=range(10)
type(x)

range

In [103]:
x

range(0, 10)

In [107]:
# example:
number=0
for i in range(200,100,-3):
    if i%2==0:
        number=i**2
        print('Magic Number is: ', number)

Magic Number is:  40000
Magic Number is:  37636
Magic Number is:  35344
Magic Number is:  33124
Magic Number is:  30976
Magic Number is:  28900
Magic Number is:  26896
Magic Number is:  24964
Magic Number is:  23104
Magic Number is:  21316
Magic Number is:  19600
Magic Number is:  17956
Magic Number is:  16384
Magic Number is:  14884
Magic Number is:  13456
Magic Number is:  12100
Magic Number is:  10816

In [109]:
# Question
q=''' A naughty child is playing out in field and has habit of making 
hops in a specific pattern. 
first hop is 01 step ahead
next hop is 02 steps ahead 
next hop is 03 steps ahead

he follows this pattern thruoghout

Calculate the total steps he takes for given N hops; considering that
he starts from 0 (zero)'''

In [112]:
position=0
step=0
n=int(input('Enter Hops: '))
for i in range(n):
    step+=1
    position+=step
    if step==3:
        step=0
print('Position: ',position)

Enter Hops: 100
Position:  199

In [116]:
n=100
step=0
if n%3==0:
    step=(n//3)*6
elif n%3==1:
    step=(n//3)*6+1
else:
    step=(n//3)*6+3
print(step)

199

In [117]:
# Question
q='''if given a final position for this naughty child, 
identify if that position is approachable using the pattern or not'''

# example: position=150, then tell whether 150 reachable 
# or not in this pattern

In [118]:
position=99
rem=position%6
if rem==0 or rem==1 or rem==3:
    print('possible')
else:
    print('not possible')

possible

In [119]:
# print the following pattern for N number of lines
p='''
       #
      ##
     ####
    ######
   ########
  ##########
 ############
##############
'''

In [124]:
n=7
for line in range(1,n+1):
    print(' '*(n-line),end='', sep='')
    print('#'*(2*line), sep='')

      ##
     ####
    ######
   ########
  ##########
 ############
##############