## Python Basics Day 5

#### Question:
    Write python code to find the word from paragraph stored in a text file that has second highest frequncy of occurence in a paragraph

In [ ]:
with open('story.txt','r') as file:
    text=file.read()
    words=text.split()
    words_set=set(words)
    word_list=[]
    freq=[]
    for word in words_set:
        word_list.append(word)
        freq.append(words.count(word))
        #print(f'{word} => {words.count(word)}')
    mx=sorted(freq)[-2]
    print(word_list[freq.index(mx)])

#### Question:
    For a given list of integers, find the maximum difference between the largest number and any 
    other lower indexed number

In [5]:
li=[-10, -4, 1,3,2,5,1]
mx=max(li)
idx=li.index(mx)
diff=[]
for i in range(idx):
    diff.append(mx-li[i])
    print(f'({mx}) - ({li[i]}) = {mx-li[i]}')
print('max diff: ',max(diff))

(5) - (-10) = 15
(5) - (-4) = 9
(5) - (1) = 4
(5) - (3) = 2
(5) - (2) = 3
max diff:  15

#### Question:
    Find sum of absolute values of all elements provided as input from user as comma separated numbers
    
    Example:
    Input=> 2, 3, -8, 5, 4, -1, -4, 7
    Output=> 34
    
    Hint: Use abs() function to get absolute value

In [10]:
vals=[ int(n) for n in input().split(',')]
s=0
for x in vals:
    s+=abs(x)
print(s)

3,-2,4,5,-8,1
23

### Anonymous Function: Lambda

In [12]:
# Lambda

# lambda <args> : <expr>

y=lambda x,y : x+y

In [13]:
y(3,2)

5

In [14]:
def calc_power(n):
    return lambda x: x**n

In [15]:
p2=calc_power(2) # lambda x: x**2
p3=calc_power(3) # lambda x: x**3
p4=calc_power(4) # lambda x: x**4

In [16]:
p2(4)

16

In [17]:
p3(4)

64

In [18]:
p4(4)

256

## map()

In [20]:
def sqr(x):
    return x**2

li=[2,3,4,5]

print(list(map(sqr, li)))

[4, 9, 16, 25]

In [21]:
print(list(map( lambda x:x**2 ,li)))

[4, 9, 16, 25]

## filter()

In [23]:
li=[n for n in range(1,101)]

print(list(filter(lambda x: x%7==0, li)))

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

## reduce()

In [24]:
from functools import reduce

li=[n for n in range(1,21)]

sum_list=reduce(lambda x,y: x+y, li)
sum_list

210

In [27]:
li=[n for n in range(1,5)]
sum_of_sqr=reduce(lambda x,y: x**2+y**2, li)
sum_of_sqr

1172

## any() and all()

In [28]:
li=[False, False, True, False, False]

any(li)

True

In [29]:
li=[3<2, 3>2, 3<1]
any(li)

True

In [32]:
li=[False, False, False, 1]
any(li)

True

In [33]:
li=[]
any(li)

False

In [34]:
# all()
li=[True, True, True, True, 0]
all(li)

False

In [35]:
# all()
li=[True, True, True, True, 1]
all(li)

True

In [36]:
# all()
li=[True, True, False, True, 1]
all(li)

False

In [38]:
li=[]
all(li)

True

### Question:

    Write a program that prints numbers from 1 to 100 eliminating the multiples of 3 and 7
    
    Note: do not use any inbuilt function

In [40]:
for i in range(1,101):
    if i%3==0 or i%7==0:
        continue
    print(i, end=', ')

1, 2, 4, 5, 8, 10, 11, 13, 16, 17, 19, 20, 22, 23, 25, 26, 29, 31, 32, 34, 37, 38, 40, 41, 43, 44, 46, 47, 50, 52, 53, 55, 58, 59, 61, 62, 64, 65, 67, 68, 71, 73, 74, 76, 79, 80, 82, 83, 85, 86, 88, 89, 92, 94, 95, 97, 100,

### eval()

In [42]:
exp=eval(input())
print(exp)

3+(4**2)*9+1
148

### exec()

In [47]:
exec('print("Hi")')

Hi

### compile()

In [53]:
inp="x=int(input())\nprint('Your input: ',x)"
# compile(input, file, mode=[exec | eval])
code=compile(inp, 'mycodefile', 'exec')

In [54]:
exec(code)

56
Your input:  56

In [55]:
inp='''
x=int(input())
y=int(input())
print("Sum: ", x+y)'''
# compile(input, file, mode=[exec | eval])
code=compile(inp, 'mycodefile', 'exec')

In [56]:
exec(code)

34
45
Sum:  79

In [60]:
# compile()

file=open('mycode.txt','r')
text=file.read()
code=compile(text, 'mycode', 'exec')
exec(code)

Magic Number:  2442
Magic Number:  4884
Magic Number:  7326
Magic Number:  9768
END!

### hash()

In [64]:
i_number=34
f_number=34.6798
s_str='prateek vashishtha'

In [65]:
print('Integer hash: ', hash(i_number))
print('Float hash: ', hash(f_number))
print('String hash: ', hash(s_str))

Integer hash:  34
Float hash:  1567512077663469602
String hash:  235176231857412186

### Cryptography

In [66]:
from cryptography.fernet import Fernet
text=b'Happy Birthday Paradox'

key=Fernet.generate_key()
cipher=Fernet(key)
encoded_text=cipher.encrypt(text)
print(encoded_text)

b'gAAAAABjt8X1UNykzb9hC0AhUIQNngq_R7JRg4wNMrAFsOXixhA46Ufe8q7OxFq9AyEvqAk4wF6wKSp3cwFuVGynWyPENn4Qtmf-TD5jIhCIXAI_8X7BnfY='

In [67]:
plain_text=cipher.decrypt(encoded_text)
print(plain_text)

b'Happy Birthday Paradox'