## Python Basics Day 3

In [1]:
# write a python code to display all numbers between 500 and 1000 that are
## divisible by 7 and are also multiple of 5.

In [2]:
for i in range(500,1000):
    if i%5==0 and i%7==0:
        print(i)

525
560
595
630
665
700
735
770
805
840
875
910
945
980

In [3]:
# write a code that prints the input integer number in reverse order of its digits
## Example: input--> 4567, output--> 7654

In [4]:
# preffered method
num=int(input())
while num!=0:
    a=num%10
    print(a,end='')
    num=num//10

1234
4321

In [5]:
# indirect method
num=int(input())
num=str(num)[::-1]
num=int(num)
print(num)

1234
4321

In [ ]:
# accept an integer number for user and find the sum of its digits

# accept an integer number for user and find the sum of its digits down to single digit (1-9)

In [6]:
n=int(input())
sum=0
while n!=0:
    digit=n%10
    sum+=digit
    n=n//10
print(sum)

456
15

In [9]:
# Lucky Number Calculation - Numerology
n=int(input())
sum=10
while sum>9:
    sum=0
    while n!=0:
        digit=n%10
        sum+=digit
        n=n//10
    n=sum
print(sum)

18119185
7

In [11]:
# write code that checks whether given 3 digit integer number is Amstrong Number or not.
## 1. if number is not 3 digit, print "INVALID NUMBER"
## 2. if sum-of-cube-of-digits of number is same as number itself, print "AMSTRONG"
## 3. Else print NOT AMSTRONG

### Example: 371 is AMSTRONG. 3^3 + 7^3 +1^3 = 371

In [16]:
num=int(input())
n=num
sum=0
if n<100 or n>999:
    print('INVALID NUMBER')
else:
    while n!=0:
        digit=n%10
        sum+=digit**3
        n=n//10
    if sum==num:
        print("AMSTRONG")
    else:
        print("NOT AMSTRONG")

78
INVALID NUMBER

In [14]:
# find all AMSTRONG numbers between 100 and 999

In [6]:
for num in range(100,1000):
    n=num
    sum=0
    while n!=0:
        digit=n%10
        sum+=digit**3
        n=n//10
    if sum==num:
        print(num)

153
370
371
407

## Python Functions

In [2]:
def greeting():
    print('Welcome, Good Morning!')

In [3]:
greeting()

Welcome, Good Morning!

In [4]:
def greeting(person):
    print(f'Welcome {person}, Good Morning!')

In [7]:
greeting('Prateek')

Welcome Prateek, Good Morning!

In [8]:
def find_square(number):
    sqr=number**2
    return sqr

In [9]:
sq=find_square(34)
print(sq)

1156

In [11]:
def find_square(number):
    return number**2

print(find_square(45))

2025

In [13]:
def myfun(a,b,s,x):
    print(a,b,s,x)
    
myfun(34.90, 3.14, 'Prateek', 78)

34.9 3.14 Prateek 78

In [19]:
def disp(person, food='Pasta'): # default args must always follow non-default args
    print(f'{person} loves {food}')
    return None

disp('Harry Potter', 'Pizza')

Harry Potter loves Pizza

In [24]:
def disp(person, food='Pasta', feeling='Loves'): # default args must always follow non-default args
    print(f'{person} {feeling} {food}')
    return None

disp(feeling='Hates', person='Harry Potter')

Harry Potter Hates Pasta

In [25]:
# RECURSION
# programming construct where function calls itself

In [30]:
def show_even(n):
    if n<1 or n>20:
        return None
    else:
        if n%2==0:
            print('Even Number: ',n)
        show_even(n+1)
    return None

In [31]:
show_even(3)

Even Number:  4
Even Number:  6
Even Number:  8
Even Number:  10
Even Number:  12
Even Number:  14
Even Number:  16
Even Number:  18
Even Number:  20

In [32]:
# factorial by recursion

def find_factorial(number):
    if number<2:
        return 1
    else:
        return number*find_factorial(number-1)

In [33]:
find_factorial(6)

720

In [38]:
# lucky number by recursion
def lucky(number):
    if number<10:
        return number
    else:
        sum=0
        while number!=0:
            sum+=number%10
            number=number//10
        if sum>9:
            return lucky(sum)
        else:
            return sum

In [42]:
lucky(8907)

6

In [1]:
range(10)
print(range)

<class 'range'>

In [2]:
range='myfun'

In [3]:
print(range)

myfun

In [4]:
for i in range(10):
    print(i)

TypeError: 'str' object is not callable

In [7]:
def calc_sum(a,b):
    '''This is function to find sum of 2 numbers(integers/float)
    example: calc_sum(2,3) will return value 5'''
    return a+b

In [8]:
calc_sum(23,89)

112

In [9]:
print(calc_sum.__doc__)

This is function to find sum of 2 numbers(integers/float)
    example: calc_sum(2,3) will return value 5

In [10]:
print(max.__doc__)

max(iterable, *[, default=obj, key=func]) -> value
max(arg1, arg2, *args, *[, key=func]) -> value

With a single iterable argument, return its biggest item. The
default keyword-only argument specifies an object to return if
the provided iterable is empty.
With two or more arguments, return the largest argument.

In [11]:
# variable number of arguments - dynamic argument list

In [18]:
def mysum(*args):
    sum=0
    for num in args:
        sum+=num
    return sum

In [22]:
mysum(4,8, 12, 40, 56, 78 ,89)

287

In [34]:
def myfunc(**kwargs):
    for key, value in kwargs.items():
        print(key, value)

In [35]:
myfunc(a=3, b=5, name='pv')

a 3
b 5
name pv

In [45]:
def myfunc(var_x, *args, **kwargs):
    print('static: ',var_x)
    for arg in args:
        print(arg)
    for k,v in kwargs.items():
        print(k, '=>', v)

In [46]:
myfunc(23, 45, 'prateek', company='deloitte', domain='python')

static:  23
45
prateek
company => deloitte
domain => python

In [47]:
myfunc()

TypeError: myfunc() missing 1 required positional argument: 'var_x'

## Built-in Data Structures

In [48]:
# Tuple
# List
# Dictionary
# Sets

### tuples

In [49]:
t=tuple()

In [50]:
t=(1,2,3,4,5)

In [51]:
print(t)

(1, 2, 3, 4, 5)

In [52]:
t[0]

1

In [53]:
t[-2]

4

In [54]:
t=(1,2,3,4,5, 'deloitte', 3.1456879)

In [55]:
t[-1]

3.1456879

In [56]:
t[1]='hello'

TypeError: 'tuple' object does not support item assignment

In [57]:
t=(1,2,3, 4+7j, '3.1345', (10,20,30))

In [58]:
t[-1]

(10, 20, 30)

In [61]:
t[5][2]

30

In [66]:
t=(1,2,3, 4+7j, '3.1345', t)

In [67]:
print(t)

(1, 2, 3, (4+7j), '3.1345', (1, 2, 3, (4+7j), '3.1345', (1, 2, 3, (4+7j), '3.1345', (10, 20, 30))))

In [68]:
len(t)

6

In [69]:
type(t)

tuple

In [71]:
t=(1,2,3,4,5,6,7,8,90)

In [72]:
max(t)

90

In [73]:
min(t)

1

In [74]:
sum(t)

126

In [75]:
max('prateek')

't'

In [77]:
min('Prateek')

'P'

In [78]:
for val in t:
    print(val)

1
2
3
4
5
6
7
8
90

In [79]:
def find_sum(t):
    summation=0
    for val in t:
        summation+=val
    return summation

In [80]:
find_sum(t)

126

In [84]:
def myfun(k):
    k=k*5
    return k

In [85]:
k=90
myfun(k)

450

In [87]:
print(k)

90

## Lists

In [88]:
li=list()

In [89]:
li=[10,20,30,40,50, 'prateek', 3.1467889, 7-3j, (7,8,9), [15,16,17]]

In [90]:
len(li)

10

In [91]:
type(li)

list

In [93]:
sum([1,2,3,4])

10

In [94]:
max([1,2,3,4])

4

In [95]:
min([1,2,3,4])

1

In [96]:
li[3]

40

In [97]:
li[-2]

(7, 8, 9)

In [99]:
t[:7]

(1, 2, 3, 4, 5, 6, 7)

In [100]:
li[:3]

[10, 20, 30]

In [101]:
t[::-1]

(90, 8, 7, 6, 5, 4, 3, 2, 1)

In [102]:
li[::-1]

[[15, 16, 17], (7, 8, 9), (7-3j), 3.1467889, 'prateek', 50, 40, 30, 20, 10]

In [104]:
li=[1,2,3,4,5,6,7,8,9,10]
li[1::2]

[2, 4, 6, 8, 10]

In [106]:
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [107]:
li[0]=900

In [108]:
li

[900, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [109]:
for element in li:
    print(element, end=',')

900,2,3,4,5,6,7,8,9,10,

In [110]:
del t

In [111]:
del li

In [115]:
# Accept integer N from user, create a list of "square of first N integers"
## e.g. [1,4,9,16,25,.....N^2]

In [1]:
N=int(input())
li=[]
for i in range(1, N+1):
    li.append(i**2)
print(li)

10
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
N=int(input())
li=[n**2 for n in range(1,N+1)] # list comprehension
print(li)

20
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [5]:
N=int(input())
li=[n**2 for n in range(1,N+1) if n%2==0] # list comprehension
print(li)

10
[4, 16, 36, 64, 100]

In [6]:
# write a function that takes a number list as input and identifies prime numbers

In [27]:
def check_prime(li):
    for n in li:
        for i in range(2,n):
            if n%i==0:
                print(n, '=> not prime')
                break
            if i==n-1:
                print(n, '=> prime')

In [28]:
mylist=[n for n in range(2,50)]
check_prime(mylist)

3 => prime
4 => not prime
5 => prime
6 => not prime
7 => prime
8 => not prime
9 => not prime
10 => not prime
11 => prime
12 => not prime
13 => prime
14 => not prime
15 => not prime
16 => not prime
17 => prime
18 => not prime
19 => prime
20 => not prime
21 => not prime
22 => not prime
23 => prime
24 => not prime
25 => not prime
26 => not prime
27 => not prime
28 => not prime
29 => prime
30 => not prime
31 => prime
32 => not prime
33 => not prime
34 => not prime
35 => not prime
36 => not prime
37 => prime
38 => not prime
39 => not prime
40 => not prime
41 => prime
42 => not prime
43 => prime
44 => not prime
45 => not prime
46 => not prime
47 => prime
48 => not prime
49 => not prime

In [30]:
def myfunc(li):
    for i in range(len(li)):
        li[i]=li[i]*5
    print(li)
    return None

In [32]:
mylist=[5,6,7,8]
myfunc(mylist)
print(mylist)

[25, 30, 35, 40]
[25, 30, 35, 40]

In [33]:
def myfunc(li):
    li.append(900)
    print(li)
    return None

In [34]:
mylist=[5,6,7,8]
myfunc(mylist)
print(mylist)

[5, 6, 7, 8, 900]
[5, 6, 7, 8, 900]

### List Functions

In [35]:
# append elements - insert at the end

li=[10,20,30,40]
li.append(90)
li

[10, 20, 30, 40, 90]

In [36]:
li.append([100,200,300])
li

[10, 20, 30, 40, 90, [100, 200, 300]]

In [37]:
# insert(index, value)

li.insert(0, 'first')
li

['first', 10, 20, 30, 40, 90, [100, 200, 300]]

In [38]:
li.insert(4, 78.987)
li

['first', 10, 20, 30, 78.987, 40, 90, [100, 200, 300]]

In [39]:
# extend(list)

li=[10,20,30,40]
li.extend([200,300,400,500])
li

[10, 20, 30, 40, 200, 300, 400, 500]

In [40]:
# remove

li.remove(200)
li

[10, 20, 30, 40, 300, 400, 500]

In [41]:
# pop() removes last element

li.pop()

500

In [42]:
li

[10, 20, 30, 40, 300, 400]

In [43]:
# index()

li.index(300)

4

In [44]:
# clear

li.clear()
li

[]

In [45]:
# sort

li=[1,5,3,8,9,2,3,90,6,122,5,7]

li.sort()
li

[1, 2, 3, 3, 5, 5, 6, 7, 8, 9, 90, 122]

In [51]:
li=[1,5,3,8,9,2,3,90,6,122,5,7]

li.sort(reverse=True)
li

[122, 90, 9, 8, 7, 6, 5, 5, 3, 3, 2, 1]

In [52]:
# write code to sort a given list in ascending order without using sort() function
### Hint: Bubble Sort

In [58]:
def bubble_sort(li):
    for i in range(len(li)):
        for j in range(i, len(li)):
            if li[i]>li[j]:
                li[j],li[i]=li[i],li[j]
    return li
bubble_sort([1,5,3,8,9,2,3,90,6,122,5,7])

[1, 2, 3, 3, 5, 5, 6, 7, 8, 9, 90, 122]

In [56]:
# write code to filter a given list and arrange positive numbers before all negative numbers
# Example:
# input=> [-1, 2, 5, -9, 3, 4, -4, 6]
# output=> [2, 5, 3, 4, 6, -1, -9, -4]

In [66]:
li=[-1, 2, 5, -9, 3, 4, -4, 6]
pos=[]
neg=[]
for num in li:
    if num>=0:
        pos.append(num)
    else:
        neg.append(num)
pos.extend(neg)
print(pos)

[2, 5, 3, 4, 6, -1, -9, -4]

In [71]:
li=[-1, 2, 5, -9, 3, 4, -4, 6]
for i in range(len(li)):
    if li[i]<0:
        num=li[i]
        li.remove(num)
        li.append(num)
        print(li)
print(li)

[2, 5, -9, 3, 4, -4, 6, -1]
[2, 5, 3, 4, -4, 6, -1, -9]
[2, 5, 3, 4, 6, -1, -9, -4]
[2, 5, 3, 4, 6, -9, -4, -1]
[2, 5, 3, 4, 6, -9, -1, -4]
[2, 5, 3, 4, 6, -9, -1, -4]
[2, 5, 3, 4, 6, -9, -1, -4]

In [78]:
# count()
li=[1,2,4,5,6,3,2,8,9,5,1,2,3,6,7]
li.count(7)

1

In [80]:
for num in li:
    print(num, '=>', li.count(num))

1 => 2
2 => 3
4 => 1
5 => 2
6 => 2
3 => 2
2 => 3
8 => 1
9 => 1
5 => 2
1 => 2
2 => 3
3 => 2
6 => 2
7 => 1

In [81]:
# copy

li2=li.copy()
li2

[1, 2, 4, 5, 6, 3, 2, 8, 9, 5, 1, 2, 3, 6, 7]

In [82]:
li=[10,20,30]
li2=li
print(li, li2, sep='\n')

[10, 20, 30]
[10, 20, 30]

In [83]:
li[0]=100
print(li, li2, sep='\n')

[100, 20, 30]
[100, 20, 30]

In [84]:
li2=li.copy()
li2
li[0]=900
print(li, li2, sep='\n')

[900, 20, 30]
[100, 20, 30]

In [89]:
# reverse()
li=[10,30,40,60,90]
li.reverse()
li

[90, 60, 40, 30, 10]

In [90]:
# reversed()
li=[10,30,40,60,90]
reversed(li)

In [93]:
li=[10,30,40,60,90]
for num in reversed(li):
    print(num, end=' ')
print()
print(li)

90 60 40 30 10
[10, 30, 40, 60, 90]

### Dictionaries

In [94]:
d=dict()

In [95]:
d={}

In [97]:
# is sollection of key:value pairs
d={1: 100, 2: 200, 3: 300}

In [98]:
print(d)

{1: 100, 2: 200, 3: 300}

In [99]:
d.keys()

dict_keys([1, 2, 3])

In [100]:
d.values()

dict_values([100, 200, 300])

In [101]:
d.items()

dict_items([(1, 100), (2, 200), (3, 300)])

In [102]:
for key, val in d.items():
    print(key, '=>', val)

1 => 100
2 => 200
3 => 300

In [103]:
type(d)

dict

In [104]:
len(d)

3

In [105]:
max(d)

3

In [106]:
min(d)

1

In [108]:
# pop

d.pop(2)

200

In [109]:
d

{1: 100, 3: 300}

In [110]:
d.pop(2)

KeyError: 2

In [111]:
# insertion

d[4]=400
d

{1: 100, 3: 300, 4: 400}

In [112]:
li=[n for n in range(10,100,10)]
li

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [114]:
d={}
d=d.fromkeys(li, 0)
d

{10: 0, 20: 0, 30: 0, 40: 0, 50: 0, 60: 0, 70: 0, 80: 0, 90: 0}

In [115]:
# popitem()

d={'name':'prateek','city':'meerut', 'training':'python','exp':13}

In [116]:
d.pop('city')

'meerut'

In [117]:
d

{'name': 'prateek', 'training': 'python', 'exp': 13}

In [118]:
d.popitem()

('exp', 13)

In [119]:
# copy

d2=d.copy()
d2

{'name': 'prateek', 'training': 'python'}

In [120]:
d3={'company':'deloitte', 'skills':['python','sql','AI','ML','Java']}

In [122]:
# update

d.update(d3)
d

{'name': 'prateek',
 'training': 'python',
 'company': 'deloitte',
 'skills': ['python', 'sql', 'AI', 'ML', 'Java']}

In [123]:
d3

{'company': 'deloitte', 'skills': ['python', 'sql', 'AI', 'ML', 'Java']}

In [124]:
d3.clear()
d3

{}

In [126]:
print(d['name'])

prateek

In [127]:
print(d.get('name'))

prateek

In [128]:
# setdefdault(key, def_val)

d.setdefault('surname', 'deloitted')
d

{'name': 'prateek',
 'training': 'python',
 'company': 'deloitte',
 'skills': ['python', 'sql', 'AI', 'ML', 'Java'],
 'surname': 'deloitted'}

In [130]:
d.setdefault('name', 'employee')

'prateek'

## Sets

In [131]:
s=set()

In [132]:
s={}

In [133]:
s={'first','second','third'}

In [134]:
s

{'first', 'second', 'third'}

In [135]:
t=(1,2,3,4,5,6,7)
s=set(t)
s

{1, 2, 3, 4, 5, 6, 7}

In [136]:
li=[10,20,30,40,50]
s=set(li)
s

{10, 20, 30, 40, 50}

In [137]:
s=set(('a','b','c'))
s

{'a', 'b', 'c'}

In [140]:
li=[1,2,4,2,1,6,7,5,6,6,4,2,1,1,2,4,6,7,2,1,3,4,4,5,7,8,9,0,9,8,5,1,2,5,4,2,1]
s=set(li)
s

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [139]:
# write a code that prints frequncy of occurence for distinct list values

In [141]:
li=[1,2,4,2,1,6,7,5,6,6,4,2,1,1,2,4,6,7,2,1,3,4,4,5,7,8,9,0,9,8,5,1,2,5,4,2,1]
s=set(li)

for item in s:
    print(item, '=>', li.count(item))

0 => 1
1 => 7
2 => 7
3 => 1
4 => 6
5 => 4
6 => 4
7 => 3
8 => 2
9 => 2

In [142]:
s=set((10,20,30,40))
s

{10, 20, 30, 40}

In [143]:
# add
s.add(60)
s

{10, 20, 30, 40, 60}

In [144]:
len(s)

5

In [145]:
s.remove(30)
s

{10, 20, 40, 60}

In [146]:
s.pop()

40

In [147]:
s

{10, 20, 60}

In [148]:
# update

s={1,2,3,4,5}
s2={100,200,300}

s.update(s2)
s

{1, 2, 3, 4, 5, 100, 200, 300}

In [149]:
# discard vs remove

s.remove(5)

In [150]:
s

{1, 2, 3, 4, 100, 200, 300}

In [151]:
s.remove(34)

KeyError: 34

In [152]:
s.discard(34)

In [153]:
s.discard(100)

s

{1, 2, 3, 4, 200, 300}

In [154]:
s.clear()
s

set()

### Set Operations

In [155]:
s1={1,2,3,4,5}
s2={1,3,5,7,9}

In [156]:
s1.union(s2)

{1, 2, 3, 4, 5, 7, 9}

In [157]:
s1.intersection(s2)

{1, 3, 5}

In [162]:
s1.difference(s2)

{2, 4}

In [163]:
s1.symmetric_difference(s2)

{2, 4, 7, 9}

In [164]:
# write code to create a dictionary with keys copied form another dictionary
##

In [166]:
temp={'a':'one','b':'two','c':'three','d':'four'}
new_dict={}
new_dict=new_dict.fromkeys(temp.keys(), 0)
new_dict

{'a': 0, 'b': 0, 'c': 0, 'd': 0}

In [167]:
temp={'a':'one','b':'two','c':'three','d':'four'}
new_dict={}
for key in temp.keys():
    new_dict[key]=input()
print(new_dict)

hi
hello
welcome
bye
{'a': 'hi', 'b': 'hello', 'c': 'welcome', 'd': 'bye'}

In [169]:
# write a code to create dictionary from two list
## Hint: Use first list for keys and second list for values

In [168]:
temp={'a':'one','b':'two','c':'three','d':'four'}
temp2={1:'A', 2:'B', 3:'C', 4:'D'}
new_dict={}
for key, val in zip(temp.keys(), temp2.values()):
    new_dict[key]=val
print(new_dict)

{'a': 'A', 'b': 'B', 'c': 'C', 'd': 'D'}

In [19]:
s='hello, are you enjoying the weather today?'
space=s.count(' ')
words=len(s.split())
oc=0
upper_alpha=[n for n in range(65,91)]
lower_alpha=[n for n in range(97,123)]
for ch in s:
    if ord(ch) in upper_alpha or ord(ch) in lower_alpha:
        pass
    else:
        oc+=1
print('Spaces ', space)
print('Wrods ', words)
print('Other Characters ',oc-space)

Spaces  6
Wrods  7
Other Characters  2