## Python Basics Day 2

#### Question:
Write a program that accepts two values- length of a car and fuel type.
If the length is less than 4000mm then calculate tax as per given slab:
    
    * petrol - 12% of basic price
    
    * diesel - 15% of basic price
In case, length of car is more than or equal to 4000mm then slab is:
    
    * petrol - 15% of basic price
    
    * diesel - 20% of basic price
* Basic Price to be provided by user.

Find and display the final price of a car after taxes.

In [3]:
base_price=int(input('Enter Base Price: '))
fuel_type=input('Enter Fuel type: ').lower()
length=int(input('Enter Car Length in MM: '))
price=0
if length<4000:
    if fuel_type == 'petrol':
        price=base_price+(0.12*base_price)
    else:
        price=base_price+(0.15*base_price)
else:
    if fuel_type == 'petrol':
        price=base_price+(0.15*base_price)
    else:
        price=base_price+(0.2*base_price)
print(f'Final Price: {price}')

Enter Base Price: 980000
Enter Fuel type: petrol
Enter Car Length in MM: 3995
Final Price: 1097600.0

##### The severity of covid infection is determined by the CT cycles it took to detect the virus. CT cycles ranges from 1-30 for a positive case. Using the CT cycles value, determine the severity as per given table:

* 1-7   : Severe Infection/Needs Hospitalization
* 8-15  : Severe Infection/Hospitalization Not Required
* 16-25 : Mild Infection
* 26-30 : Recovery Phase Detection
* more than 30   : Negative

Identify patient's condition based on CT cycle information provided.

In [6]:
ct=int(input('Enter CT Cycle Value: '))
if 1<=ct<=7:
    print('Severe/Hospitalization')
elif 8<=ct<=15:
    print('Sever/Home Quarantine')
elif 16<=ct<=25:
    print('Mild Infection')
elif 26<=ct<=30:
    print('Recovery Phase')
elif ct<1:
    print('Invalid')
else:
    print('Negative')

Enter CT Cycle Value: -3
Invalid

## Looping Statements

### While Loop

In [8]:
i=10
while i<20:
    print('Deloitte ', end=' ')
    i+=1

Deloitte  Deloitte  Deloitte  Deloitte  Deloitte  Deloitte  Deloitte  Deloitte  Deloitte  Deloitte

In [9]:
i

20

In [10]:
loop=0
while loop<100:
    print(loop, end=' # ')
    loop=loop+12

0 # 12 # 24 # 36 # 48 # 60 # 72 # 84 # 96 #

In [11]:
# reverse loop
loop=100
while loop>0:
    print(loop)
    loop=loop-16

100
84
68
52
36
20
4

In [16]:
# write a program to reverse a string without slicing method.
# Example: 'SPIDER' => 'REDIPS'
s=input()
l=len(s)
i=l-1
while i>=0:
    print(s[i], end='')
    i-=1

SPIDER
REDIPS

In [17]:
# write a program to print a number in reverse order of its digits
# example: 1234 => 4321
num=int(input())
while num>0:
    print(num%10, end='')
    num=num//10

1234
4321

In [20]:
# Write a program to find factorial of a number using while loop.
# Input=> 6    Output=> 720
num=int(input())
fact=1
while num>1:
    fact*=num
    num-=1
print(f'Factorial: {fact}')

6
Factorial: 720

In [22]:
# Write a program to find whether given input string is Palindrome or 
# Calindrome or none of them.
# Example: 'ABCBA' is Palindrome
#          '12321' is Calindrome

s=input()
if s==s[::-1] and s.isalpha():
    print('Palindrome')
elif s==s[::-1] and s.isdigit():
    print('Calindrome')
else:
    print('None')

12321
Calindrome

#### While - Else

In [25]:
i=0
while i<10:
    print(i, end=' - ')
    i+=1
else:
    print('Else in Loop')

0 - 1 - 2 - 3 - 4 - 5 - 6 - 7 - 8 - 9 - Else in Loop

## FOR LOOP

In [26]:
# range(n)      - enumerate from 0 to n-1
# range(n,m)    - enumerate from n to m-1
# range(n,m,k)  - enumerate from n to m-1 with increment of k

In [28]:
x=range(10)

In [30]:
x=iter(x)
type(x)

range_iterator

In [31]:
next(x)

0

In [32]:
next(x)

1

In [41]:
next(x)

StopIteration:

In [42]:
for x in range(10):
    print('x= ',x)

x=  0
x=  1
x=  2
x=  3
x=  4
x=  5
x=  6
x=  7
x=  8
x=  9

In [43]:
for x in range(20,30):
    print('x= ',x)

x=  20
x=  21
x=  22
x=  23
x=  24
x=  25
x=  26
x=  27
x=  28
x=  29

In [44]:
for x in range(20,50,4):
    print('x= ',x)

x=  20
x=  24
x=  28
x=  32
x=  36
x=  40
x=  44
x=  48

In [45]:
for char in 'DELOITTE':
    print(char, end=' ')

D E L O I T T E

In [46]:
# reverse loop

for x in range(50,10,-5):
    print('x= ',x)

x=  50
x=  45
x=  40
x=  35
x=  30
x=  25
x=  20
x=  15

### BREAK

In [47]:
i=0
while i<100:
    if i==13:
        break
    print('i= ', i)
    i+=1

i=  0
i=  1
i=  2
i=  3
i=  4
i=  5
i=  6
i=  7
i=  8
i=  9
i=  10
i=  11
i=  12

In [50]:
for i in range(2,50,2):
    if i%17==0:
        break
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32

### CONTINUE

In [3]:
i=0
while i<100:
    i+=1
    if i%2==0 or i%3==0:
        continue
    print(i)

1
5
7
11
13
17
19
23
25
29
31
35
37
41
43
47
49
53
55
59
61
65
67
71
73
77
79
83
85
89
91
95
97

In [4]:
# Write a code that prints all number between 100 and 999 that are either
# multiples of 23 or are divisible by 19.
for i in range(100,1000):
    if i%19==0 or i%23==0:
        print(i)

114
115
133
138
152
161
171
184
190
207
209
228
230
247
253
266
276
285
299
304
322
323
342
345
361
368
380
391
399
414
418
437
456
460
475
483
494
506
513
529
532
551
552
570
575
589
598
608
621
627
644
646
665
667
684
690
703
713
722
736
741
759
760
779
782
798
805
817
828
836
851
855
874
893
897
912
920
931
943
950
966
969
988
989

In [16]:
# Write a program code to find whether given number is PRIME or not.
n=int(input())
for i in range(2,n//2+1):
    if n%i==0:
        print('Not Prime')
        break
else:
    print('Prime')

4
Not Prime

### Question: Find whether the given number is 3-digit AMSTRONG number or not. A 3-digit AMSTRONG number is one where sum of cube of its digits is same as number itself.

### Example: 371 is AMSTRONG => 3^3 + 7^3 + 1^3 = 371

In [21]:
n=int(input())
if n<100 or n>999:
    print('INVALID')
else:
    sum=0
    temp=n
    while n>0:
        sum+=(n%10)**3
        n//=10
    if sum==temp:
        print('AMSTRONG')
    else:
        print('NOT AMSTRONG')

864
NOT AMSTRONG

### Question: Find all 3-digit AMSTRONG numbers.

In [22]:
for n in range(100,1000):
    sum=0
    temp=n
    while n>0:
        sum+=(n%10)**3
        n//=10
    if sum==temp:
        print(temp)

153
370
371
407

### Question: Write a python program to find lucky number using DOB.

Lucky number is calculated by finding sum of all digits of dob down to single digit. It must range from 1 to 9.

Example: DOB=> 18111985 then Lucky No => 7

1+8+1+1+1+9+8+5 = 34  ===>>> 3+4 = 7

In [24]:
sum=int(input('Enter DOB(ddmmyyyy): '))
while True:
    dob=sum
    sum=0
    while dob>0:
        sum+=dob%10
        dob//=10
    if sum<10:
        print(sum)
        break

Enter DOB(ddmmyyyy): 18111985
7

In [34]:
# Write a python code to convert a string into alternating string.
# An alternating string has alternate uppercase and lowercase letters.
# Example: "hello deloitte" => "HeLlO DeLoItTe"
s1=input()
s2=''
for i in range(len(s1)):
    if i%2==0:
        s2+=s1[i].upper()
    else:
        s2+=s1[i].lower()
print(s2)

TERMINATOR
TeRmInAtOr

In [36]:
# Write a program that generates fibonacci series of N numbers.
# Example: N=10 then
#  0,1,1,2,3,5,8,13,21,34...
N=int(input())
prev1=0
prev2=1
print(prev1, prev2, end=' ')
for n in range(2,N):
    print(prev1+prev2, end=' ')
    temp=prev2
    prev2=prev1+prev2
    prev1=temp

20
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181

## Functions in Python

In [ ]:
# def <func-name>(args list):

In [41]:
def Message():
    print('Hello Functions!')
    return None

In [42]:
def Calc_Sum(x,y):
    return x+y

In [43]:
Message()

Hello Functions!

In [44]:
Calc_Sum(23,78)

101

In [45]:
# Function may have default arguments
# default args must always follow no-default args
def Message(msg, name='Prateek'):
    return msg+' '+name

In [46]:
Message('Good Morning', 'Siddharth')

'Good Morning Siddharth'

In [47]:
Message('Good Morning')

'Good Morning Prateek'

In [48]:
def Message(name='Prateek', msg):
    return msg+' '+name

SyntaxError: non-default argument follows default argument (3938610604.py, line 1)

In [49]:
# Calling function by Keyword Arguments
def Message(name, msg, symbol):
    return msg+' '+name+' '+symbol

In [50]:
Message('!', 'Siddharth', 'Good Day')

'Siddharth ! Good Day'

In [51]:
Message(msg='Good Day', symbol=':)', name='Prateek')

'Good Day Prateek :)'

In [54]:
# Functions can also be nested
def outer():
    print('outer')
    def inner():
        print('Inner')
        return None
    inner()
    return None

outer()

outer
Inner

In [55]:
# Generator Functions
def generate_integer_1_to_9():
    for i in range(1,10):
        yield i

In [56]:
gen=generate_integer_1_to_9()

In [57]:
type(gen)

generator

In [58]:
next(gen)

1

In [59]:
next(gen)

2

In [70]:
def generate_prime():
    for i in range(2,100):
        for j in range(2,i//2+1):
            if i%j==0:
                break
        else:
            yield i

In [78]:
prime=generate_prime()

In [79]:
i=0
while i<5:
    print(next(prime))
    i+=1

2
3
5
7
11

In [80]:
# Write a function that accepts an integer argument and returns 
# factorial of that integer number.
def factorial(n):
    if n<2:
        return 1    
    return n*factorial(n-1)

In [81]:
factorial(6)

720

In [82]:
# RECURSION in FUNCTIONS
# when function calls itself in its definition

In [83]:
# Find Lucky Number from DOB using recursion
def lucky(n):
    sum=0
    while n>0:
        sum+=n%10
        n//=10
    if sum<10:
        return sum
    else:
        return lucky(sum)

In [85]:
lucky(19112018)

5

In [87]:
# Write a function that performs the encoding of given string using 
# "right shift by n" algorithm.
# Function must recieve string and n value as argument. Returns encode
# string as result.
# Example: encode_str('hello', 2) => 'jgnnq'
def encode_str(s,n):
    s=s.lower()
    se=''
    for indx in range(len(s)):
        asc=ord(s[indx])+n
        if asc>122:
            asc=97+(asc-122)-1
        se+=chr(asc)
    return se

In [89]:
encode_str('helloz', 2)

'jgnnqb'

### Write a python function rotate(s, n) that rotates the characters of a string n times.

Example: rotate('deloitte', 3) => 'ttedeloi'

In [90]:
def rotate(s,n):
    if n>len(s):
        n=n%len(s)
    while n>0:
        s=s[-1]+s[:-1]
        n-=1
    return s

In [91]:
rotate('deloitte',3)

'ttedeloi'

In [101]:
# functional as object
def msg():
    def inner():
        return 'welcome'
    return inner

In [102]:
x=msg()

In [103]:
type(x)

function

In [104]:
x() # inner()

'welcome'

In [111]:
# functions can be passed as argument
def addition(x,y):
    return x+y
def multiply(x,y):
    return x*y
def subtract(x,y):
    return x-y

In [112]:
def newfun(x,y,f):
    return f(x,y)

In [113]:
newfun(20,5,addition)

25

In [114]:
newfun(20,5,multiply)

100

#### Variable length arguments in a function

In [1]:
def add_num(x,y):
    return sum((x,y))

In [2]:
add_num(20,40)

60

In [3]:
def add_num(*args):
    return sum(args)

In [7]:
add_num(2,3,4,5,6,7,8,9)

44

In [8]:
def add_num(*args, **kwargs):
    print(sum(args))
    print(kwargs)
    return None

In [10]:
add_num(2,3,4,5,6,7, a=10, b=20)

27
{'a': 10, 'b': 20}

In [21]:
# DECORATORS

def run(func):
    def inner(*args, **kwargs):
        print('Calculated: ',func(args))
    return inner

In [22]:
@run
def add_num(args):
    return sum(args)

In [23]:
add_num(2,3,4)

Calculated:  9

#### Question: A naughty boy has habit of hopping in a specific pattern as jumping 1 time, 2 times, 3 times consecutively and then repeat the pattern forever. If he starts from 0, what would be position that this boy will reach after N hops. Write a code to determine the position.

In [24]:
def hop_pos(n):
    pos=0
    jump=0
    while n>0:
        jump+=1
        pos+=jump
        if jump==3:
            jump=0
        n-=1
    return pos

In [27]:
hop_pos(100)

199

In [28]:
# Part-2: For given position, identify will the naughty boy ever approach
# the given position value with his pattern, starting from 0.

def check_pos(pos):
    if pos%3==0 or pos%6==0 or pos%6==1:
        return True
    return False

In [33]:
check_pos(55)

True