## Python Advance Day 2

#### Working with MySQL Database

In [1]:
! pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\pvashishtha\anaconda3\lib\site-packages (8.0.31)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\pvashishtha\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.1)

In [2]:
# 1. Connect to database
# 2. Create a database CURSOR
# 3. CRUD- create, read, update, delete
# 4. close connection

In [3]:
# connect to database

import mysql.connector

host='localhost'
user='root'
password=''
port=3306
database='abccorp'

try:
    conn=mysql.connector.connect(host=host,
                                user=user,
                                password=password,
                                port=port,
                                database=database)
    print(conn)
except:
    print('Database Not Connected!')

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001D2EB349B80>

In [4]:
# create database CURSOR

try:
    cur=conn.cursor()
    print(cur)
except:
    print('Cursor Not Created!')

CMySQLCursor: (Nothing executed yet)

In [5]:
# Insert

sql='insert into employee values(101, "Prateek", "Vashishtha", "2022-07-11", "Bangalore", 25600.00)'

cur.execute(sql)
conn.commit()

In [6]:
print(cur)

CMySQLCursor: insert into employee values(101, "Pratee..

In [7]:
# Insert Many

sql='insert into employee values(%s,%s,%s,%s,%s,%s)'
val=[
    (102, "Anjali", "Joy", "2023-01-16", "Cochin", 23000.89),
    (103, "Ayush", "Gupta", "2022-11-08", "Delhi", 23500.00),
    (104, "Bani", "Ghosh", "2022-10-10", "Kolkatta", 24000.00),
    (105, "Gowri", "D", "2023-01-15", "Chennai", 22900.90),
    (106, "Vignesh", "Menon", "2023-01-01", "Banagalore", 23000.00),
    (107, "Rohan", "Jajee", "2022-11-11", "Mumbai", 25000.00)
]

cur.executemany(sql, val)
conn.commit()

IntegrityError: 1062 (23000): Duplicate entry '105' for key 'PRIMARY'

In [8]:
# Read Database Values- SELECT
sql='select * from employee'
cur.execute(sql)

In [9]:
result=cur.fetchall()

In [10]:
for row in result:
    print('================================')
    print(f'EID: {row[0]}\nFirst Name: {row[1]}')
    print(f'Last Name: {row[2]}\nDate of Joining: {row[3]}')
    print(f'City: {row[4]}\nSalary: {row[5]}')
    print('================================')

================================
EID: 101
First Name: Prateek
Last Name: Vashishtha
Date of Joining: 2022-07-11
City: Bangalore
Salary: 25600.0
================================
================================
EID: 102
First Name: Anjali
Last Name: Joy
Date of Joining: 2023-01-16
City: Cochin
Salary: 23000.89
================================
================================
EID: 103
First Name: Ayush
Last Name: Gupta
Date of Joining: 2022-11-08
City: Delhi
Salary: 23500.0
================================
================================
EID: 104
First Name: Bani
Last Name: Ghosh
Date of Joining: 2022-10-10
City: Kolkatta
Salary: 24000.0
================================
================================
EID: 105
First Name: Gowri
Last Name: D
Date of Joining: 2023-01-15
City: Bangalore
Salary: 22900.9
================================
================================
EID: 106
First Name: Vignesh
Last Name: Menon
Date of Joining: 2023-01-01
City: Banagalore
Salary: 23000.0
================================
================================
EID: 107
First Name: Rohan
Last Name: Jajee
Date of Joining: 2022-11-11
City: Mumbai
Salary: 25000.0
================================

In [11]:
sql='select * from employee'
cur.execute(sql)

In [12]:
row=cur.fetchone()
while row!=None:
    print('================================')
    print(f'EID: {row[0]}\nFirst Name: {row[1]}')
    print(f'Last Name: {row[2]}\nDate of Joining: {row[3]}')
    print(f'City: {row[4]}\nSalary: {row[5]}')
    print('================================')
    row=cur.fetchone()

================================
EID: 101
First Name: Prateek
Last Name: Vashishtha
Date of Joining: 2022-07-11
City: Bangalore
Salary: 25600.0
================================
================================
EID: 102
First Name: Anjali
Last Name: Joy
Date of Joining: 2023-01-16
City: Cochin
Salary: 23000.89
================================
================================
EID: 103
First Name: Ayush
Last Name: Gupta
Date of Joining: 2022-11-08
City: Delhi
Salary: 23500.0
================================
================================
EID: 104
First Name: Bani
Last Name: Ghosh
Date of Joining: 2022-10-10
City: Kolkatta
Salary: 24000.0
================================
================================
EID: 105
First Name: Gowri
Last Name: D
Date of Joining: 2023-01-15
City: Bangalore
Salary: 22900.9
================================
================================
EID: 106
First Name: Vignesh
Last Name: Menon
Date of Joining: 2023-01-01
City: Banagalore
Salary: 23000.0
================================
================================
EID: 107
First Name: Rohan
Last Name: Jajee
Date of Joining: 2022-11-11
City: Mumbai
Salary: 25000.0
================================

In [13]:
import pandas as pd
data=pd.read_sql("select * from employee", conn)
data

C:\Users\pvashishtha\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

   eid    fname       lname         doj        city    salary
0  101  Prateek  Vashishtha  2022-07-11   Bangalore  25600.00
1  102   Anjali         Joy  2023-01-16      Cochin  23000.89
2  103    Ayush       Gupta  2022-11-08       Delhi  23500.00
3  104     Bani       Ghosh  2022-10-10    Kolkatta  24000.00
4  105    Gowri           D  2023-01-15   Bangalore  22900.90
5  106  Vignesh       Menon  2023-01-01  Banagalore  23000.00
6  107    Rohan       Jajee  2022-11-11      Mumbai  25000.00

In [14]:
# UPDATE
sql='update employee set city="Delhi" where eid=101'
cur.execute(sql)
conn.commit()
print(f'{cur.rowcount} rows updated')

1 rows updated

In [15]:
# DELETE
sql='delete from employee where city="Delhi"'
cur.execute(sql)
conn.commit()
print(f'{cur.rowcount} rows deleted')

2 rows deleted

In [16]:
# DROP
sql='drop table employee'
try:
    cur.execute(sql)
    print('Table is Dropped')
except:
    print('Table Drop Error! Check Logs.')

Table is Dropped

In [17]:
# close
cur.close()
conn.close()

In [18]:
conn.disconnect()

In [ ]:
# create a class that manages database. 
# It has functionalities like:
# insert data, update, delete, select
# use abccorp database and employee table
# 
# emp(eid int primary key, ename varchar(20), 
    # dept int, sal int);

In [28]:
class Employee:
    def __init__(self, host, user, pwd, port, db):
        import mysql.connector
        try:
            self.conn=mysql.connector.connect(host=host,
                                             user=user,
                                             password=pwd,
                                             port=port,
                                             database=db)
            self.cur=self.conn.cursor()
            print(self.conn)
            print(self.cur)
        except:
            print('Database Not Connected!')
        return None
    def insert(self, eid, fname, lname, doj, city, sal):
        sql=f'insert into employee values({eid}, "{fname}","{lname}","{doj}","{city}",{sal})'
        self.cur.execute(sql)
        self.conn.commit()
        return self.cur.rowcount
    def read_all(self):
        sql="select * from employee"
        self.cur.execute(sql)
        result=self.cur.fetchall()
        for record in result:
            print(record)
        return None
    def __del__(self):
        self.cur.close()
        self.conn.close()

In [29]:
emp=Employee('localhost','root','',3306,'abccorp')

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001D2EF0ACFA0>
CMySQLCursor: (Nothing executed yet)

In [32]:
emp.insert(902, 'Keerthana','GS','2022-07-11','Tumkur',50000)

1

In [33]:
emp.read_all()

(901, 'Prateek', 'vashishtha', datetime.date(2022, 7, 11), 'Meerut', 50000.0)
(902, 'Keerthana', 'GS', datetime.date(2022, 7, 11), 'Tumkur', 50000.0)

### Generator Functions

In [38]:
def mygenerator():
    for i in range(10):
        yield i

In [39]:
for val in mygenerator():
    print(val)

0
1
2
3
4
5
6
7
8
9

In [44]:
def mygenerator():
    for i in range(750001, 780999):
        yield i

In [45]:
val=mygenerator()

In [46]:
next(val)

750001

In [47]:
next(val)

750002

In [48]:
# insert into employee(next(val), ...)

#### Modules & Packages

In [50]:
import basicmath as bm

In [51]:
print(bm.add_num(34,56))

90

In [52]:
bm.expo(4,7)

16384

In [3]:
import utility.basicmath as bm

In [4]:
bm.expo(4,3)

64

In [5]:
import utility.scimath as sm

In [6]:
sm.sine(8)

0.9893582466233818

In [7]:
from utility.scimath import loge as le

In [8]:
le(7)

1.9459101490553132

### RegEx

In [10]:
# Regular Expressions - generic syntax for representing
    # patterns in strings

In [11]:
import re

In [13]:
print(re.__dir__())

['__name__', '__doc__', '__package__', '__loader__', '__spec__', '__file__', '__cached__', '__builtins__', 'enum', 'sre_compile', 'sre_parse', 'functools', '_locale', '__all__', '__version__', 'RegexFlag', 'ASCII', 'A', 'IGNORECASE', 'I', 'LOCALE', 'L', 'UNICODE', 'U', 'MULTILINE', 'M', 'DOTALL', 'S', 'VERBOSE', 'X', 'TEMPLATE', 'T', 'DEBUG', 'error', 'match', 'fullmatch', 'search', 'sub', 'subn', 'split', 'findall', 'finditer', 'compile', 'purge', 'template', '_special_chars_map', 'escape', 'Pattern', 'Match', '_cache', '_MAXCACHE', '_compile', '_compile_repl', '_expand', '_subx', 'copyreg', '_pickle', 'Scanner']

In [15]:
s='deloitte.com'
match=re.search(r'.', s)
print(match)

<re.Match object; span=(0, 1), match='d'>

In [16]:
print(re.search(r'\.', s))

<re.Match object; span=(8, 9), match='.'>

In [17]:
s='for deloitte'
print(re.search(r'\Afor', s))

<re.Match object; span=(0, 3), match='for'>

In [18]:
print(re.search(r'\bfor', s))

<re.Match object; span=(0, 3), match='for'>

In [20]:
s='tell deloitte'
print(re.search(r'\bte',s))

<re.Match object; span=(0, 2), match='te'>

In [21]:
print(re.search(r'te\b',s))

<re.Match object; span=(11, 13), match='te'>

In [27]:
s='deloitte helpline 1800'
print(re.search(r'\d', s))

<re.Match object; span=(18, 19), match='1'>

In [28]:
print(re.search(r'\d{3}', s))

<re.Match object; span=(18, 21), match='180'>

In [30]:
s='Alexa! recharge my mobile +91-9808766699'
print(re.search(r'\d{10}', s))

<re.Match object; span=(30, 40), match='9808766699'>

In [32]:
s='Alexa! recharge my mobile +91-9808766699'
print(re.search(r'\D*', s))

<re.Match object; span=(0, 27), match='Alexa! recharge my mobile +'>

In [37]:
s='Alexa! recharge           my mobile +91-9808766699'
print(re.search(r'\s{5}', s))

<re.Match object; span=(15, 20), match='     '>

In [35]:
s='Alexa! recharge my mobile +91-9808766699'
print(re.search(r'\S*', s))

<re.Match object; span=(0, 6), match='Alexa!'>

In [38]:
s='Alexa! recharge my mobile +91-9808766699'
print(re.search(r'\W', s))

<re.Match object; span=(5, 6), match='!'>

In [40]:
s='Alexa! recharge my mobile +91-9808766699'
print(re.search(r'\w*', s))

<re.Match object; span=(0, 5), match='Alexa'>

#### findall()

In [41]:
s='Alexa! recharge my mobile +91-9808766699'
print(re.findall(r'\d', s))

['9', '1', '9', '8', '0', '8', '7', '6', '6', '6', '9', '9']

In [42]:
s='Alexa! recharge my mobile +91-9808766699 and +91-9837772595'
print(re.findall(r'\d{10}', s))

['9808766699', '9837772595']

In [43]:
s='Alexa! recharge my mobile +91-9808766699'
print(re.findall(r'\W', s))

['!', ' ', ' ', ' ', ' ', '+', '-']

In [46]:
s='Alexa! recharge my mobile +91-9808766699'
print(re.findall(r'\w+', s))

['Alexa', 'recharge', 'my', 'mobile', '91', '9808766699']

#### compile()

In [47]:
pattern=re.compile('\d{2}-\d{2}-\d{4}')

In [48]:
s='my birthday falls on 14-02-2023'

In [49]:
print(pattern.search(s))

<re.Match object; span=(21, 31), match='14-02-2023'>

In [50]:
print(pattern.findall(s))

['14-02-2023']

In [52]:
s='''I am good. how are you? do you know what is date today?
I'm sure you know that date is 16.'''
pattern=re.compile('\w+')
print(pattern.findall(s))

['I', 'am', 'good', 'how', 'are', 'you', 'do', 'you', 'know', 'what', 'is', 'date', 'today', 'I', 'm', 'sure', 'you', 'know', 'that', 'date', 'is', '16']

#### split()

In [53]:
s='hello how are you? I am feeling good!'
print(re.split('\W+', s))

['hello', 'how', 'are', 'you', 'I', 'am', 'feeling', 'good', '']

In [54]:
s='hello how are you? I am feeling good!'
print(re.split('\s', s))

['hello', 'how', 'are', 'you?', 'I', 'am', 'feeling', 'good!']

#### sub()

In [55]:
# substitute substring

In [56]:
s="I like to ride Uber cabs. Uber is better!"

print(re.sub('Uber', 'Ola', s))

I like to ride Ola cabs. Ola is better!

In [58]:
s="I like to ride Uber cabs. Uber is better!"

print(re.sub('UBER', 'OLA', s, flags=re.IGNORECASE))

I like to ride OLA cabs. OLA is better!

In [59]:
s="I like to ride Uber cabs. Uber is better!"

print(re.sub('UBER', 'OLA', s, flags=re.IGNORECASE, count=1))

I like to ride OLA cabs. Uber is better!

### search()

In [61]:
s='I am not available tomorrow, i.e. on 15 February.'

pattern=r'(\d+) ([A-Za-z]+)'

match=re.search(pattern, s)

print(match)

<re.Match object; span=(37, 48), match='15 February'>

In [62]:
print(match.start(), match.end())

37 48

In [63]:
print(match.group(0))

15 February

In [64]:
print(match.group(1))

15

In [65]:
print(match.group(2))

February

#### Example

In [66]:
# find the email id & extract from the statement string.

s='my email id is prateek9090@deloitte.com. you can text me details here.'

In [69]:
pattern=r'([A-Za-z0-9]+)(@deloitte.com)'
match=re.search(pattern, s)
print('Email: ',match.group(0))
print('Username: ',match.group(1))
print('Domain: ',match.group(2)[1:])

Email:  prateek9090@deloitte.com
Username:  prateek9090
Domain:  deloitte.com

### Practice

In [71]:
# consider an input from user which is comma separated numbers/integers
# ceate a list from the input string
# then do the following:
# find the distance of all numbers from maximum number in the list
# print all such preceding number pairs and then 
# find maximum distance

#INPUT: '1,3,7,2,4,15,6,8'
# Example: [1,3,7,2,4,15,6,8]
# Pairs=>(max, element)=distance 
    # (15,1)=14,(15,3)=12,(15,7)=8,(15,2)=13,(15,4)=11
# max distance=> = 14

In [73]:
data=[int(x) for x in input().split(',')]
mx=max(data)
idx=data.index(mx)
dist=[]
for i in range(idx):
    dist.append(mx-data[i])
    print(f'({mx} , {data[i]}) = {mx-data[i]}')
print(f'Max Distance= {max(dist)}')

1,3,7,2,4,15,6,8
(15 , 1) = 14
(15 , 3) = 12
(15 , 7) = 8
(15 , 2) = 13
(15 , 4) = 11
Max Distance= 14

In [74]:
# using REGEX find number of spaces, words and
# special characters from a text stored in text file

In [85]:
import re
with open('mystory.txt','r') as file:
    text=file.read()
    spaces=len(re.findall(r' ', text))
    words=len(re.findall(r'\w+', text))
    sc=len(re.findall(r'\W', text))-len(re.findall(r'\s', text))
    print(spaces, words, sc, sep=', ')

26, 30, 11

In [ ]:
#