## Python Advance Day 4

### Decorators

In [1]:
# function as an object
def message(msg):
    return msg.upper()

message('Hello Deloitte')

'HELLO DELOITTE'

In [2]:
x=message

In [3]:
x('welcome to deloitte')

'WELCOME TO DELOITTE'

In [4]:
# func as parameter to another func

def soft(text):
    return text.lower()
def loud(text):
    return text.upper()

def display(func, text):
    msg=func(text)
    print(msg)

In [5]:
display(soft, 'hello world')

hello world

In [6]:
display(loud, 'hello world')

HELLO WORLD

In [7]:
# return function from another function

def find_exp(x):
    def exp(y):
        return x**y
    return exp

In [16]:
exponential=find_exp(3)  # 5**y

In [17]:
exponential(2)    # 5**2

9

In [18]:
exponential(3)

27

In [19]:
exponential(6)

729

In [21]:
for i in range(7):
    print(f'3**{i}=>',exponential(i))

3**0=> 1
3**1=> 3
3**2=> 9
3**3=> 27
3**4=> 81
3**5=> 243
3**6=> 729

In [22]:
e2=find_exp(2) # 2**y
e3=find_exp(3) # 3**y
e4=find_exp(4) # 4**y

In [23]:
e2(8)

256

In [24]:
e3(6)

729

In [25]:
e4(9)

262144

In [26]:
# Decorator Style

In [40]:
def outer(func):
    def inner(name):
        print('Start Inner')
        ret=func()
        print(name+' '+ret)
        return 'End Inner'
        #return None
    return inner

def message():
    return 'Welcome to Deloitte!'

def new_message():
    return 'Welcome to Deloitte USI'

In [41]:
greet=outer(message)

In [42]:
greet('Prateek')

Start Inner
Prateek Welcome to Deloitte!

'End Inner'

In [43]:
greet_new=outer(new_message)
greet_new('Prateek')

Start Inner
Prateek Welcome to Deloitte USI

'End Inner'

In [44]:
# option 2
outer(message)('Prateek') # inner

Start Inner
Prateek Welcome to Deloitte!

'End Inner'

In [45]:
outer(new_message)('Sarthak')

Start Inner
Sarthak Welcome to Deloitte USI

'End Inner'

In [59]:
# option 3: decorator syntax

def outer(func):
    def inner(*args, **kwargs):
        print('Inner Function')
        print(func())
    return inner

@outer
def message():
    return 'Welcome to Deloitte!'

In [60]:
message()

Inner Function
Welcome to Deloitte!

In [63]:
def outer(func):
    def inner(*args, **kwargs):
        return func(*args, **kwargs)
    return inner

@outer
def find_sum(*args):
    print('Finding Sum of Numbers...')
    return sum(args)

In [64]:
print('Sum= ', find_sum(10,20,30,40))

Finding Sum of Numbers...
Sum=  100

In [65]:
def outer(func):
    def inner(*args, **kwargs):
        args=[int(x) for x in args]
        return func(*args, **kwargs)
    return inner

@outer
def find_sum(*args, **kwargs):
    return sum(args)

In [66]:
find_sum(10,20,30,40)

100

In [67]:
find_sum('10','20','30','60')

120

In [80]:
# Exmaple Timer of Execution

import math
import time

def timer(func):
    print('Outer')
    def inner(*args, **kwargs):
        start=time.time()
        func(*args)
        end=time.time()
        print('Time to Execute for '+func.__name__+' is: ')
        print(str(round(end-start, 2))+' seconds')
    return inner

In [81]:
@timer   # timer(run_for)
def run_for(times):
    for _ in range(times):
        for _ in range(times):
            pass
        pass
    return None

Outer

In [82]:
run_for(10000)

Time to Execute for run_for is:
1.12 seconds

In [88]:
@timer
def cal_over_list():
    l1=[x for x in range(1000000)]
    l2=[x for x in range(1000000)]
    l3=l1+l2
    print(len(l3))

Outer

In [89]:
cal_over_list()

2000000
Time to Execute for cal_over_list is:
0.14 seconds

In [1]:
from db_learn import *

In [2]:
@insert
def insert_record(eid, fname, lname, doj, city, salary, table):
    sql=f'insert into {table} values({eid}, "{fname}", "{lname}", "{doj}", "{city}", {salary})'
    return sql

In [3]:
insert_record(909, 'Prateek', 'V','2023-01-01', 'Bangalore', 25000, 'employee')

Starting DB Connection...
Inserting Values...
Data Inserted!
Closing DB Connection...
Connections Closed!

In [11]:
import colorama
from colorama import Fore, Back, Style

print(Fore.RED+'hello in RED Color')
print(Fore.BLUE+'My Blue color text')
print(Back.YELLOW+'This is blue and yellow')
print(Back.BLACK+Fore.WHITE+'black and White text!!!')
print(Style.RESET_ALL)
print('Normal Text')

hello in RED Color
My Blue color text
This is blue and yellow
black and White text!!!

Normal Text

### Unit testing using PyTest

### Automation Testing for WebApps using Selenium

In [12]:
! pip install selenium

Requirement already satisfied: selenium in c:\users\pvashishtha\anaconda3\lib\site-packages (4.4.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\pvashishtha\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\pvashishtha\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio~=0.17 in c:\users\pvashishtha\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: sniffio in c:\users\pvashishtha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\pvashishtha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\pvashishtha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\pvashishtha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\pvashishtha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: idna in c:\users\pvashishtha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: attrs>=19.2.0 in c:\users\pvashishtha\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: pycparser in c:\users\pvashishtha\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\pvashishtha\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\pvashishtha\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\pvashishtha\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\pvashishtha\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\pvashishtha\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\users\pvashishtha\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\pvashishtha\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [14]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

In [26]:
driver=webdriver.Chrome()
driver.get("https://www.amazon.in")

In [27]:
element=driver.find_element(By.NAME, "field-keywords")
element.clear()
element.send_keys("iphone 14 pro")

In [28]:
element.send_keys(Keys.RETURN)

In [29]:
assert "RESULTS" in driver.page_source

In [31]:
driver.close()

InvalidSessionIdException: Message: invalid session id
Stacktrace:
Backtrace:
	(No symbol) [0x00AA37D3]
	(No symbol) [0x00A38B81]
	(No symbol) [0x0093B230]
	(No symbol) [0x00960758]
	(No symbol) [0x0098B316]
	(No symbol) [0x00988092]
	(No symbol) [0x00987544]
	(No symbol) [0x00915427]
	(No symbol) [0x00915B0E]
	(No symbol) [0x00915EEA]
	GetHandleVerifier [0x00D1ABF2+2510930]
	GetHandleVerifier [0x00D48EC1+2700065]
	GetHandleVerifier [0x00D4C86C+2714828]
	GetHandleVerifier [0x00B53480+645344]
	(No symbol) [0x00A40FD2]
	(No symbol) [0x0091516A]
	(No symbol) [0x00914B96]
	GetHandleVerifier [0x00D68C9C+2830588]
	BaseThreadInitThunk [0x75C200F9+25]
	RtlGetAppContainerNamedObjectPath [0x77017BBE+286]
	RtlGetAppContainerNamedObjectPath [0x77017B8E+238]

### Cloud Storage Access

#### Working with AWS Cloud S3 Service

In [ ]:
! pip install boto3

In [1]:
import boto3

In [6]:
AWS_REGION="ap-south-1"
ACCESS_KEY="AKIAQGE6GFVDNHE2XCVI"
SECRET_KEY="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"

In [7]:
client=boto3.client("s3",
                   aws_secret_access_key=SECRET_KEY,
                   aws_access_key_id=ACCESS_KEY,
                   region_name=AWS_REGION)

In [9]:
# List buckets

response=client.list_buckets()
print('Listing Account S3 Buckets...')
for bucket in response['Buckets']:
    print(f'-- {bucket["Name"]}')

Listing Account S3 Buckets...
-- data-pv-101
-- del-cloud-access
-- deloitte-dta
-- studyzone.com

In [10]:
# create bucket

bucket_name="mybucket-181911"
location={"LocationConstraint":AWS_REGION}
response=client.create_bucket(Bucket=bucket_name,
                             CreateBucketConfiguration=location)
print("Amazon S3 bucket created!")

Amazon S3 bucket created!

In [11]:
# upload file to s3
def upload_files(file_name, bucket, object_name=None, args=None):
    if object_name is None:
        object_name=file_name
    client.upload_file(file_name, bucket, object_name, ExtraArgs=args)
    print(f"'{file_name}' has been uploaded to '{bucket}'")
    
upload_files('mydata.json', 'mybucket-181911')
upload_files('mystory.txt', 'mybucket-181911')

'mydata.json' has been uploaded to 'mybucket-181911'
'mystory.txt' has been uploaded to 'mybucket-181911'

In [13]:
# download file from s3
s3_resource=boto3.resource("s3",
                          aws_secret_access_key=SECRET_KEY,
                   aws_access_key_id=ACCESS_KEY,
                   region_name=AWS_REGION)

s3_object=s3_resource.Object('mybucket-181911', 'panda.jpg')
s3_object.download_file('panda.jpg')
print('File Downloaded!')

File Downloaded!

### Advance File Handling

In [2]:
# working with CSV

In [4]:
import pandas as pd
data=pd.read_csv('marks.csv', delimiter=',')
data

   RollNo      Name  Marks
0     101   Prateek     27
1     102      Amit     29
2     103    Simant     23
3     104     Sumit     22
4     105     Rohit     28
5     106     Sunny     18
6     107  Himanshu     14

In [6]:
data['%age']=round(data['Marks']/30*100,2)

In [7]:
data

   RollNo      Name  Marks   %age
0     101   Prateek     27  90.00
1     102      Amit     29  96.67
2     103    Simant     23  76.67
3     104     Sumit     22  73.33
4     105     Rohit     28  93.33
5     106     Sunny     18  60.00
6     107  Himanshu     14  46.67

In [8]:
import csv

In [12]:
rows=[]
with open('marks.csv') as file:
    csvreader=csv.reader(file, delimiter=',')
    
    for row in csvreader:
        rows.append(row)
        
for row in rows:
    print(f'{row[0]} {row[1]} {row[2]}')

RollNo Name Marks
101 Prateek 27
102 Amit 29
103 Simant 23
104 Sumit 22
105 Rohit 28
106 Sunny 18
107 Himanshu 14

In [17]:
write=csv.writer(open('marks_output.csv', 'w'))
for row in rows:
    print(row)
    write.writerow(row)

['RollNo', 'Name', 'Marks']
['101', 'Prateek', '27']
['102', 'Amit', '29']
['103', 'Simant', '23']
['104', 'Sumit', '22']
['105', 'Rohit', '28']
['106', 'Sunny', '18']
['107', 'Himanshu', '14']

In [18]:
# working with JSON

In [19]:
import json

In [20]:
# sample:

x='{"name":"prateek", "dept":"DTA"}'

# parse

y=json.loads(x)
y

{'name': 'prateek', 'dept': 'DTA'}

In [21]:
y['name']

'prateek'

In [22]:
data=pd.read_json('mytext.json')
data

      Name  Marks
1  prateek     90
2    rohit     98
3    sumit     78
4    sunny     87

In [23]:
with open('mytext.json') as file:
    data=json.loads(file.read())
    data

In [24]:
data['Name']['1']

'prateek'

#### Parsing XML Files

In [25]:
import xml.etree.ElementTree as ET

In [26]:
tree=ET.parse("server.xml")

In [27]:
root=tree.getroot()
root

In [33]:
for item in root.iter('server'):
    for name in item.iter('ip'):
        print('IP: '+name.text)
    for name in item.iter('services2'):
        for val in name.iter('type'):
            print('Service: '+val.text)
        for val in name.iter('port'):
            print('Port: '+val.text)

IP: 10.11.23.254
Service: https
Port: 443

In [34]:
# beautifulsoup
from bs4 import BeautifulSoup as bs

In [35]:
with open('server.xml') as f:
    data=f.read()
all_data=bs(data, 'xml')
tag_data=all_data.find_all('ip')
print(tag_data)

[<ip>10.11.23.254</ip>]

In [36]:
tag_data=all_data.find_all('type')
print(tag_data)

[<type>http</type>, <type>https</type>]

In [37]:
tag_data=all_data.find_all('port')
print(tag_data)

[<port>80</port>, <port>443</port>]

In [38]:
tag_data=all_data.find_all('dns')
print(tag_data)

[<dns>8.8.8.8</dns>]

In [39]:
import requests
import time
for i in range(10):
    response=requests.get('https://api.coindesk.com/v1/bpi/currentprice.json')
    d=response.json()
    print(d['time']['updated'], d['chartName'], d['bpi']['USD']['rate'])
    time.sleep(5)

Feb 16, 2023 11:41:00 UTC Bitcoin 24,537.5069
Feb 16, 2023 11:41:00 UTC Bitcoin 24,537.5069
Feb 16, 2023 11:41:00 UTC Bitcoin 24,537.5069
Feb 16, 2023 11:41:00 UTC Bitcoin 24,537.5069
Feb 16, 2023 11:41:00 UTC Bitcoin 24,537.5069
Feb 16, 2023 11:42:00 UTC Bitcoin 24,533.0004
Feb 16, 2023 11:42:00 UTC Bitcoin 24,533.0004
Feb 16, 2023 11:42:00 UTC Bitcoin 24,533.0004
Feb 16, 2023 11:42:00 UTC Bitcoin 24,533.0004
Feb 16, 2023 11:42:00 UTC Bitcoin 24,533.0004