### Python Basics Day 2

In [5]:
# write a program to find if the given username contains
# any vowel or not

x=input().lower()
if 'a' in x or 'e' in x or 'i' in x or 'o' in x or 'u' in x:
    print('Vowel Found')
else:
    print('No Vowel')

prateek
Vowel Found

In [6]:
# write a code to print given string in reverse order
s=input()
print(s[::-1])

prateek
keetarp

In [7]:
s='deloitte'
print(s[::-1])

ettioled

In [9]:
print(s[::2])

dlit

In [11]:
# validate a password for having:
# First character as uppercase alphabet, and
# an underscore symbol as mandatory symbol anywhere

password=input()

if 65<=ord(password[0])<=90 and '_' in password:
    print('Valid')
else:
    print('Invalid')

Pr_teek
Valid

In [12]:
password=input()

if password[0].isupper() and '_' in password:
    print('Valid')
else:
    print('Invalid')

Pr_teek
Valid

### Loop Control

##### While Loop

In [15]:
i=0
while i<5:
    print('Iteration: ',i)
    i+=1
print('After Loop')

Iteration:  0
Iteration:  1
Iteration:  2
Iteration:  3
Iteration:  4
After Loop

In [17]:
s=input()
i=0
while i<len(s):
    print(f'char at {i} is: {s[i]}')
    i+=1
print('After Loop')

prateek
char at 0 is: p
char at 1 is: r
char at 2 is: a
char at 3 is: t
char at 4 is: e
char at 5 is: e
char at 6 is: k
After Loop

In [18]:
# Write a code to print given long integer in reverse
n=int(input())
while n>0:
    print(n%10, end='')
    n=n//10

87969
96978

In [19]:
n=int(input())
print(int(str(n)[::-1]))

7889
9887

#### range() function

In [21]:
# range(n) - n is integer
# enumerate imtegers from 0 to n-1

x=iter(range(10))

In [32]:
next(x)

StopIteration:

In [33]:
# range(m,n) - enumerates from m to n-1

x=iter(range(10, 15))

In [38]:
next(x)

14

In [39]:
# range(m, n, k) - enumerate form m to n-1 with increment
# of 'k'
x=iter(range(10,20,3))

In [43]:
next(x)

19

### for loop

In [44]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [45]:
for num in range(10,15):
    print(num)

10
11
12
13
14

In [46]:
for num in range(10,20,3):
    print(num)

10
13
16
19

In [47]:
s='deloitte'
x=iter(s)

In [52]:
next(x)

'i'

In [53]:
for char in 'deloitte':
    print(char, end=' ')

d e l o i t t e

#### while - else

In [56]:
i=10
while i<5:
    print(i, end='\t')
    i+=1
else:
    print('\nWhile has ended')
print('After while-else')

While has ended
After while-else

In [57]:
# Write a code to print:
# *
# * *
# * * *
# * * * *
# * * * * *
# * * * * * *

n=int(input('Enter No. of Lines: '))
i=1
while i<=n:
    print('* '*i)
    i+=1

Enter No. of Lines: 6
*
* *
* * *
* * * *
* * * * *
* * * * * *

In [58]:
# Write a code to print:

     #
    ##
   ###
  ####
 #####
######

n=int(input('Enter no. of lines: '))
i=1
while i<=n:
    print(' '*(n-i), end='')
    print('#'*i)
    i+=1

Enter no. of lines: 5
    #
   ##
  ###
 ####
#####

In [60]:
n=int(input('Enter no. of lines: '))
for i in range(1,n+1):
    print(('#'*i).rjust(n))

Enter no. of lines: 5
    #
   ##
  ###
 ####
#####

In [67]:
# Write a code to print

#     1     
#    2 2    
#   3 3 3   
#  4 4 4 4
# 5 5 5 5 5

n=int(input('Enter no. of lines: '))
for i in range(1, n+1):
    print(' '*(n-i), (str(i)+' ')*i)

Enter no. of lines: 8
        1
       2 2
      3 3 3
     4 4 4 4
    5 5 5 5 5
   6 6 6 6 6 6
  7 7 7 7 7 7 7
 8 8 8 8 8 8 8 8

In [68]:
# Write a code to count number of 
# vowels and consonents in a sentence.

s=input()
v=0
c=0
for char in s.lower():
    if char.isalpha():
        if char in 'aeiou':
            v+=1
        else:
            c+=1
print('Vowels: ',v)
print('Consonents: ',c)

hey i am not feeling good!
Vowels:  9
Consonents:  11

In [75]:
# Write a code to calculate factorial of a number
# factorial=n*(n-1)*(n-2)....2*1

# factorial of 5 is 5*4*3*2*1 = 120

n=int(input())
temp=n
fact=1
while n>0:
    fact*=n
    n-=1
print(f'Factorial {temp} = {fact}')

5
Factorial 5 = 120

In [86]:
# Write a program code to find whetehr a given
# number is prime number or not?

num=int(input())
flag=0
for n in range(2,num):
    if num%n==0:
        flag=1
        print('Not Prime')
        break
if flag!=1:
    print('Prime')

13
Prime

In [87]:
num=int(input())
for n in range(2,num):
    if num%n==0:
        print('Not Prime')
        break
else:
    print('Prime')

13
Prime

In [97]:
# Write a code to generate and print fibonacci series
# N numbers
# e.g.  0,1,1,2,3,5,8,13,21,34,55,89.....

N=int(input())
prev1=0
prev2=1
print(prev1,prev2,sep=',',end='')
for i in range(N-2):
    cur=prev1+prev2
    prev1=prev2
    prev2=cur
    print(',',cur, sep='',end='')

10
0,1,1,2,3,5,8,13,21,34

In [ ]:
# Print Arithmetic progression series of N terms
# nth_term= A+(n-1)*D

N=int(input('No. of Terms: '))
D=int(input('Difference: '))
A=int(input('Starting: '))
cur=0
for i in range(1,N+1):
    cur=A+(i-1)*D
    print(cur, end=' ')

### Functions

In [103]:
def message():
    print('hello world from a function')
    return None

In [104]:
message()

hello world from a function

In [106]:
def find_sum(x, y):
    summ=x+y
    return summ

x=find_sum(34,56)
print('Sum is: ',x)

Sum is:  90

In [110]:
# write a function that returns boolean status for
# number on whether it is prime or not?
def is_prime(num):
    for n in range(2, num):
        if num%n==0:
            return False
    else:
        return True

is_prime(13)

True

In [113]:
for i in range(2,100):
    if is_prime(i):
        print(i, '=> Prime')

2 => Prime
3 => Prime
5 => Prime
7 => Prime
11 => Prime
13 => Prime
17 => Prime
19 => Prime
23 => Prime
29 => Prime
31 => Prime
37 => Prime
41 => Prime
43 => Prime
47 => Prime
53 => Prime
59 => Prime
61 => Prime
67 => Prime
71 => Prime
73 => Prime
79 => Prime
83 => Prime
89 => Prime
97 => Prime

##### Default Arguments

In [115]:
def add_nums(x,y,z=20):
    return x+y+z

add_nums(10,13,14)

37

In [116]:
add_nums(10,15)

45

In [117]:
def greet(name, company='Deloitte'):
    return f'Welcome {name} to {company}'

greet('Prateek','USI')

'Welcome Prateek to USI'

In [118]:
greet('Prateek')

'Welcome Prateek to Deloitte'

In [119]:
def greet(company='Deloitte', name):
    return f'Welcome {name} to {company}'

SyntaxError: non-default argument follows default argument (1336941433.py, line 1)

#### Keyword Arguments

In [120]:
def greet(name, company):
    return f'Welcome {name} to {company}'

In [122]:
greet(company='deloitte',name='prateek')

'Welcome prateek to deloitte'

In [ ]:
# write a function that return factorial of a number
def fact(n):
    factorial=1
    for i in range(1,n+1):
        factorial*=i
    return factorial

fact(7)

#### Recursion in Functions
A phenomena where function calls itself during execution.
The intermediate return results are kept in stacka and
all are purged out to get final result.

In [125]:
def fact(n):
    if n<=1:
        return 1
    else:
        return n*fact(n-1)

fact(6)

720

In [127]:
# write a code using recursion to generate 
# fibonacci series of N terms

def fib(n):
    if n<=1:
        return n
    else:
        return fib(n-1)+fib(n-2)
    
N=int(input('Enter no of terms: '))
for i in range(N):
    print(fib(i), end=' ')

Enter no of terms: 10
0 1 1 2 3 5 8 13 21 34

In [128]:
# write a function that finds whether entered 3 digit 
# number is amstrong or not.
# An number is amstrong if sum of cube of its digits is 
# same as number itself
# example: 371=> 3**3 + 7**3 + 1**3 = 371
# if number is not 3 digit, print 'INVALID'
# if number is 3 digit and not amstrong, 
#   print 'NOT AMSTRONG'
# else print "AMSTRONG"

def amstrong(n):
    if 100<=n<=999:
        summ=0
        temp=n
        while n>0:
            summ+=(n%10)**3
            n=n//10
        if summ==temp:
            print('AMSTRONG')
        else:
            print('NOT AMSTRONG')
    else:
        print('INVALID')

In [133]:
amstrong(8299)

INVALID

In [139]:
def amstrong(n):
    if len(str(n))==3:
        s=str(n)
        summ=int(s[0])**3 + int(s[1])**3 + int(s[2])**3
        if summ==n:
            print('AMSTRONG')
        else:
            print("NOT AMSTRONG")
    else:
        print('INVALID')

In [140]:
amstrong(3781)

INVALID

In [142]:
# Find all 3 digit AMSTRONG numbers
def amstrong(n):
    if 100<=n<=999:
        summ=0
        temp=n
        while n>0:
            summ+=(n%10)**3
            n=n//10
        if summ==temp:
            print(temp)        
for i in range(100,1000):
    amstrong(i)

153
370
371
407

### Lambda Functions

In [143]:
# lambda <args>:<expr>

summ = lambda x,y : x+y

In [144]:
summ(3,4)

7

In [145]:
def find_power(n):
    return lambda x:x**n

In [148]:
sqr=find_power(2)  # lambda x:x**2
cube=find_power(3) # lambda x:x**3
p4=find_power(4)   # lambda x:x**4

In [149]:
sqr(4)

16

In [150]:
cube(9)

729

In [151]:
p4(3)

81

### Generators

In [170]:
def get_integers(n):
    for i in range(n):
        yield i**2

In [171]:
vals=get_integers(100)

In [172]:
vals

In [173]:
for value in vals:
    print(value, end=' ')

0 1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400 441 484 529 576 625 676 729 784 841 900 961 1024 1089 1156 1225 1296 1369 1444 1521 1600 1681 1764 1849 1936 2025 2116 2209 2304 2401 2500 2601 2704 2809 2916 3025 3136 3249 3364 3481 3600 3721 3844 3969 4096 4225 4356 4489 4624 4761 4900 5041 5184 5329 5476 5625 5776 5929 6084 6241 6400 6561 6724 6889 7056 7225 7396 7569 7744 7921 8100 8281 8464 8649 8836 9025 9216 9409 9604 9801

In [174]:
gen=get_integers(10)

In [177]:
next(gen)

4

In [183]:
# A naughty boy has a hopping hop, he moves all over 
# places in a specific pattern.
# He moves 1 step in first hop
# He moves 2 step in second hop
# He moves 3 step in third hop
# He then repeats the pattern forever.

# Given certain number of hops, and starting position
# assumed as '0', find the position he will reach.

def find_position(hops):
    complete_cycle=hops//3
    remaining_hops=hops%3
    if remaining_hops==0:
        print('Position: ', complete_cycle*6)
    elif remaining_hops==1:
        print('Position: ', complete_cycle*6+1)
    elif remaining_hops==2:
        print('Position: ', complete_cycle*6+3)
    else:
        pass
find_position(100)

Position:  199

In [192]:
# for a given position, determine whether it is reachable
# using the pattern of naughty boy or not

def reachable(pos):
    if pos%3==0 or pos%6==1:
        print('Reachable')
    else:
        print('Not reachable')
reachable(4)

Not reachable

In [206]:
# write a function "validate(password)" that accepts 
# user password and checks for validation as follows:
# 1. It must have upper case letter (A-Z)
# 2. It must have lower case letter (a-z)
# 3. Length must be between 8 and 16 (both included)
# 4. Must have special character BUT only among
#      '#' , '@' , '_'
# 5. Must have atleast one digit (0-9)

# if it follows all critria, return TRUE else FALSE

def validate(password):
    f_upper=0
    f_lower=0
    f_num=0
    f_sc=0
    if 8<=len(password)<=16:
        for char in password:
            if ord(char) in range(65,91):
                f_upper=1
            if ord(char) in range(97, 123):
                f_lower=1
            if char.isdigit():
                f_num=1
            if char in '@#_':
                f_sc=1
        if f_upper==1 and f_lower==1 and f_num==1 and f_sc==1:
            return True
        else:
            return False
    else:
        return False

In [209]:
validate('pv1811A@A')

True

In [214]:
# Write a python function alternate(s) that accepts a 
# string and converts it as follows:

# If string has EVEN length, then it should start with
# Upper case letter and print alternate character as
# upper case and remaining alternate as lower

# If string has ODD length, then it should start with
# Lower case letter and print alternate character as
# Lower case and remaining alternate as Upper

# Example: prateek => length=7 Output=> pRaTeEk

def alternate(s):
    new_str=''
    if len(s)%2==0:
        for idx in range(len(s)):
            if idx%2==0:
                new_str+=s[idx].upper()
            else:
                new_str+=s[idx].lower()
    else:
        for idx in range(len(s)):
            if idx%2!=0:
                new_str+=s[idx].upper()
            else:
                new_str+=s[idx].lower()
    
    return new_str

In [215]:
alternate('prateek')

'pRaTeEk'